{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Multimedia" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Multimedia" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-camera'></i> {% trans "Multimedia" %}</h2>
        <div class='pull-right'>
            <a href="{% url 'create_media' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Media" %}</a>
        </div>
</div>

<div class='body'>
    <ul class="nav nav-tabs" id='tab'>
        <li class="{% if actions.filter_owner == 'user' or not actions.filter_owner %}active{% endif %}">
            <a href="#tab-my" onclick="filter_owner('user')" data-toggle="tab">
            <strong>{% trans "My medias" %}</strong>
            {% if actions.filter_owner == 'user' or not actions.filter_owner %}
                <span class="badge badge-info">{{ paginator.count }}</span>
            {% endif %}
            </a>
        </li>
        <li class="{% if actions.filter_owner == '*' %}active{% endif %}">
            <a href="#tab-network" onclick="filter_owner('*')" data-toggle="tab">
                <strong>{% trans "All medias" %}</strong>
               {% if  actions.filter_owner == '*' %}
                   <span class="badge badge-info">{{ paginator.count }}</span>
               {% endif %}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="span-4">
                    <div class="input-append" style="margin-left: 10px">
                        <form name="search">
                            <input type="hidden" name="page" value="">

                            {% if actions.filter_owner == '*' %}
                                <input type="hidden" name="filter_owner" value="*"/>
                            {% elif actions.filter_owner == 'network' %}
                                <input type="hidden" name="filter_owner" value="network"/>
                            {% endif %}
                            <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">&nbsp;

                            {% trans "Status" %}:
                            <select name="filter_status">
                                <option value="">{% trans "All" %}</option>
                                <option value="0" {% if actions.filter_status == '0' %}selected="true"{% endif %}>{% trans "Pending" %}</option>
                                <option value="1" {% if actions.filter_status == '1' %}selected="true"{% endif %}>{% trans "Admitted" %}</option>
                                <option value="2" {% if actions.filter_status == '2' %}selected="true"{% endif %}>{% trans "Refused" %}</option>
                                <option value="3" {% if actions.filter_status == '3' %}selected="true"{% endif %}>{% trans "Deleted" %}</option>
                            </select>
                            <button class="btn" type="submit"><i class='icon-search'></i></button>

                            {% if actions.filter_owner == '*' %}
                                <a href="javascript:void()" id="show_advaced_filters">{% trans "Filters" %}</a>
                            {% endif %}

                            <div class="advanced_filters {% if not show_advaced_filters and not actions.filter_collection %}hide{% endif %}">
                                {% if user_filter_list %}
                                    {% trans "User" %}:
                                    <select name="filter_created_by_user">
                                        <option value="">{% trans "All" %}</option>
                                        {% for user in user_filter_list %}
                                            <option value="{{ user.id }}" {% if actions.filter_created_by_user|add:"0" == user.id %}selected="true"{% endif %}>{{ user }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}

                                {% trans "Cooperative center" %}:
                                <select name="filter_created_by_cc">
                                    <option value="">{% trans "All" %}</option>
                                    {% for center in cc_filter_list %}
                                        <option value="{{ center }}" {% if actions.filter_created_by_cc == center %}selected="true"{% endif %}>{{ center }}</option>
                                    {% endfor %}
                                </select>

                                {% trans "Thematic area" %}:
                                <select name="filter_thematic">
                                    <option value="">{% trans "All" %}</option>
                                    {% for thematic in thematic_list %}
                                        <option value="{{ thematic.id }}" {% if actions.filter_thematic|add:"0" == thematic.id %}selected="true"{% endif %}>{{ thematic }}</option>
                                    {% endfor %}
                                </select>

                                {% trans "Collection" %}:
                                <select name="filter_collection" class="input-xxlarge">
                                    <option value="">{% trans "All" %}</option>
                                    {% for col in collection_list %}
                                        {# skip first level collections (e-bluinfo, etc) and community levels #}
                                        {% if col.parent and not col.community_flag %}
                                            <option value="{{ col.id }}" {% if actions.filter_collection|add:"0" == col.id %}selected="true"{% endif %}>{{ col.community_collection_path }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                <button class="btn" type="submit" name="apply_filters" value="true"><i class='icon-refresh'> {% trans "Apply" %}</i></button>
                            </div>

                        </form>
                    </div>
                </div>
                {% if actions.filter_owner == 'network' and user_data.networks %}
                    <div class="span-4">
                        {% trans "Networks" %} : {{ user_data.networks|join:", " }}
                    </div>
                {% endif %}
            </div>

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Title" %}</a></th>
                    <th><a href="javascript:orderby('type');" id="id_type">{% trans "Media type" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for media in medias %}
                        <tr>
                            <td><a href="{% url 'edit_media' media.id %}">{{ media.id }}</a></td>
                            <td><span title="{{ media.title }}">{{ media.title|slice:"50" }}{% if media.title|length > 50 %}...{% endif %}</span></td>
                            <td>{{ media.media_type }}</a></td>
                            <td>
                                {% if media.status == 0 %}
                                    <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                {% elif media.status == 1 %}
                                    <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                {% elif media.status == 2 %}
                                    <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                {% elif media.status == 3 %}
                                    <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'edit_media' media.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                                {% if media.created_by_id = user.id %}
                                    <a href="{% url 'delete_media' media.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination_generic.html" %}

            {% if paginator.num_pages > 1 %}
            <div class="pagination input-append">
                <form>
                    {% if actions.filter_owner == '*' %}
                        <input type="hidden" name="filter_owner" value="*">
                    {% elif actions.filter_owner == 'network' %}
                        <input type="hidden" name="filter_owner" value="network">
                    {% endif %}
                    <input type="hidden" name="filter_created_by_cc"  value="{{ actions.filter_created_by_cc }}">
                    <input type="hidden" name="filter_created_by_user"  value="{{ actions.filter_created_by_user }}">
                    <input type="hidden" name="filter_status" value="{{ actions.filter_status }}">
                    <input type="hidden" name="filter_thematic" value="{{ actions.filter_thematic }}">
                    <input type="hidden" name="s" value="{{ actions.s }}">

                    {% trans "Go to page" %}:&nbsp;
                    <input type="text" name="page" value="{{ actions.page }}" class="span1">
                    <button class="btn btn-primary" type="submit"><i class='icon-ok'></i></button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
