{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Delete media type" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'list_media' %}">{% trans "Media type" %}</a> <span class="divider">/</span></li>
    <li>{% trans "Delete media Type" %}</li>
{% endblock %}

{% block content %}

<div class='header'>
    <h2><i class='icon-camera'></i>{% trans "Delete media type" %}</h2>
</div>

<div class='body'>
    <form method="POST" class="media-form">
        <blockquote>
            <h3>{{ object.name }}</h3>
        </blockquote>
        
        {% csrf_token %}

        <div class="alert">
            <p><strong>{% trans "Are you sure to delete?" %}</strong></p>
            <a href="{% url 'list_mediatypes'%}" class="btn">{% trans 'No' %}</a>
            <input type="submit" class="btn btn-danger delete" value="{% trans 'Yes' %}"></input>
        </div>
        
    </form>
</div>

{% endblock %}