{% extends "base.html" %}
{% load i18n %}

{% block top %}{% endblock %}

{% block title %}{% trans "Media collection" %} | {{ block.super }}{% endblock %}

{% block breadcrumb_wrap %}{% endblock %}

{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<div class="row">
    <div class="span8">
        <div class="input-append">
            <form name="search" onSubmit="return search();">
                <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">
                <button class="btn" type="submit"><i class='icon-search'></i></button>
            </form>
        </div>
    </div>
    <div class='span3'>
        <a href="{% url 'create_mediacollection' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Media collection" %}</a>
    </div>
</div>


<div class='body'>

    <h3>{% trans "Select media collection" %}</h3>
    <table class='table'>
        <thead>
            <th><a href="javascript:orderby('name');" id="id_title">{% trans "Name" %}</a></th>
            <th>{% trans "Actions" %}</th>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td><a href="#" onclick="opener.dismissRelatedLookupPopup('{{ collection.id }}', '{{ collection.name }}' ); return false;">{{ collection.name }}</a></td>
                    <td>
                        <a href="{% url 'edit_mediacollection' collection.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                        <a href="{% url 'delete_mediacollection' collection.id %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "pagination_generic.html" %}

</div>

{% endblock %}

{% block footer %}{% endblock %}