{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Edit Resource" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'main.views.list_resources' %}">{% trans "Resources" %}</a> <span class="divider">/</span></li>
    {% if is_new %}<li>{% trans "New Resource" %}</li>
    {% else %}<li>{% trans "Edit Resource" %}</li>{% endif %}
{% endblock %}

{% block content %}


<div class='header'>
    <h2><i class='icon-star'></i>{% if is_new %}{% trans "New Resource" %}{% else %}{% trans "Edit Resource" %}{% endif %}</h2>
</div>

<div class='body'>

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Data" %}</a></li>
        <li><a href="#tab-descriptors" data-toggle="tab">{% trans "Descriptors" %}</a></li>
    </ul>


    <form method="POST">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    <fieldset id="metadata">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ form.non_field_errors }}
                        {% for field in form.visible_fields %}
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}
                    </fieldset>
            </div>

            <div id='tab-descriptors' class="tab-pane">
                <fieldset id="descriptors">
                    {% if descriptor_list %}
                        <table class="table table-condensed table-striped">
                            <thead>
                                <th>{% trans "Vocabulary" %}</th>
                                <th>{% trans "Level" %}</th>
                                <th>{% trans "Text" %}</th>
                            </thead>
                            <tbody>
                            {% for descriptor in descriptor_list %}
                                <tr>
                                    <td>{{ descriptor.vocabulary }}</td>
                                    <td>{{ descriptor.level }}</td>
                                    <td>{{ descriptor.text }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div id="descriptor-{{ forloop.counter0 }}" class="descriptor-row{% if form.errors %} error{% endif %}">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <span class="descriptor-field">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                                </span>
                            {% endfor %}
                            <a href="#" onclick="javascript:decs_search('{{ field.html_name }}')";>DeCS Search</a>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </div>
                    {% endfor %}
                </fieldset>
            </div>

        </div>
        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>

   <script type="text/javascript">
        var decs_field;

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign',
                    deleteCssClass : 'icon-minus-sign',
                    prefix: '{{ formset.prefix }}'
            });

            $("#metadata").find("input[type=text], textarea, select").addClass("span6");

            $("#descriptors").find("input[name$='code'], select").addClass("span2");


            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

            // Listen to message from child window
            eventer(messageEvent,function(e) {
                $('#id_' + decs_field).val(e.data);
            },false);

        })

        function decs_search(field_name){
            decs_field = field_name;
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang=pt', 'decslookup', 'width=800,height=600');
        }

   </script>
{% endblock %}

