{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Edit Language" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'main.views.list_thematics' %}">{% trans "Language" %}</a> <span class="divider">/</span></li>
    {% if is_new %}<li>{% trans "New Language" %}</li>
    {% else %}<li>{% trans "Edit Language" %}</li>{% endif %}
{% endblock %}

{% block content %}


<div class='header'>
    <h2><i class='icon-tag'></i>{% if is_new %}{% trans "New Language" %}{% else %}{% trans "Edit Language" %}{% endif %}</h2>
</div>

<div class='body'>
    <form method="POST" class="form-inline">
        {% csrf_token %}

        <fieldset>
            <div class="well">
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "Translations" %}</legend>
            {{ formset.management_form }}
            {% for form in formset %}
                <div  id="translation-{{ forloop.counter0 }}" class="well translation-row{% if form.errors %} error{% endif %}">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <span class="translation-field">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </span>
                    {% endfor %}
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% endblock %}


{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>

   <script type="text/javascript">
        $(function() {
            $('.translation-row').formset({
                    addText : '{% trans "Add translation" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign',
                    deleteCssClass : 'icon-minus-sign',
                    prefix: '{{ formset.prefix }}'
            });
        })
   </script>
{% endblock %}
