{% extends "base.html" %}
{% load i18n %}

{% block "title" %}{% trans "Dashboard" %} | {{ block.super }}{% endblock %}

{% block content %}

    <!-- block alert -->
    {% if request.GET.message and request.GET.type %}
        <div class="alert alert-{{ request.GET.type }}">
            <button class="close" data-dismiss="alert">×</button>
            <strong>{% trans "Success!" %}</strong><br>
            {{ request.GET.message }}
        </div>
    {% endif %}

    <!--  header -->
    <div class='header'>
        <h2><i class='icon-home'></i> {% trans "Dashboard" %} <small>{{ user.username }}</small></h2>
    </div>


    <div class="row">
        <div class="span4">
            <div class="well sidebar-nav">
                <h3>{% trans "Lists" %}</h3>
                <ul class="nav nav-list">                  
                  <li><a href="{% url 'main.views.list_resources' %}">{% trans 'My resources' %}</a></li>
                  <li><a href="{% url 'main.views.list_resources' %}/?filter_owner=*">{% trans 'Network resources' %}</a></li>
                </ul>
            </div>
        </div>
        <div class="span6">
            <div class="well sidebar-nav">
                <h3>{% trans "Recent actions" %}</h3>
                <ul class="unstyled">                
                    {% for action in recent_actions %}
                        <li><i class="icon-pencil"></i> {{ action.action_time }} - {{ action }}</li>
                    {% endfor %}
                </ul>        
            </div>
        </div>
    </div>
{% endblock %}