{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Source languages" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Source languages" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-flag'></i> {% trans "Source languages" %}</h2>
        <div class='pull-right'>
            <a href="{% url 'main.views.create_edit_language' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Source Language" %}</a>
        </div>
</div>

<div class='body'>
    {% if actions.s %}
        <div>
            {% trans "Search" %}: <strong>{{ actions.s }}</strong>
            <a href="{% url 'main.views.list_languages' %}">[{% trans "clear" %}]</a>
        </div>
    {% endif %}

    <div class='pull-right'>
        <div class="input-append">
            <form name="search" onSubmit="return search();">
                <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">
                <button class="btn" type="submit"><i class='icon-search'></i></button>
            </form>
        </div>
    </div>

    <table class='table'>
        <thead>
            <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
            <th><a href="javascript:orderby('name');" id="id_title">{% trans "Name" %}</a></th>
            <th>{% trans "Actions" %}</th>
        </thead>
        <tbody>
            {% for language in languages %}
                <tr>
                    <td><a href="{% url 'main.views.create_edit_language' language.id %}">{{ language.id }}</a></td>
                    <td>{{ language.name }}</td>
                    <td>
                        <a href="{% url 'main.views.create_edit_language' language.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                        <a href="#" id="{{ language.id }}" class='btn btn-mini delete_confirm' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" %}

</div>

{% include "delete_confirm.html" %}

{% endblock %}