{% load i18n %}

<!-- INDEXING FORMSET -->
<div id='tab-descriptors' class="tab-pane">

    <fieldset id="descriptors" class="row">
        <table class="table table-condensed table-striped span8">
            <thead>
                <th>{% trans "Descriptors" %}</th>
                <th>{% trans "Primary?" %}</th>
                {% if user_can_edit %}
                    <th>{% trans "Delete?" %}</th>
                {% endif %}
            </thead>
            <tbody>

            {% if descriptor_list %}
                {% for descriptor in descriptor_list %}
                    <tr>
                        <td>{{ descriptor.text }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if user_can_edit %}
                {{ formset_descriptor.management_form }}

                {% for form in formset_descriptor %}
                    <tr id="descriptor-{{ forloop.counter0 }}" class="descriptor-row{% if form.errors %} error{% endif %} formset-row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.name == 'status' %}
                                <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="1" class="keep-field-value" />
                            {% elif field.name == 'code' %}
                                {{ field.as_hidden }}
                            {% elif field.name == 'text' %}
                                <td class="span9">
                                    {{ field.as_hidden }}
                                    <div class="input-xxlarge uneditable-input cursor-copy {% if field.value == None %}placeholder-style{% endif %}" id="label_{{ field.html_name }}" onclick="javascript:decs_search(this)">
                                        {% spaceless %}
                                        {% if field.value == None or field.value == '' %}
                                            {% trans "Select by search" %}
                                        {% else %}
                                            {{ field.value}}
                                        {% endif %}
                                        {% endspaceless %}
                                    </div>
                                </td>
                            {% elif field.name != 'DELETE' %}
                                <td class="span6">
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td class="span6">
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for form in formset_descriptor %}
                    <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name == 'text' and field.value != None %}
                            <td>{{ field.value }}</td>
                        {% elif field.name == 'primary'%}
                            <td>{% if field.value == True %}{% trans "Yes" %}{% endif %}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            </table>
        </fieldset>

        {% if settings.ANNIF_API_URL %}
            <div class="decs_suggestion">
                <a href="javascript:open_annif_suggestions('{{LANGUAGE_CODE}}')" class="btn btn-info">
                    <i class="icon icon-magic"></i> {% trans "Descriptors suggestions" %}
                </a>
            </div>
        {% endif %}

        {% for fieldset in form.fieldsets %}
            {% if fieldset.name == 'indexing' %}
                {% include "biblioref/fieldset_include.html" %}
            {% endif %}
        {% endfor %}

</div>
<!-- /INDEXING FORMSET -->
