{% load app_filters %}
{% load i18n %}

<div id='tab-researchdata' class="tab-pane">
    {% for error in formset_researchdata.non_form_errors  %}
        <p class="errorlist alert alert-error">
            {{ error|escape }}
        </p>
    {% endfor %}

    <fieldset class="{{ fieldset.classes }} accordion-body metadata" id="researchdata">
        {{ formset_researchdata.management_form }}

        {% for form in formset_researchdata %}
            {% for hidden in form.hidden_fields %}
                {% if not hidden.field|fieldtype == 'JSONField' %}
                    {{ hidden }}
                {% endif %}
            {% endfor %}
            <div id="researchdata-{{ forloop.counter0 }}" class="researchdata researchdata-row{% if form.errors %} error{% endif %} formset-row">
                <table class="table table-condensed table-striped span10">
                    <tr>
                        <td>
                            <label for="{{ form.type.auto_id }}">
                                {{ form.type.label }}
                            </label>
                            <p class="muted">{{ form.type.help_text }}</p>
                            {{ form.type.errors }}
                            {{ form.type }}

                            <p>
                                {{ form.title.label }}
                            </p>
                            {{ form.title.errors }}
                            <div class="row" id="{{form.title.html_name}}">
                                <input type="hidden" name="{{form.title.html_name}}" value="{{form.title.value}}" id="id_{{form.title.html_name}}" class="jsonfield" />
                                <div onclick="javascript:field_assist('{{form.title.name}}', this.parentNode.id)" href="javascript:void(0);">
                                    <div id="id_{{form.title.html_name}}_display" class="jsonfield_display"></div>
                                </div>
                            </div>

                            <p>
                                {{ form.description.label }}
                            </p>
                            {{ form.description.errors }}
                            <div class="row" id="{{form.description.html_name}}">
                                <input type="hidden" name="{{form.description.html_name}}" value="{{form.description.value}}" id="id_{{form.description.html_name}}" class="jsonfield" />
                                <div onclick="javascript:field_assist('{{form.description.name}}', this.parentNode.id)" href="javascript:void(0);">
                                    <div id="id_{{form.description.html_name}}_display" class="jsonfield_display"></div>
                                </div>
                            </div>

                            <label for="{{ form.link.auto_id }}">
                                {{ form.link.label }}
                            </label>
                            {{ form.link.errors }}
                            <p class="muted">{{ form.link.help_text }}</p>
                            {{ form.link }}

                            <label for="{{ form.language.auto_id }}">
                                {{ form.language.label }}
                            </label>
                            {{ form.language.errors }}
                            <p class="muted">{{ form.language.help_text }}</p>
                            {{ form.language }}

                        </td>
                        <td>
                            <div>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</div>
                        </td>
                    </tr>
                </table>
            </div>

        {% endfor %}
    </fieldset>
</div>
