{% load app_filters %}
{% load i18n %}

<div class="accordion-group">
    <div class="accordion-heading">
        {% if fieldset.legend %}
            <a class="accordion-toggle" data-toggle="collapse" data-target="#{{ fieldset.name }}">{{ fieldset.legend }}</a>
        {% endif %}
    </div>
    <fieldset class="{{ fieldset.classes }} accordion-body metadata" id="{{ fieldset.name }}">
        {% if fieldset.description %}
            <p class="description">{{ fieldset.description }}</p>
        {% endif %}
        <ul>
            {% for field in fieldset %}
                {% if not user_can_edit %}
                    {% if field.value %}
                        <blockquote>
                            <p><strong>{{ field.label }}</strong><p>
                            <p>{% display_field field %}<p>
                        </blockquote>
                    {% endif %}
                {% else %}
                    <li {{ field.row_attrs }} {% if not field.is_hidden %}id="field_{{ field.name }}"{% endif %}>
                        {% if field.name == 'status' and document_type == 'S' or field.name == 'status' and not user_can_change_status %}
                            <p>
                                {{ field.label }} :
                                {% if document_type == 'S' %}
                                    <span class="label label-success">{% trans "Series source" %}</span>
                                {% else %}
                                    {{ field.value|display_status_label }}
                                {% endif %}
                            </p>
                            {{ field.as_hidden }}
                        {% else %}
                            {% if field.label %}
                                {% if not field.is_hidden or field.field|fieldtype == 'JSONFormField' %}
                                    {% if field.field|fieldtype == 'BooleanField' %}
                                        <span>{{ field.label }}</span>
                                    {% elif field.name == 'indexed_database' %}
                                        <div class="row">
                                            <div class="span3">
                                                {% trans "Indexed in" %}
                                            </div>
                                            <div class="multiselect_buttons">&nbsp;</div>
                                            <div class="span3">
                                                <span class="multiselect_label">{% trans "Selected" %}</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <label for="{{ field.auto_id }}">
                                            {% if field.name in help_fields %}
                                                <a href="#" onclick="$('#help_modal_title').html('{{ field.label }}')" data-toggle="modal" data-target="#help_modal" data-remote="/help/view/biblioref/{{field.name}}/" class="field_with_help">{{ field.label }}</a>
                                            {% else %}
                                                {{ field.label }}
                                            {% endif %}
                                            {% if field.field.required %}
                                                <span class="mark">*</span>
                                            {% endif %}
                                        </label>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {{ field.errors }}

                            {% if field.field|fieldtype == 'JSONFormField' %}
                                <div class="row">
                                    <a onclick="javascript:field_assist('{{field.html_name}}')" href="javascript:void(0);">
                                        <ul id="id_{{field.html_name}}_display" class="jsonfield_display"></ul>
                                    </a>
                                </div>
                            {% endif %}

                            {% if field.help_text and field.help_text != 'Enter valid JSON' %}
                                <p class="muted">{{ field.help_text }}</p>
                            {% endif %}

                            {% if field.name == 'title_serial' and form.document_type.0 == 'S' %}
                                <div>
                                    {% if form.fields.title_serial.choices|length > 1 %}
                                        <select id="{{ field.auto_id }}" name="{{ field.name }}" onchange="fill_issn()">
                                        {% for value, label in form.fields.title_serial.choices %}
                                            <option value="{{ value }}"{% if field.value == value %} selected{% endif %} data-issn="{{ label|substring_after:'|' }}">{{ label|substring_before:'|' }}</option>
                                        {% endfor %}
                                        </select>
                                        {% if user_role != 'editor_llxp' %}
                                            <div>
                                                <p>{% trans "Other journal title (from refereces not indexed in LILACS)" %}</p>
                                                <input id="id_title_serial_other" maxlength="80" name="title_serial_other" type="text" value="{%if field.value and not field.value|invalues:form.fields.title_serial.choices %}{{ field.value }}{% elif form.title_serial_other.value  %}{{ form.title_serial_other.value }}{% endif %}">
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <input id="id_title_serial" maxlength="80" name="title_serial" type="text" value="{{ form.fields.title_serial.choices.0.0 }}" readonly="True">
                                    {% endif %}
                                </div>
                            {% elif field.name == 'issn' and user_role == 'editor_llxp' and form.fields.title_serial.choices|length = 1 %}
                                <input type="hidden" name="issn" id="id_issn" value="{{ form.fields.title_serial.choices.0.1|substring_after:'|' }}">
                            {% elif field.name == 'thesis_dissertation_academic_title' %}
                                {{ field }}
                                <p>
                                    <select  id="thesis_dissertation_academic_title_options" onchange="choose_controled_value(this.id, 'thesis_dissertation_academic_title')">
                                        <option value=""></option>
                                        {% for academic_title in field|auxfield %}
                                            <option value="{{ academic_title }}">{{ academic_title }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            {% elif field.name == 'thesis_dissertation_analytic_leader' %}
                                {{ field }}
                                <br/>
                                <p>
                                    {% trans 'Institution to which it is submitted' %}: <strong>{{ reference_source.thesis_dissertation_institution }}</strong>
                                </p>
                                <p>
                                    {% trans 'Academic title' %}: <strong>{{ reference_source.thesis_dissertation_academic_title }}</strong>
                                </p>
                            {% elif field.name == 'indexed_database' %}
                                <div class="row">
                                    <div class="span3">
                                        <select multiple="multiple" name="indexed_databases_available" id="multiselect">
                                            {% for value,label in form.indexed_database.field.choices %}
                                                {% if form.indexed_database.value %}
                                                    {% if not value|inintvalues:form.indexed_database.value %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="multiselect_buttons">
                                        <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="icon-chevron-right"></i></button>
                                        <br/><br/>
                                        <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="icon-chevron-left"></i></button>
                                    </div>
                                    <div class="span3">
                                       <select name="{{ field.name }}"  id="multiselect_to" class="form-control" multiple="multiple">
                                           {% for value,label in form.indexed_database.field.choices %}
                                                {% if form.indexed_database.value %}
                                                    {% if value|inintvalues:form.indexed_database.value  %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    {% if value in field.value %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endif %}
                                                {% endif %}
                                           {% endfor %}
                                       </select>
                                    </div>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}

                            {% if field.name == 'publication_type' or field.name == 'check_tags' %}
                                <a href="javascript:consult_DeCS('{{ field.auto_id }}', '{{LANGUAGE_CODE|slice:":2"}}')" >{% trans "Show DeCS definition" %}</a>
                            {% endif %}

                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </fieldset>
</div>
