{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}

{% block title %}{% trans "Bibliographic Records" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Bibliographic Records" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-file'></i> {% trans "Bibliographic Records" %}</h2>
        <div class='pull-right'>

            {% if service_role.LILDBI == 'editor_llxp' %}
                {% if references|length == 0 %}
                    <a href="{% url 'create_biblioref_source' %}?document_type=S" class='btn btn-primary'>
                {% else %}
                    <a href="{% url 'list_biblioref_sources' %}?document_type=S" class='btn btn-primary'>
                {% endif %}
            {% else %}
                <a href="{% url 'select_biblioref_type' %}" class='btn btn-primary'>
            {% endif %}
            <i class='icon-file'></i> {% trans "New Bibliographic Record" %}</a>
        </div>
</div>

<div class='body'>
    <ul class="nav nav-tabs" id='tab'>
        <li class="{% if actions.filter_owner == 'user' or not actions.filter_owner %}active{% endif %}">
            <a href="#tab-my" onclick="filter_owner('user')" data-toggle="tab">
            <strong>{% trans "My records" %}</strong>
            {% if actions.filter_owner == 'user' or not actions.filter_owner %}
                <span class="badge badge-info">{{ paginator.count }}</span>
            {% endif %}
            </a>
        </li>
        <li class="{% if actions.filter_owner == 'center' %}active{% endif %}">
            <a href="#tab-network" onclick="filter_owner('center')" data-toggle="tab">
                <strong>{% trans "Records of my center" %}</strong>
               {% if  actions.filter_owner == 'center' %}
                   <span class="badge badge-info">{{ paginator.count }}</span>
               {% endif %}
            </a>
        </li>
        <li class="{% if actions.filter_owner == '*' %}active{% endif %}">
            <a href="#tab-network" onclick="filter_owner('*')" data-toggle="tab">
                <strong>{% trans "All records" %}</strong>
                {% if  actions.filter_owner == '*' %}
                    <span class="badge badge-info">{{ paginator.count }}</span>
                {% endif %}
            </a>
        </li>
        {% if user_role != 'editor_llxp' %}
            <li class="{% if actions.filter_owner == 'indexed' %}active{% endif %}">
                <a href="#tab-network" onclick="filter_owner('indexed')" data-toggle="tab">
                    <strong>{% trans "Journals indexed by my center" %}</strong>
                   {% if actions.filter_owner == 'indexed' %}
                       <span class="badge badge-info">{{ paginator.count }}</span>
                   {% endif %}
                </a>
            </li>
        {% endif %}
        {% if user_role == 'edi' %}
            <li class="{% if actions.filter_owner == 'review' %}active{% endif %}">
                <a href="#tab-network" onclick="filter_owner('review')" data-toggle="tab">
                    <strong>{% trans "Colaboration review" %}</strong>
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            {% if actions.filter_owner != 'review' %}
                <div class="row">
                    <div class="span-4">
                        <div class="input-append" style="margin-left: 10px">
                            <form name="search">
                                <input type="hidden" name="page" value="">
                                <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">
                                <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">&nbsp;

                                {% trans "Record type" %}:
                                <select name="document_type">
                                    {% if actions.filter_owner == 'indexed' %}
                                        <option value="S" {% if actions.document_type == 'S' %}selected="true"{% endif %}>{% trans "Journals - Fascicle" %}</option>
                                        <option value="Sas" {% if actions.document_type == 'Sas' %}selected="true"{% endif %}>{% trans "Journals - Article" %}</option>
                                    {% else %}
                                        <option value="">{% trans "All" %}</option>
                                        <option value="S" {% if actions.document_type == 'S' %}selected="true"{% endif %}>{% trans "Journals - Fascicle" %}</option>
                                        <option value="Sas" {% if actions.document_type == 'Sas' %}selected="true"{% endif %}>{% trans "Journals - Article" %}</option>
                                        <option value="Mm" {% if actions.document_type == 'Mm' %}selected="true"{% endif %}>{% trans "Monograph" %}</option>
                                        <option value="Tm" {% if actions.document_type == 'Tm' %}selected="true"{% endif %}>{% trans "Thesis/Dissertation" %}</option>
                                        <option value="Mmc" {% if actions.document_type == 'Mmc' %}selected="true"{% endif %}>{% trans "Monograph in a Collection" %}</option>
                                        <option value="Mc" {% if actions.document_type == 'Mc' %}selected="true"{% endif %}>{% trans "Collection of Monographs" %}</option>
                                        <option value="MSms" {% if actions.document_type == 'MSms' %}selected="true"{% endif %}>{% trans "Monograph Series" %}</option>
                                        <option value="Nm" {% if actions.document_type == 'Nm' %}selected="true"{% endif %}>{% trans "Non conventional" %}</option>
                                        <option value="TSms" {% if actions.document_type == 'TSms' %}selected="true"{% endif %}>{% trans "Thesis/Dissertation appearing as a Monograph Series" %}</option>
                                    {% endif %}
                                </select>

                                {% trans "Status" %}:
                                <select name="filter_status">
                                    <option value="*">{% trans "All" %}</option>
                                    <option value="-3" {% if actions.filter_status == '-3' %}selected="true"{% endif %}>{% trans "Migration" %}</option>
                                    <option value="-1" {% if actions.filter_status == '-1' %}selected="true"{% endif %}>{% trans "Draft" %}</option>
                                    <option value="0" {% if actions.filter_status == '0' %}selected="true"{% endif %}>{% trans "LILACS-Express" %}</option>
                                    <option value="1" {% if actions.filter_status == '1' %}selected="true"{% endif %}>{% trans "Published" %}</option>
                                    <option value="2" {% if actions.filter_status == '2' %}selected="true"{% endif %}>{% trans "Refused" %}</option>
                                    <option value="3" {% if actions.filter_status == '3' %}selected="true"{% endif %}>{% trans "Deleted" %}</option>
                                </select>
                                <button class="btn" type="submit"><i class='icon-search'></i></button>

                                <a href="javascript:void()" id="show_advaced_filters">+ {% trans "Filters" %}</a>

                                <div class="advanced_filters {% if not actions.filter_indexed_database and not actions.filter_collection %}hide{% endif %}">
                                    {% trans "Indexed in" %}:
                                    <select name="filter_indexed_database">
                                        <option value="">{% trans "All" %}</option>
                                        {% for idb in indexed_database_list %}
                                            <option value="{{ idb.id }}" {% if actions.filter_indexed_database|add:"0" == idb.id %}selected="true"{% endif %}>{{ idb }}</option>
                                        {% endfor %}
                                    </select>


                                    {% trans "Collection" %}:
                                    <select name="filter_collection" class="input-xxlarge">
                                        <option value="">{% trans "All" %}</option>
                                        {% for col in collection_list %}
                                            {# skip first level collections (e-bluinfo, etc) and community levels #}
                                            {% if col.parent and not col.community_flag %}
                                                <option value="{{ col.id }}" {% if actions.filter_collection|add:"0" == col.id %}selected="true"{% endif %}>{{ col.community_collection_path }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>


                                    <button class="btn" type="submit" name="apply_filters" value="true">{% trans "Apply" %}</button>
                                </div>


                            </form>
                        </div>
                    </div>
                    {% if actions.filter_owner == 'network' and user_data.networks %}
                        <div class="span-4">
                            {% trans "Networks" %} : {{ user_data.networks|join:", " }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="row">
                    <div class="span-6">
                        <div class="input-append" style="margin-left: 10px">
                            <form name="review">
                                <input type="hidden" name="page" value="">
                                <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">

                                {% trans "Filter by" %}:
                                <select name="review_type" class="input-xlarge">
                                    <option value="cc" {% if actions.review_type == 'cc' %}selected="true"{% endif %}>{% trans "Changed by other cooperative center" %}</option>
                                    <option value="user" {% if actions.review_type == 'user' %}selected="true"{% endif %}>{% trans "Changed by other users" %}</option>
                                </select>
                                <button class="btn" type="submit"><i class='icon-search'></i></button>
                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Title" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for reference in references %}
                        <tr>
                            <td><a href="{% if 'a' in reference.treatment_level %}{% url 'edit_biblioref_analytic' reference.id %}{% else %}{% url 'edit_biblioref_source' reference.id %}{% endif %}">{{ reference.id }}</a></td>
                            <td><span title="{{ reference.reference_title }}">{{ reference.reference_title }}</span></td>
                            <td>
                                {% if reference.literature_type == 'S' and not 'a' in reference.treatment_level %}<span class="label label-success">{% trans "Series source" %}</span>{% else %}{{ reference.status|display_status_label }}{% endif %}
                            </td>
                            <td nowrap="1">
                                {% if actions.filter_owner != 'review' %}
                                    <a href="{% if 'a' in reference.treatment_level %}{% url 'edit_biblioref_analytic' reference.id %}{% else %}{% url 'edit_biblioref_source' reference.id %}{% endif %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                                    {% if reference.created_by_id = user.id  %}
                                        {% if reference.literature_type == 'S' and not 'a' in reference.treatment_level %}
                                            {% if not reference.referencesource.has_analytic %}
                                                <a href="{% url 'delete_biblioref' reference.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                                            {% endif %}
                                        {% else %}
                                            {% if reference.status == -1 %}
                                                <a href="{% url 'delete_biblioref' reference.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <a href="/log/review/{% if actions.review_type %}{{actions.review_type}}{% else %}cc{% endif %}/{{reference.get_content_type_id}}/{{reference.id}}/" class='btn btn-mini'>{% trans "review" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination_generic.html" %}

            {% if paginator.num_pages > 1 %}
            <div class="pagination input-append">
                <form>
                    <input type="hidden" name="document_type" value="{{ actions.document_type }}">
                    <input type="hidden" name="filter_indexed_database" value="{{ actions.filter_indexed_database }}">
                    <input type="hidden" name="filter_owner" value="*"/>
                    <input type="hidden" name="filter_status" value="{{ actions.filter_status }}">
                    <input type="hidden" name="s" value="{{ actions.s }}">

                    {% trans "Go to page" %}:&nbsp;
                    <input type="text" name="page" value="{{ actions.page }}" class="span1">
                    <button class="btn btn-primary" type="submit"><i class='icon-ok'></i></button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
