{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Edit Source" %}{% endblock %}

{% block breadcrumb %}
    <li>
        {% if user_role == 'editor_llxp' %}
            <a href="{% url 'list_biblioref_sources' %}?document_type=S">
        {% else %}
            <a href="{% url 'list_biblioref' %}">
        {% endif %}
        {% trans "Bibliographic Records" %}</a> <span class="divider">/</span>
    </li>
    {% if not object %}<li>{% trans "New Source" %}</li>
    {% else %}<li>{% trans "Edit Source" %}</li>{% endif %}
{% endblock %}

{% block content %}

<div class='header'>
    <h2><i class='icon-file' title="{{ document_type }}"></i>{% if not object %}{% trans "New Source" %}{% else %}{% trans "Edit Source" %}{% endif %}</h2>
    {% if object %}
        <div class='pull-right'>
            <a href="{% url 'list_biblioref_analytics' %}?source={{object.pk}}" class='btn btn-info'><i class='icon-align-justify'></i>{% trans "List analytics" %}</a>
            <a href="{% url 'create_biblioref_analytic' %}?source={{object.pk}}" class='btn btn-primary'><i class='icon-plus'></i> {% trans "Create analytic" %}</a>
        </div>
    {% endif %}
</div>

<div class='body'>

    {% if form.errors %}
        <p class="errorlist alert alert-error">
            {% trans "Please check error messages" %}
            {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
        </p>
    {% endif %}
    {% if valid_for_publication != None and not valid_for_publication %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "For status admitted you must have at least one descriptor and one thematic area admitted" %}</li>
        </ul>
    {% endif %}
    {{ formset_descriptor.non_form_errors }}
    {{ formset_thematic.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}</a></li>
        {% if user_role != 'editor_llxp' %}
            {% if document_type == 'Mc' or document_type == 'M' or document_type == 'N' or document_type.0 == 'T' %}
                <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Indexing" %}</a></li>
                <li><a href="#tab-thematic" data-toggle="tab"><i class="icon-tags"></i> {% trans "Thematic areas" %}</a></li>
            {% endif %}
            {% if document_type == 'MS' or document_type == 'Mc' or document_type == 'M' or document_type == 'N' %}
                <li><a href="#tab-complement" data-toggle="tab"><i class="icon-inbox"></i> {% trans "Event/Project" %}{% if formset_complement.errors and not formset_complement.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            {% endif %}
        {% endif %}

        {% if 'fulltext'|infieldset:form.fieldsets %}
            <li><a href="#tab-attachment" data-toggle="tab"><i class="icon-globe"></i>  {% trans "Fulltext" %}</a>{% if formset_attachment.errors and not formset_attachment.is_valid %}<i class="icon-warning-sign"></i><span class="mark">*</span>{% endif %}</li>
        {% endif %}
    </ul>


    <form method="POST" class="reference-form">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    {% if not user_can_edit %}
                        <div class="well">
                            <blockquote>
                                <p><strong>{% trans 'Identifier' %}</strong><p>
                                <p>{{ object.id }}</p>
                            </blockquote>
                            {% for fieldset in form.fieldsets %}
                                {% if fieldset.name != 'indexing' and fieldset.name != 'fulltext' %}
                                    {% if fieldset.legend %}
                                        <h3>{{ fieldset.legend }}</h3>
                                    {% endif %}

                                    {% for field in fieldset %}
                                        {% if field.value or field.name == 'status' %}
                                            <blockquote>
                                                <p><strong>{{ field.label }}</strong><p>
                                                {% if field.name = 'status' %}
                                                    {% if document_type.0 == 'S' %}
                                                        <span class="label label-success">{% trans "Series source" %}</span>
                                                    {% else %}
                                                        <p>{{ object.get_status_display }}</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p>{% display_field field %}<p>
                                                {% endif %}
                                            </blockquote>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% else %}

                        <div id="metadata" class="accordion">
                            {{ form.non_field_errors }}
                            {% for fieldset in form.fieldsets %}
                                {% if fieldset.name != 'indexing' and fieldset.name != 'fulltext' %}
                                    {% include "biblioref/fieldset_include.html" %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% endif %}

                    <!-- display changes log -->
                    {%if object.pk %}
                        <i class="icon icon-time"></i> <a href="#" data-toggle="modal" data-target="#log_modal" data-remote="/log/view/{{c_type.id}}/{{object.id}}/">{% trans "Changes history" %}</a>
                    {% endif %}
            </div>

            <!-- INDEXING FORMSET -->
            {% include "biblioref/fieldset_indexing.html" %}

            <!-- FULLTEXT FORMSET -->
            {% if 'fulltext'|infieldset:form.fieldsets %}
                {% include "biblioref/fieldset_fulltext.html" %}
            {% endif %}

            <!-- THEMATIC AREA FORMSET -->
            {% include "biblioref/fieldset_thematic.html" %}

            <!-- COMPLEMENT (PROJECT / EVENT) -->
            {% include "biblioref/fieldset_complement.html" %}

        </div>

        <!-- empty formsets (only used at analytic leve) -->
        {{ formset_attachment.management_form }}
        {{ formset_library.management_form }}

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% if help_fields %}
    {% include "modal_help.html" %}
{% endif %}

{% if object.id %}
    {% include "modal_log.html" %}
{% endif %}

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
   <script src="{% static 'js/jsrender.min.js' %}"></script>
   <script src="{% static 'js/field_assist.js' %}"></script>

   <script id="itensTemplate" type="text/x-jsrender">
        <li>
            [[props tmpl="#keyPropTemplate" /]]
        </li>
   </script>

   <script id="keyPropTemplate" type="text/x-jsrender">
        [[if prop]]
            <strong>[[>~format(key)]]</strong> [[>prop]]
        [[/if]]
   </script>

   <script type="text/javascript">
        var decs_field;

        function format_attrlabel(value) {

            if ( value != 'text'){
                label = value.replace('_','')
                return  label + ':'
            }else{
                return ''
            }
        }

        // change default delimiters of jsrender
        $.views.settings.delimiters("[[","]]");

        // render JSON fields for display
        $(".jsonfield").each(function() {
            var field_value = $(this).val();

            // check if hidden value starts with [ or { (JSON object)
            if ( field_value.match(/^[\[|\{]/) ) {
               display_json_value( $(this) );
            }
        });

        // watch for change of hidden fields (JSON elements)
        $(".jsonfield").bind("change", function() {
            display_json_value( $(this) );

        });

        // function responsible for display JSON elements using jsrender template
        function display_json_value(element){
            var element_id = $(element).attr('id');
            var element_val = $('#' + element_id).val();

            var json_data = jQuery.parseJSON(element_val);

            if ( json_data != null ){
                $('#' + element_id + '_display').html($("#itensTemplate").render(json_data, {format: format_attrlabel}));
            }

        }

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });

            $('.keyword-row').formset({
                    addText : '{% trans "Add keyword" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'keyword_formset',
                    prefix: '{{ formset_keyword.prefix }}'
            });

            $('.thematic-row').formset({
                    addText : '{% trans "Add thematic area" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'thematic_formset',
                    prefix: '{{ formset_thematic.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";


            // Listen to message from child window
            eventer(messageEvent,function(e) {
                var decs_data = e.data;
                var pipe_pos = decs_data.lastIndexOf('|');
                var decs_text = decs_data.substring(0, pipe_pos);
                var decs_code = decs_data.substring(pipe_pos+1);

                var decs_row = decs_field.replace( /[A-Za-z_$-]/g, '');
                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

            $(document).on("click", "a.add_error_report", function(){
                $("#error_report_modal").modal("show");
            });

        })

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}', 'decslookup', 'scrollbars=1,width=845,height=550');
        }

        // open all fieldsets when form erros
        {% if form.errors %}
            $("fieldset").removeClass('collapse');
        {% endif %}

   </script>
{% endblock %}
