{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block extrahead %}
<link href="{% static "css/animate.min.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Edit Analytic" %}{% endblock %}

{% block breadcrumb %}
    <li>
        {% if user_role == 'editor_llxp' %}
            <a href="{% url 'list_biblioref_sources' %}?document_type=S">
        {% else %}
            <a href="{% url 'list_biblioref' %}">
        {% endif %}
        {% trans "Bibliographic Records" %}</a> <span class="divider">/</span>
    </li>
    <li><a href="{% url 'list_biblioref_analytics' %}?source={{reference_source.id}}">{% trans "Analytics" %}</a><span class="divider">/</span></li>
    {% if not object %}<li>{% trans "New Analytic" %}</li>
    {% else %}<li>{% trans "Edit Analytic" %}</li>{% endif %}
{% endblock %}

{% block content %}


<div class='header'>
    <h3><i class='icon-file'></i>{% if not object %}{% trans "New Analytic" %}{% else %}{% trans "Edit Analytic" %}{% endif %}</h3>
</div>

<div class='body'>

    {% if form.errors or formset_attachment.errors or formset_thematic.errors or formset_descriptor.errors %}
        <p class="errorlist alert alert-error">
          {% trans "Please check errors below" %}
        </p>
        {{ form.non_field_errors }}
    {% endif %}

    {{ formset_descriptor.non_form_errors }}

    {{ formset_thematic.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}{% if form.errors and not form.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>

        {% if user_role != 'editor_llxp' %}
            <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Indexing" %}{% if formset_descriptor.errors and not formset_descriptor.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            <li><a href="#tab-attachment" data-toggle="tab"><i class="icon-globe"></i>  {% trans "Fulltext" %}{% if formset_attachment.errors and not formset_attachment.is_valid %}<i class="icon-warning-sign"></i><span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            <li><a href="#tab-library" data-toggle="tab"><i class="icon-home"></i> {% trans "Library" %}{% if formset_library.errors and not formset_library.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            <li><a href="#tab-thematic" data-toggle="tab"><i class="icon-tags"></i> {% trans "Thematic areas" %}{% if formset_thematic.errors and not formset_thematic.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
        {% else %}
            <li><a href="#tab-attachment" data-toggle="tab"><i class="icon-globe"></i>  {% trans "Fulltext" %}{% if formset_attachment.errors and not formset_attachment.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
        {% endif %}
    </ul>

    <div class="dedup-alert well fixed-alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert">&nbsp;&nbsp;&nbsp;&times;</button>
        <strong><i class="icon icon-warning-sign"></i> {% trans "Possible duplicated article" %} <a href="#" data-toggle="modal" data-target="#dedup_result">({% trans "check" %})</a></strong>
    </div>

    <form method="POST" enctype="multipart/form-data" class="reference-form">
        {% csrf_token %}
        <!-- METADATA FORMSET -->
        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    {% if not user_can_edit %}
                        <div class="well">
                            <blockquote>
                                <p><strong>{% trans 'Identifier' %}</strong><p>
                                <p>{{ object.id }}</p>
                            </blockquote>

                            {% for fieldset in form.fieldsets %}
                                {% if fieldset.name != 'indexing' and fieldset.name != 'fulltext' %}
                                    {% for field in fieldset %}
                                        {% if field.value or field.name == 'status' %}
                                            <blockquote>
                                                <p><strong>{{ field.label }}</strong><p>
                                                {% if field.name = 'status' %}
                                                    <p>{{ object.get_status_display_label }}</p>
                                                {% else %}
                                                    <p>{% display_field field %}<p>
                                                {% endif %}
                                            </blockquote>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% else %}

                        <div id="metadata" class="accordion">
                            <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-target="#serial_level">
                                            {% if reference_source.literature_type == 'S' %}
                                                {% trans 'Serial level' %}
                                            {% else %}
                                                {% trans 'Monographic level' %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <fieldset class="accordion-body" id="serial_level">
                                        <h4 class="alert alert-success">
                                            {% if reference_source.literature_type == 'S' %}
                                                {{ reference_source }}
                                            {% else %}
                                                {{ reference_source.title_monographic }}
                                            {% endif %}
                                        </h4>
                                    </fieldset>
                            </div>

                            {% for fieldset in form.fieldsets %}
                                {#  indexing and fulltext are loaded as separate tabs #}
                                {% if fieldset.name != 'indexing' and fieldset.name != 'fulltext' %}
                                    {#  hide other_notes fields from editor_llxp  #}
                                    {% if user_role == 'editor_llxp' and fieldset.name == 'other_notes' %}
                                    {% else %}
                                        {% include "biblioref/fieldset_include.html" %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% endif %}

                    <!-- display changes log -->
                    {%if object.pk %}
                        <i class="icon icon-time"></i> <a href="#" data-toggle="modal" data-target="#log_modal" data-remote="/log/view/{{c_type.id}}/{{object.id}}/">{% trans "Changes history" %}</a>
                    {% endif %}

            </div>
            <!-- /METADATA FORMSET -->

            <!-- INDEXING FORMSET -->
            {% include "biblioref/fieldset_indexing.html" %}

            <!-- FULLTEXT FORMSET -->
            {% include "biblioref/fieldset_fulltext.html" %}

            <!-- LIBRARY FORMSET -->
            {% include "biblioref/fieldset_library.html" %}

            <!-- THEMATIC AREA FORMSET -->
            {% include "biblioref/fieldset_thematic.html" %}

        </div>

        <div class="control-panel form-submit">
            {% if user_can_edit %}
                {% if not object or object.status == -1 %}
                    <button class="btn btn-large btn-info">{% trans "Save Draft" %}</button>
                {% elif user_role != 'editor_llxp' %}
                    <button class="btn btn-info btn-large">{% trans "Save as" %} <span id="save_status">{{object.get_status_display}}</span></button>
                {% endif %}

                {% if not user_can_change_status %}
                    {% if user_role == 'editor_llxp' %}
                        {% if object.status == 0 %}
                            <button class="btn btn-primary btn-large" id="save-inprocess">{% trans "Save as LILACS Express" %}</button>
                        {% else %}
                            <button class="btn btn-primary btn-large" id="save-inprocess">{% trans "Publish as LILACS Express" %}</button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary btn-large" id="save-published">{% trans "Publish" %}</button>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{% url 'list_biblioref_analytics' %}?source={{reference_source.id}}" class="btn btn-large">
                    {% trans "Back" %}
                </a>
            {% endif %}
        </div>

    </form>
</div>

{% if help_fields %}
    {% include "modal_help.html" %}
{% endif %}

{% if object.id %}
    {% include "modal_log.html" %}
{% endif %}

{% include "modal_dedup.html" %}

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.min.js' %}"></script>
   <script src="{% static 'js/jquery.confirm.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
   <script src="{% static 'js/jsrender.min.js' %}"></script>
   <script src="{% static 'js/field_assist.js' %}"></script>

   <script id="itensTemplate" type="text/x-jsrender">
        <li>
            [[props tmpl="#keyPropTemplate" /]]
        </li>
   </script>

   <script id="keyPropTemplate" type="text/x-jsrender">
        [[if prop]]
            <strong>[[>~format(key)]]</strong> [[>prop]]
        [[/if]]
   </script>

   <script type="text/javascript">
        var decs_field;

        function format_attrlabel(value) {
            if ( value != 'text'){
                label = value.replace('_','')
                return  label + ':'
            }else{
                return ''
            }
        }

        // change default delimiters of jsrender
        $.views.settings.delimiters("[[","]]");

        // render JSON fields for display
        $(".jsonfield").each(function() {
            var field_value = $(this).val();

            // check if hidden value starts with [ or { (JSON object)
            if ( field_value.match(/^[\[|\{]/) ) {
               display_json_value( $(this) );
            }
        });

        // watch for change of hidden fields (JSON elements)
        $(".jsonfield").bind("change", function() {
            display_json_value( $(this) );

        });

        // function responsible for display JSON elements using jsrender template
        function display_json_value(element){
            var element_id = $(element).attr('id');
            var element_val = $('#' + element_id).val();

            var json_data = jQuery.parseJSON(element_val);

            if ( json_data != null ){
                $('#' + element_id + '_display').html($("#itensTemplate").render(json_data, {format: format_attrlabel}));
            }

        }

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });

            $('.attachment-row').formset({
                    addText : '{% trans "Add file" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'keyword_formset',
                    prefix: '{{ formset_keyword.prefix }}'
            });

            $('.thematic-row').formset({
                    addText : '{% trans "Add thematic area" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'thematic_formset',
                    prefix: '{{ formset_thematic.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";


            // Listen to message from child window
            eventer(messageEvent,function(e) {
                var decs_data = e.data;
                var pipe_pos = decs_data.lastIndexOf('|');
                var decs_text = decs_data.substring(0, pipe_pos);
                var decs_code = decs_data.substring(pipe_pos+1);

                var decs_row = decs_field.replace( /[A-Za-z_$-]/g, '');
                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

            $(document).on("click", "a.add_error_report", function(){
                $("#error_report_modal").modal("show");
            });

            // confirm delete of inline formsets
            $(document).on("mousedown", "td a.btn", function(e){
                btn = $(this);
                $.confirm({
                    text: "{% trans 'Are you sure you want to delete?' %}",
                        confirm: function(button) {
                            btn.click();
                        },
                        cancel: function(button) {
                            // nothing to do
                        },
                        confirmButton: "{% trans 'Yes' %}",
                        cancelButton: "{% trans 'No' %}"
                });
            });

            // check for duplicated
            $(document).ready(check_duplication);

        })

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}', 'decslookup', 'scrollbars=1,width=845,height=550');
        }

        $("#save-inprocess").click(function() {
            // set status to Inprocess (0) = LILACS Express
            $('#id_status').val('0');
        });

        $("#save-published").click(function() {
            // set status to Published (1) = LILACS
            $('#id_status').val('1');
        });


        $("#id_status").change(function(){
            new_status_label = $(this).find("option:selected").text();
            $('#save_status').text(new_status_label);
        });

        // watch for change at specific fields for duplicated dectection
        $("#id_title").bind("change", check_duplication);

        function check_duplication() {
            status = $('#id_status').val();
            title_val = $("#id_title").val();
            console.log(status);

            if (status < 1 && title_val){
                obj = jQuery.parseJSON(title_val);
                journal = "{{ reference_source.title_serial }};"
                title = obj[0].text;
                publication_year = "{{ reference_source.publication_date_normalized|slice:":4" }}";
                $.ajax({
                  method: "get",
                  url: "{{ settings.DEDUP_SERVICE_URL }}",
                  data: { database: "lilacs_sas", schema: "lilacs_sas_three",
                          "ano de publicacao": publication_year, "titulo artigo": title, "titulo da revista": journal},
                  dataType: "json",
                  success: function(data){
                      if (data.total > 0) {
                          $('.dedup-alert').show();
                          $('.dedup-alert').addClass('animated shake');
                          articles = data.result;
                          $('#dedup_result .modal-body').empty();
                          for (i = 0; i < articles.length; i++){
                              pos = i+1;
                              article = articles[i];
                              $('#dedup_result .modal-body').append($('<div>', {
                                    html: pos + '. <a href="{{ settings.DEDUP_ARTICLE_DETAIL }}lil-' + article['id'] +'" target="_dedup">' + article['titulo artigo']
                                      + '</a> - ' + article['titulo da revista'] + ' (' + article['ano de publicacao'] + ')'
                              }));
                          }
                      }else{
                        $('.dedup-alert').hide();
                      }
                  }
               });
           }
        };

        // open all fieldsets when form erros
        {% if form.errors %}
            $("fieldset").removeClass('collapse');
        {% endif %}

   </script>
{% endblock %}
