{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block top %}{% if not view_mode %}{{ block.super }}{% endif %}{% endblock %}
{% block footer %}{% if not view_mode %}{{ block.super }}{% endif %}{% endblock %}

{% block title %}{% trans "Edit Source" %}{% endblock %}

{% block breadcrumb %}
    <li>
        {% if user_role == 'editor_llxp' %}
            <a href="{% url 'list_biblioref_sources' %}?document_type=S">
        {% else %}
            <a href="{% url 'list_biblioref' %}">
        {% endif %}
        {% trans "Bibliographic Records" %}</a> <span class="divider">/</span>
    </li>
    {% if not object %}<li>{% trans "New Source" %}</li>
    {% else %}<li>{% trans "Edit Source" %}</li>{% endif %}
{% endblock %}

{% block content %}

<div class='header'>
    <h2><i class='icon-file' title="{% if object %}{{ object.document_type }}{% else %}{{ form.document_type }}{% endif %}"></i>{% if not object %}{% trans "New Source" %}{% else %}{% trans "Edit Source" %}{% endif %}</h2>
    {% if object and form.document_type != 'Mc' %}
        <div class='pull-right'>
            <a href="{% url 'list_biblioref_analytics' %}?source={{object.pk}}" class='btn btn-info'><i class='icon-align-justify'></i>{% trans "List analytics" %}</a>
            <a href="{% url 'create_biblioref_analytic' %}?source={{object.pk}}" class='btn btn-primary'><i class='icon-plus'></i> {% trans "Create analytic" %}</a>
        </div>
    {% endif %}
</div>

<div class='body'>

    {% if form.errors or formset_attachment.errors or formset_descriptor.errors %}
        <p class="errorlist alert alert-error">
          {% trans "Please check error messages in the respective fields" %}
        </p>
        {{ form.non_field_errors }}
    {% endif %}

    {{ formset_descriptor.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}</a></li>
        {% if user_role != 'editor_llxp' %}
            {% if form.document_type == 'Mc' or form.document_type == 'Mm' or form.document_type == 'Nm' or form.document_type.0 == 'T' or form.document_type == 'Mmc' or form.document_type == 'MSms' %}
                <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Indexing" %}</a></li>
            {% endif %}

            {% if 'fulltext'|infieldset:form.fieldsets %}
                <li><a href="#tab-attachment" data-toggle="tab"><i class="icon-globe"></i>  {% trans "Fulltext" %}{% if form|field_has_error:"electronic_address" or formset_attachment.errors and not formset_library.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            {% endif %}

            {% if form.document_type != 'S' %}
                <li><a href="#tab-library" data-toggle="tab"><i class="icon-home"></i> {% trans "Library" %}{% if formset_library.errors and not formset_library.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            {% endif %}
            {% if form.document_type == 'MS' or form.document_type == 'Mm' or form.document_type.0 == 'N' or form.document_type == 'Mmc' or form.document_type == 'MSms'%}
                <li><a href="#tab-complement" data-toggle="tab"><i class="icon-inbox"></i> {% trans "Event/Project" %}{% if formset_complement.errors and not formset_complement.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
            {% endif %}
        {% endif %}
    </ul>


    <form method="POST" enctype="multipart/form-data" class="reference-form">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    {% if not user_can_edit %}
                        <div class="well">
                            <blockquote>
                                <p><strong>{% trans 'Identifier' %}</strong><p>
                                <p>{{ object.id }}</p>
                            </blockquote>
                            {% for fieldset in form.fieldsets %}
                                {% if fieldset.name != 'indexing' and fieldset.name != 'fulltext' %}
                                    {% if fieldset.legend %}
                                        <h3>{{ fieldset.legend }}</h3>
                                    {% endif %}

                                    {% for field in fieldset %}
                                        {% if field.value or field.name == 'status' %}
                                            <blockquote>
                                                <p><strong>{{ field.label }}</strong><p>
                                                {% if field.name = 'status' %}
                                                    {% if form.document_type.0 == 'S' %}
                                                        <span class="label label-success">{% trans "Series source" %}</span>
                                                    {% else %}
                                                        <p>{{ object.get_status_display }}</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p>{% display_field field %}<p>
                                                {% endif %}
                                            </blockquote>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% else %}

                        <div id="metadata" class="accordion">
                            {{ form.non_field_errors }}
                            {% for fieldset in form.fieldsets %}
                                {% if fieldset.name != 'indexing' and fieldset.name != 'fulltext' %}
                                    {% include "biblioref/fieldset_include.html" %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% endif %}

                    <!-- display changes log and duplicates -->
                    {%if object.pk %}
                        <div class="alert alert-info">
                            <p>{% trans "Record created in" %}: <strong>{{ object.created_time }}</strong> {% trans "by user" %}  <strong>{{ object.created_by.username }}</strong></p>
                            <p>{% trans "Cooperative center code" %}: <strong>{{ object.cooperative_center_code }}</strong></p>
                            {% if object.updated_by %}
                                <p>{% trans "Last edit in" %} <strong>{{ object.updated_time }}</strong> {% trans "by user" %}  <strong>{{ object.updated_by.username }}</strong></p>
                            {% endif %}
                        </div>
                        <div class="btn-group pull-right">
                            <a href="#" data-toggle="modal" data-target="#log_modal" data-remote="/log/view/{{c_type.id}}/{{object.id}}/" class="btn"><i class="icon icon-time"></i> {% trans "Changes history" %}</a>
                            {% if service_role.TAG %}
                                <a href="#" onclick="javascript:open_classification('{{c_type_parent.id}}', '{{object.id}}')" class="btn"><i class="icon icon-tags"></i> {% trans "Collection" %}</a>
                            {% endif %}
                            {%if object.has_duplicates %}
                                <a href="/bibliographic/duplicates/{{object.id}}/" target="_blank" class="btn"><i class="icon icon-retweet"></i> {% trans "Duplicates" %}</a>
                            {% endif %}
                        </div>
                    {% endif %}
            </div>

            <!-- INDEXING FORMSET -->
            {% include "biblioref/fieldset_indexing.html" %}

            <!-- FULLTEXT FORMSET -->
            {% include "biblioref/fieldset_fulltext.html" %}

            <!-- LIBRARY FORMSET -->
            {% include "biblioref/fieldset_library.html" %}

            <!-- COMPLEMENT (PROJECT / EVENT) -->
            {% include "biblioref/fieldset_complement.html" %}

        </div>

        <!-- empty formsets (only used at analytic level)
        {{ formset_library.management_form }}
        -->

        <div class="control-panel form-submit">
            {% if user_can_edit %}

                <a href="{% url 'list_biblioref' %}" class="btn btn-large btn-danger">{% trans "Cancel" %}</a>

                {% if user_role == 'editor_llxp' %}
                    <button class="btn btn-large btn-info">{% trans "Save" %}</button>
                {% elif not object or object.status == -1 %}
                    <button class="btn btn-large btn-info">{% trans "Save Draft" %}</button>
                {% else %}
                    <button class="btn btn-info btn-large">{% trans "Save as" %} <span id="save_status">{{object.get_status_display}}</span></button>
                {% endif %}

                {% if not user_can_change_status and user_role != 'editor_llxp'  %}
                    <button class="btn btn-primary btn-large" id="save-published">{% trans "Publish" %}</button>
                {% endif %}

                {% if user_can_change_status and object.status < 1 %}
                    <button class="btn btn-primary btn-large" id="save-published">{% trans "Publish" %}</button>
                {% endif %}
            {% else %}
                <a href="{% url 'list_biblioref' %}" class="btn btn-large">
                    {% trans "Back" %}
                </a>
            {% endif %}
        </div>
    </form>
</div>

{% if help_fields %}
    {% include "modal_help.html" %}
{% endif %}

{% if object.id %}
    {% include "modal_log.html" %}
{% endif %}

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.min.js' %}"></script>
   <script src="{% static 'js/jquery.confirm.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
   <script src="{% static 'js/multiselect.min.js' %}"></script>
   <script src="{% static 'js/jsrender.min.js' %}"></script>
   <script src="{% static 'js/field_assist.js' %}"></script>
   <script src="{% static 'js/record_type.js' %}"></script>
   <script src="{% static 'js/biblioref.js' %}"></script>
   <script src="{% static 'js/classification.js' %}"></script>

   <script id="itensTemplate" type="text/x-jsrender">
        <li>
            [[props tmpl="#keyPropTemplate" /]]
        </li>
   </script>

   <script id="keyPropTemplate" type="text/x-jsrender">
        [[if prop]]
            <strong>[[>~format(key)]]</strong> [[>prop]]
        [[/if]]
   </script>

   <script type="text/javascript">
        var decs_field;
        var document_type = "{{form.document_type}}";
        var literature_type = "{{form.document_type|slice:'0:1'}}";
        var treatment_level = "{{form.document_type|slice:'-2:'}}";
        var new_reference = {% if not object %}true{% else %}false{% endif%}

        function format_attrlabel(value) {

            if ( value != 'text'){
                label = value.replace('_','')
                return  label + ':'
            }else{
                return ''
            }
        }

        // change default delimiters of jsrender
        $.views.settings.delimiters("[[","]]");

        // render JSON fields for display
        $(".jsonfield").each(function() {
            var field_value = $(this).val();

            // check if hidden value starts with [ or { (JSON object)
            if ( field_value.match(/^[\[|\{]/) ) {
               display_json_value( $(this) );
            }
        });

        // watch for change of hidden fields (JSON elements)
        $(".jsonfield").bind("change", function() {
            display_json_value( $(this) );

        });

        // function responsible for display JSON elements using jsrender template
        function display_json_value(element){
            var element_id = $(element).attr('id');
            var element_val = $('#' + element_id).val();

            var json_data = jQuery.parseJSON(element_val);

            if ( json_data != null ){
                $('#' + element_id + '_display').html($("#itensTemplate").render(json_data, {format: format_attrlabel}));
            }

        }

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });

            $('.attachment-row').formset({
                    addText : '{% trans "Add file" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'attachment_formset',
                    prefix: '{{ formset_attachment.prefix }}'
            });

            $('.keyword-row').formset({
                    addText : '{% trans "Add keyword" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'keyword_formset',
                    prefix: '{{ formset_keyword.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";


            // Listen to message from child window
            eventer(messageEvent,function(e) {
                var decs_data = e.data.split('|');
                var decs_text = decs_data[0];
                var decs_code = decs_data[1];
                var decs_op = decs_data[2];

                console.log(decs_data);
                if (decs_op == 'ADD'){
                    decs_field = null;
                    total_lines = $('#id_main-descriptor-content_type-object_id-TOTAL_FORMS').val();

                    for (var count = 1; count < total_lines; count++){
                        // found first empty line
                        descriptor_row = $('#id_main-descriptor-content_type-object_id-' + count + '-code');
                        if ( descriptor_row.val() == '' ){
                            decs_field = count.toString()
                            break;
                        }
                    }
                    if (decs_field == null){
                        // add new line
                        var btn_add_descriptor = $('#descriptors .icon-plus-sign');
                        btn_add_descriptor.click();
                        decs_field = total_lines.toString();
                    }
                }

                var decs_row = decs_field.replace(/[A-Za-z_$-]/g, '');

                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

            $(document).on("click", "a.add_error_report", function(){
                $("#error_report_modal").modal("show");
            });
            // show/hide fields for record_type
            $("#id_record_type").trigger("change");

            // load multiselect plugin (indexed database field)
            $('#multiselect').multiselect();
        })

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            decs_term = row.find('input').attr('value');
            if (decs_term.indexOf('/') !== -1){
                decs_term = decs_term.substr(0, decs_term.indexOf('/'));
            }

            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}&descriptor=' + decs_term, 'decslookup', 'scrollbars=1,width=870,height=550');
        }

        $("#save-inprocess").click(function() {
            // set status to Inprocess (0) = LILACS Express
            $('#id_status').val('0');
        });

        $("#save-published").click(function( event ) {
            {% if user_role != 'doc' %}
                $('#id_status').val('1');
            {% else %}
                event.preventDefault();
                btn = $(this);
                $.confirm({
                    text: "{% trans 'After publication the record can only be modified by a user with editor profile. Continue?' %}",
                        confirm: function(button) {
                            // set status to Published (1) = LILACS
                            $('#id_status').val('1');
                            $('.reference-form').submit();
                        },
                        cancel: function(button) {
                            // nothing to do
                        },
                        confirmButton: "{% trans 'Yes' %}",
                        cancelButton: "{% trans 'No' %}"
                });
            {% endif %}
        });

        $("#id_status").change(function(){
            new_status_label = $(this).find("option:selected").text();
            $('#save_status').text(new_status_label);
        });

        // open all fieldsets when form erros
        {% if form.errors %}
            $("fieldset").removeClass('collapse');
        {% endif %}

        // fill ISSN field
        function fill_issn(){
            issn = $("#id_title_serial option:selected").data('issn');
            $("#id_issn").val(issn);
        }

        // update value of a free input text with a controled value
        function choose_controled_value(list_id, field_id){
            value_selected = $("#" + list_id + " option:selected").val();
            $("#id_" + field_id).val(value_selected);
        }

        // fix problem with jquery modal help
        $('#help_modal').on('hidden', function () {
          $(this).removeData('modal');
        });

   </script>
{% endblock %}
