*.log
*.pot
*.pyc
*.sh
Guardfile
settings_local.py
database.db
database.old
fabric/environment.py
biremelogin
bireme/templates/version.txt
fixtures/samples/
uploads/

# bireme/*/migrations/*
# bireme/thesaurus/migrations/*
# bireme/thesaurus/migrations/0001_initial.py
