*.log
*.pot
*.pyc
*.sh
*.csv
Guardfile
settings_local.py
manage-dev.py
database.db
database.old
fabric/environment.py
bireme/templates/version.txt
fixtures/
static_files/
uploads/
**/*.db
.DS_Store
.vscode/
.env*
conf/app-env*
