version: '3.4'

services:
  fi_admin:
    container_name: fi-admin
    build:
      context: .
      target: dev
    depends_on:
      - fi_admin_cache
    restart: unless-stopped
    ports:
      - 8000:8000
    volumes:
      - ./bireme/:/app/
    env_file:
      - ./conf/app-env-dev
    command: python manage.py runserver 0.0.0.0:8000
    networks:
      - nginx-proxy

  fi_admin_cache:
    image: bitnami/memcached:latest
    container_name: fi-admin-cache
    restart: unless-stopped
    ports:
      - 11211:11211
    environment:
      - MEMCACHED_CACHE_SIZE=128
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
