Django==2.2.24
mysqlclient==1.4.6
gunicorn==20.1.0
django-rosetta==0.9.4
django-tastypie==0.14.3
django-haystack==2.8.1
requests==2.24.0
pysolr==3.9.0
lxml==4.9.1
defusedxml==0.6.0
cssselect==1.1.0
simplejson==3.17.0
recaptcha-client==1.0.6
deform==2.0.15
jsonfield==3.1.0
django-form-utils==1.0.3
short-url==1.2.2
django-tinymce==3.0.2
colander==1.8.3
django-multiselectfield==0.1.12
python-memcached==1.59
django-crum==0.7.8
elastic-apm==6.2.2
