{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Edit Event" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'events.views.list_events' %}">{% trans "Events" %}</a> <span class="divider">/</span></li>
    {% if is_new %}<li>{% trans "New Event" %}</li>
    {% else %}<li>{% trans "Edit Event" %}</li>{% endif %}
{% endblock %}

{% block content %}


<div class='header'>
    <h2><i class='icon-calendar'></i>{% if is_new %}{% trans "New Event" %}{% else %}{% trans "Edit Event" %}{% endif %}</h2>
</div>

<div class='body'>

    {% if form.errors %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "Please check required fields" %}</li>
        </ul>        
    {% endif %}
    {% if not valid_for_publication %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "For status admitted you must have at least one descriptor and one thematic area admitted" %}</li>
        </ul>
    {% endif %}    
    {{ formset_descriptor.non_form_errors }}
    {{ formset_thematic.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}</a></li>
        <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Indexing" %}</a></li>
        <li><a href="#tab-thematic" data-toggle="tab"><i class="icon-tags"></i> {% trans "Thematic areas" %}</a></li>
    </ul>


    <form method="POST" class="event-form">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    {% if user_role == 'doc' and not user_data.is_owner and not is_new %}
                        <div class="well">
                            <blockquote>
                                <p><strong>{% trans 'Identifier' %}</strong><p>
                                <p>{{ event.id }}</p>
                            </blockquote>

                            {% for field in form %}
                                {{ field.as_hidden }}
                                {{ field.errors }}
                                <blockquote>
                                    <p><strong>{{ field.label }}</strong><p>
                                    {% if field.name = 'status' %}
                                        <p>{{ event.get_status_display }}</p>
                                    {% elif field.name = 'link' %}
                                        {% for link in field.value.splitlines %}
                                            <p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
                                        {% endfor %}
                                    {% elif field.name = 'source_language' %}
                                        {% for sl in event.source_language.all %}
                                            <p>{{ sl }}</p>
                                        {% endfor %}
                                    {% elif field.name = 'source_type' %}
                                        {% for st in event.source_type.all %}
                                            <p>{{ st }}</p>
                                        {% endfor %}
                                    {% elif field.name = 'originator_location' %}
                                        {% for ol in event.originator_location.all %}
                                            <p>{{ ol }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p>{{ field.value|linebreaks }}<p>
                                    {% endif %}
                                </blockquote>
                            {% endfor %}
                        </div>

                    {% else %}

                        <fieldset id="metadata">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ form.non_field_errors }}
                            {% for field in form.visible_fields %}
                                <label for="{{ field.auto_id }}">
                                    {% if field.field.required %}
                                        <span class="required">{{ field.label }} <span class="mark">*</span></span>
                                    {% else %}
                                        {{ field.label }}
                                    {% endif %}
                                </label>
                                <p class="muted">{{ field.help_text }}</p>
                                {{ field.errors }}
                                {{ field }}
                            {% endfor %}
                        </fieldset>
                    {% endif %}

                    {% comment %}Display event administrative information{% endcomment %}

                    {% if event.id %}
                        <div class="alert alert-info">
                            <p>{% trans "Event created in" %}: <strong>{{ event.created_time }}</strong> {% trans "by user" %}  <strong>{{ event.created_by.username }}</strong></p>
                            <p>{% trans "Cooperative center code" %}: <strong>{{ event.cooperative_center_code }}</strong></p>
                            {% if event.updated_by %}
                                <p>{% trans "Last edit in" %} <strong>{{ event.updated_time }}</strong> {% trans "by user" %}  <strong>{{ event.updated_by.username }}</strong></p>
                            {% endif %}
                        </div>

                        {% if event.error_reports.all %}
                            <strong>{% trans "Error reports" %}</strong>
                            <div class="alert alert-error">
                                <ul>
                                {% for report in event.error_reports.all %}
                                    <li>{{ report.get_code_display }} - {{ report.description }} {{ report.new_link }}</li>
                                {% endfor %}    
                                </ul>
                            </div>
                        {% endif %}
                        {% if user_role == 'doc' and not user_data.is_owner and not is_new %}
                            <a href="#" id="{{ event.id }}" class="btn btn-small btn-danger add_error_report" type="button"><i class="icon-warning-sign"></i>{% trans "Add new error report" %}</a>
                        {% endif %}

                    {% endif %}
            </div>

            <div id='tab-descriptors' class="tab-pane">
                <fieldset id="descriptors" class="row">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Descriptors" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th></th>
                        </thead>
                        <tbody>

                        {% if descriptor_list %}
                            {% for descriptor in descriptor_list %}
                                <tr>
                                    <td>{{ descriptor.text }}</td>
                                    <td>
                                        {% if descriptor.status == 0 %}
                                            <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                        {% elif descriptor.status == 1 %}
                                            <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                        {% elif descriptor.status == 2 %}
                                            <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                        {% elif descriptor.status == 3 %}
                                            <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_descriptor.management_form }}

                        {% for form in formset_descriptor %}
                            <tr id="descriptor-{{ forloop.counter0 }}" class="descriptor-row{% if form.errors %} error{% endif %} formset-row">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}                                    
                                    {% if user_role == 'doc' and field.name == 'status' %}
                                        <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                        <td></td>
                                    {% elif field.name == 'code' %}
                                        {{ field.as_hidden }}
                                    {% elif field.name == 'text' %}                                        
                                        <td class="span6">
                                            {{ field.as_hidden }}
                                            <div class="input-large uneditable-input {% if field.value == None %}placeholder-style{% endif %}" id="label_{{ field.html_name }}">
                                                {% if field.value == None %}
                                                    {% trans "Select by search" %}
                                                {% else %} 
                                                    {{ field.value}}
                                                {% endif %}
                                            </div>
                                            <a href="#" onclick="javascript:decs_search(this)";><i class="icon-search"></i></a>
                                        </td>
                                    {% elif field.name != 'DELETE' %}
                                        <td class="span6">
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="span6">
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="keywords" class="row">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Keywords" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Suggestion" %}?</th>
                            <th></th>
                        </thead>
                        <tbody>

                        {% if keyword_list %}
                            {% for keyword in keyword_list %}
                                <tr>
                                    <td>{{ keyword.text }}</td>
                                    <td>
                                        {% if keyword.status == 0 %}
                                            <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                        {% elif keyword.status == 1 %}
                                            <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                        {% elif keyword.status == 2 %}
                                            <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                        {% elif keyword.status == 3 %}
                                            <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center">
                                        {% if keyword.user_recomendation %}
                                            <span title="{% trans 'Suggested' %}"><i class="icon-thumbs-up"></i></span>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_keyword.management_form }}

                        {% for form in formset_keyword %}
                            <tr id="keyword-{{ forloop.counter0 }}" class="keyword-row{% if form.errors %} error{% endif %} formset-row">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}                                    
                                    {% if user_role == 'doc' and field.name == 'status' %}
                                        <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                        <td></td>
                                    {% elif field.name == 'user_recomendation' %}
                                        {{ field.as_hidden }}                                        
                                        <td style="text-align: center">
                                            {% if field.value == True %}
                                                <span title="{% trans 'Suggested' %}"><i class="icon-thumbs-up"></i></span>
                                            {% endif %}
                                        </td>
                                    {% elif field.name != 'DELETE' %}
                                        <td class="span6">
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="span6">
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>

            </div>

            <div id='tab-thematic' class="tab-pane">
                <fieldset id="thematic">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <th>{% trans "Thematic area" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                        {% if thematic_list %}
                            {% for thematic in thematic_list %}
                                <tr>
                                    <td colspan="2">{{ thematic }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_thematic.management_form }}

                        {% for form in formset_thematic %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="thematic-{{ forloop.counter0 }}" class="thematic-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                    {% if user_role == 'doc' and field.name == 'status' %}
                                       <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                    {% elif field.name != 'DELETE' %}
                                        <td>
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td><!-- status --></td>
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% if not is_new %}
    <div id="error_report_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">      
            <h3 id="myModalLabel">{% trans "Error report" %}</h3>
        </div>

        <div class="modal-header">
            <form method="POST" action="{% url 'error_reporting.views.create_error_report' %}">
                {% csrf_token %}
                <input type="hidden" name="object_id" value="{{ event.id }}"/>
                <input type="hidden" name="content_type" value="{{ content_type }}"/>
                <input type="hidden" name="return_url" value="{% url 'events.views.create_edit_event' event.id %}"/>

                <fieldset id="metadata">
                    {% for hidden in form_error_report.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {{ form_error_report.non_field_errors }}
                    {% for field in form_error_report.visible_fields %}
                        {% if field.name == 'status' %}
                            <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0"/>
                        {% else %}
                            <label for="{{ field.auto_id }}">
                                {% if field.field.required %}
                                    <span class="required">{{ field.label }} <span class="mark">*</span></span>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </label>
                            <p class="muted">{{ field.help_text }}</p>
                            {{ field.errors }}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </fieldset>

                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                <input type="submit" class="btn btn-primary delete" value="{% trans 'Save' %}"></input>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

   <script type="text/javascript">
        var decs_field;
        
        var placeSearch, autocomplete;
        var componentForm = {
            id_city: 'long_name'
        };

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'icon-minus-sign',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });

            $('.keyword-row').formset({
                    addText : '{% trans "Add keyword" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'icon-minus-sign',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'keyword_formset',
                    prefix: '{{ formset_keyword.prefix }}'
            });

            $('.thematic-row').formset({
                    addText : '{% trans "Add thematic area" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'icon-minus-sign',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'thematic_formset',
                    prefix: '{{ formset_thematic.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";


            // Listen to message from child window
            eventer(messageEvent,function(e) {                
                var decs_data = e.data;
                var pipe_pos = decs_data.lastIndexOf('|');
                var decs_text = decs_data.substring(0, pipe_pos);
                var decs_code = decs_data.substring(pipe_pos+1);

                var decs_row = decs_field.replace( /[A-Za-z_$-]/g, '');
                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);                
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

            $(document).on("click", "a.add_error_report", function(){ 
                $("#error_report_modal").modal("show");                
            });



            // Create the autocomplete object, restricting the search
            // to geographical location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */(document.getElementById('id_address')),
                { types: ['geocode'] });
            // When the user selects an address from the dropdown,
            // populate the address fields in the form.
            google.maps.event.addListener(autocomplete, 'place_changed', function() {
              fillInAddress();
            });


        })

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}', 'decslookup', 'scrollbars=1,width=845,height=550');
        }

        // [START region_fillform]
        function fillInAddress() {
          // Get the place details from the autocomplete object.
          var place = autocomplete.getPlace();

          var street_name, street_number = 's/n', neighborhood, city;

          // Get each component of the address from the place details
          // and fill the corresponding field on the form.
          for (var i = 0; i < place.address_components.length; i++) {            
            var addressType = place.address_components[i].types[0];
            var addressValue = place.address_components[i].long_name;

            switch (addressType) {
                case 'route':
                    street_name = addressValue;
                    break;
                case 'street_number':
                    street_number = addressValue;
                    break;
                case 'neighborhood':
                    neighborhood = addressValue;
                    break;
                case 'locality':
                    city = addressValue;            
            }
          }

          // rewrite form elements using Google API information
          document.getElementById('id_address').value = street_name + ', ' + street_number + ', ' + neighborhood;
          document.getElementById('id_city').value = city;


        }
        // [END region_fillform]

   </script>
{% endblock %}

