{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>FI-ADMIN - {% trans "System error" %}<</title>
        <style>
            .container {width: 700px; margin: 50px auto 0px auto; text-align:center; font-family: arial;}
        </style>
	</head>
	<body>
	    <div class="container">
            <h1>8-(</h1>
            <h1>OOPS!</h1>
            <h2>{% trans "System error" %}</h2>
            {{error_type}} {{error_value}}
  	    </div>
        <!--
            {{traceback}}
        -->
	</body>
</html>
