{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap/CSS files -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
        <link href="{% static "fort-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/screen.css" %}" rel="stylesheet">

        <title>{% block title %}{% trans "LIS Administration" %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <div class='mask'><img src='{% static "image/loading.gif" %}'></div>
        <div class="wrap">
            {% block "body" %}
                {% block top %}{% include 'menu.html' %}{% endblock %}

                <ul class="breadcrumb">
                    <li><a href="{% url 'main.views.dashboard' %}">Home</a> <span class="divider">/</span></li>
                    {% block breadcrumb %}{% endblock %}
                </ul>


                <div class="container-fluid content main">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}

            {% block footer %}
            <div class='content' id="footer">
                    <p>
                        <img src="{% static "image/logo-BIREME.png" %}" title="BIREME/OPAS/OMS" />

                        <b class="bireme">{% trans "BIREME - PAHO - WHO" %}</b><br>
                        {% trans "Latin-American and Caribbean Center on Health Sciences Information" %}<br>

                        <a href="http://www.paho.org/bireme" title="{% trans 'BIREME Institutional Site' %}">http://www.paho.org/bireme</a><br>
                        <small>v{% include 'version.txt' %} | <a target="_blank" href="http://github.com/bireme/lis-admin" title="{% trans "project source code" %}">{% trans "project source code" %}</a></small>
                    </p>
            </div>
            {% endblock %}

        </div>

        <!-- javascript files -->

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>

        <script src="{% static "js/actions.js" %}"></script>
        <script src="{% static "js/dashboard.js" %}"></script>
        <script>
            $(function(){
                $(".errorlist").addClass('alert alert-error');
            });
        </script>

        {% include "lang.html" %}
        {% include "alert.html" %}

        {% block extrajs %}{% endblock %}

    </body>
</html>