{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap/CSS files -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
        <link href="{% static "fort-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/screen.css" %}" rel="stylesheet">

        <title>{% block title %}{% trans "FI Administration" %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
          ga('send', 'pageview');
        </script>

        <div class='mask'><img src='{% static "image/loading.gif" %}'></div>
        <div class="wrap">
            {% block "body" %}
                {% block top %}{% include 'menu.html' %}{% endblock %}

                {% block breadcrumb_wrap %}
                <ul class="breadcrumb">
                    <li><a href="{% url 'dashboard.views.widgets' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
                    {% block breadcrumb %}{% endblock %}
                </ul>
                {% endblock %}


                <div class="container-fluid content main">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}

        </div>
        {% block footer %}
            <div  id="footer">
                <img src="{% static 'image/' %}logo-bireme-{{ LANGUAGE_CODE|slice:":2" }}.png" title="BIREME/OPAS/OMS" /><br/>
                <div class="terms_politic">
                    <a href="http://politicas.bireme.org/terminos/{{ LANGUAGE_CODE|slice:":2" }}/" target="_blank">{% trans "Terms and conditions of use" %}</a> |
                    <a href="http://politicas.bireme.org/privacidad/{{ LANGUAGE_CODE|slice:":2" }}/" target="_blank">{% trans "Privacy Policy" %}</a>
                </div>
            </div>
            <!--div class="system-notice">
              Atenção: O sistema FI-ADMIN estará em manutenção hoje (02/08/2016) no período das 15:00hs às 17:00hs.
            </div-->
        {% endblock %}


        <!-- javascript files -->

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>

        <script src="{% static "js/actions.js" %}"></script>
        <script src="{% static "js/dashboard.js" %}"></script>
        <script>
            $(function(){
                $(".errorlist").addClass('alert alert-error');
            });
        </script>

        {% include "lang.html" %}
        {% include "alert.html" %}

        {% block extrajs %}{% endblock %}

    </body>
</html>
