<script>
// change language
function change_language(lang) {
    // chama, via ajax, a view que armazena a linguagem em cookie, para relembrar na proxima entrada
    $.get("{% url 'utils.views.cookie_lang' %}", { language: lang} , function(data) {
        
        var form = document.language;
        form.language.value = lang;
        form.submit();
    });
}
</script>

<form action="{% url 'set_language' %}" method="post" id="setlang" name="language">
	{% csrf_token %}
	<input name="next" type="hidden" value="{{ redirect_to }}" />
	<input name="language" type="hidden" value="{{ LANGUAGE_CODE }}"  id="lang"/>
</form>	