{% load i18n %}

{% block menu %}
    {% if user.is_authenticated %}

        <div class="navbar navbar-fixed-top" id="menu">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="row-fluid top">

                        <a href="{% url 'main.views.dashboard' %}" title="{% trans "Dashboard" %}" class="brand">FI-ADMIN</a>

                        <ul class="nav pull-left">
                            {% if service_list|length > 3 %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu_sources">
                                        <i class="icon-list"></i>
                                        {% trans "Information Source"%}
                                        <i class="icon-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu_sources">
                            {% endif %}
                            {% if service_role.LIS %}
                                <li><a href="{% url 'main.views.list_resources' %}" title=""><i class="icon-star"></i> {% trans "Resources" %}</a></li>
                            {% endif %}

                            {% if service_role.DirEve %}
                                <li><a href="{% url 'events.views.list_events' %}" title=""><i class="icon-calendar"></i> {% trans "Events" %}</a></li>
                            {% endif %}

                            {% if service_role.Multimedia %}
                                <li><a href="{% url 'list_media' %}" title=""><i class="icon-camera"></i> {% trans "Multimedia" %}</a></li>
                            {% endif %}

                            {% if service_role.DirEve or service_role.LIS %}
                                <li><a href="{% url 'suggest.views.list_suggestions' %}" title=""><i class="icon-thumbs-up"></i> {% trans "Suggestions" %}</a></li>
                            {% endif %}

                            {% if service_role.LILDBI %}
                                {% if service_role.LILDBI = 'editor_llxp' %}
                                    <li><a href="{% url 'list_biblioref_sources' %}?document_type=S" title=""><i class="icon-book"></i> {% trans "Bibliographic records" %}</a></li>
                                {% else %}
                                    <li><a href="{% url 'list_biblioref' %}" title=""><i class="icon-book"></i> {% trans "Bibliographic records" %}</a></li>
                                {% endif %}
                            {% endif %}

                            {% if service_role.TITLE and user_cc = 'BR1.1' %}
                                <li><a href="{% url 'list_title' %}" title=""><i class="icon-book"></i> {% trans "Journals" %}</a></li>
                            {% endif %}

                            {% if service_role|length > 3 %}
                                    </ul>
                                </li>
                            {% endif %}

                            {% if service_role.DirEve = 'edi' or service_role.LIS == 'edi' or service_role.LILDBI = 'edi' %}
                                <li><a href="{% url 'error_reporting.views.list_error_report' %}" title=""><i class="icon-warning-sign"></i> {% trans "Error reports" %}</a></li>
                                <li><a href="{% url 'list_reports' %}" title=""><i class="icon-file"></i> {% trans "Reports" %}</a></li>
                            {% endif %}

                            {% if user.is_superuser %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu_control_tables">
                                        <i class="icon-list"></i>
                                        {% trans "Controlled lists"%}
                                        <i class="icon-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu_control_tables">
                                        <li><a href="{% url 'main.views.list_thematics' %}" title=""><i class="icon-tag"></i> {% trans "Thematic areas" %}</a></li>
                                        <li><a href="{% url 'main.views.list_types' %}" title=""><i class="icon-sitemap"></i> {% trans "Source types" %}</a></li>
                                        <li><a href="{% url 'events.views.list_types' %}" title=""><i class="icon-calendar"></i> {% trans "Event types" %}</a></li>
                                        <li><a href="{% url 'main.views.list_languages' %}" title=""><i class="icon-flag"></i> {% trans "Languages" %}</a></li>
                                        <li><a href="{% url 'list_mediatypes' %}" title=""><i class="icon-camera"></i> {% trans "Media types" %}</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>

                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu_language">
                                    <i class="icon-flag"></i>
                                    {% if LANGUAGE_CODE == 'en' %}{% trans "English"|capfirst %}{% endif %}
                                    {% if LANGUAGE_CODE == 'es' %}{% trans "Spanish"|capfirst %}{% endif %}
                                    {% if LANGUAGE_CODE == 'pt-br' %}{% trans "Portuguese"|capfirst %}{% endif %}
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu_language">
                                    {% if LANGUAGE_CODE != "en" %}<li><a href="javascript: change_language('en')" title="{% trans 'English' %}">{% trans 'English'|capfirst %}</a></li>{% endif %}
                                    {% if LANGUAGE_CODE != "pt-br" %}<li><a href="javascript: change_language('pt-BR')" title="{% trans 'Portuguese' %}">{% trans 'Portuguese'|capfirst %}</a></li>{% endif %}
                                    {% if LANGUAGE_CODE != "es" %}<li><a href="javascript: change_language('es')" title="{% trans 'Spanish' %}">{% trans 'Spanish'|capfirst %}</a></li>{% endif %}
                                </ul>
                            </li>
                            <!--
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu_profile">
                                    <i class="icon-user"></i><i class="icon-caret-down"></i>
                                </a>
                            </li>
                            -->
                            <li class="dropdow">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu_user"><i class="icon-user icon-white"></i>{{ user_name }} ({{ user_cc }})
                                </a>
                                <ul class="dropdown-menu" role="user_menu" aria-labelledby="menu_user">
                                    <li><a href="{% url 'django.contrib.auth.views.logout' %}" title="Logout">
                                    {% trans 'Logout' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
