{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Preview Title" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'list_title' %}">{% trans "Titles" %}</a> <span class="divider">/</span></li>
    {% if object %}
        <li><a href="{% url 'edit_title' object.id %}">{% trans "Edit Title" %}</a> <span class="divider">/</span></li>
    {% else %}
        <li><a href="{% url 'create_title' %}">{% trans "New Title" %}</a> <span class="divider">/</span></li>
    {% endif %}
    <li>{% trans "Preview Title" %}</li>
{% endblock %}

{% block content %}

<div class='header'>
    <h2><i class='icon-book'></i>{% trans "Preview Title" %}{% if not object %}{% if next_id %} - ID: {{ next_id }}{% endif %}{% else %}{% if object.id %} - ID: {{ object.id }}{% endif %}{% endif %}</h2>
</div>

<div class='body'>

    {% if form.errors %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "Please check required fields" %}</li>
        </ul>
    {% endif %}
    {% if valid_for_publication != None and not valid_for_publication %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "For status admitted you must have at least one descriptor and one thematic area admitted" %}</li>
        </ul>
    {% endif %}

    {{ formset_collection.non_form_errors }}
    {{ formset_issues.non_form_errors }}
    {{ formset_audit.non_form_errors }}
    {{ formset_indexrange.non_form_errors }}
    {{ formset_specialty.non_form_errors }}
    {{ formset_variance.non_form_errors }}
    {{ formset_links.non_form_errors }}
    {{ formset_descriptor.non_form_errors }}
    {{ formset_keyword.non_form_errors }}
    {{ formset_publicinfo.non_form_errors }}

    <form method="POST" class="form-preview" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="action" value="save" />

        <div class="preview">
            <div id="tab-data" class="active">
                {% if role == 'doc' and not user_data.is_owner and title %}
                    <div class="well">
                        <blockquote>
                            <p><strong>{% trans 'Identifier' %}</strong><p>
                            <p>{{ title.id }}</p>
                        </blockquote>

                        {% for field in form %}
                            {{ field.as_hidden }}
                            {{ field.errors }}
                            <blockquote>
                                <p><strong>{{ field.label }}</strong><p>
                                {% if field.name == 'status' %}
                                    <p>{{ title.get_status_display }}</p>
                                {% elif field.name == 'link' %}
                                    {% for link in field.value.splitlines %}
                                        <p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
                                    {% endfor %}
                                {% elif field.name == 'source_type' %}
                                    {% for st in title.source_type.all %}
                                        <p>{{ st }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>{{ field.value|linebreaks }}<p>
                                {% endif %}
                            </blockquote>
                        {% endfor %}
                    </div>

                {% else %}

                    <fieldset id="metadata">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ form.non_field_errors }}
                        {% for field in form.visible_fields %}
                            {% if field.value %}
                                <label for="{{ field.auto_id }}">
                                    {{ field.label }}:
                                </label>
                                {% if field.field|fieldtype != 'CharField' %}
                                    {% get_field_display form.instance field ', ' %}
                                {% else %}
                                    {% if field.field|widgetfieldtype == 'Textarea' %}
                                        <span class="textarea">{{ field.value|linebreaks }}</span>
                                    {% else %}
                                        {{ field.value }}
                                    {% endif %}
                                {% endif %}
                                <p class="muted"></p>
                                {{ field }}
                            {% endif%}
                        {% endfor %}
                    </fieldset>
                {% endif %}
            </div>

            <div id='tab-descriptors'>
                <fieldset id="descriptors">
                    <span>{% trans "Descriptors" %}:</span>

                    {% if descriptor_list %}
                        {% for descriptor in descriptor_list %}
                            {{ descriptor.text }}
                        {% endfor %}
                    {% endif %}

                    {{ formset_descriptor.management_form }}

                    {% for form in formset_descriptor %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if form.DELETE.value %}
                            <input type="hidden" name="{{ formset_descriptor.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_descriptor.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                        {% else %}
                            {% for field in form.visible_fields %}
                                {% if field.name == 'status' %}
                                    {{ field.as_hidden }}
                                {% elif field.name == 'code' %}
                                    {{ field.as_hidden }}
                                {% elif field.name == 'text' %}
                                    {{ field.as_hidden }}
                                    {{ field.value }}{% if field.value %},{% else %}{% endif %}
                                {% elif field.name != 'DELETE' and field.name != 'status' %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {% endif %}
                    {% endfor %}
                    <p class="muted"></p>
                </fieldset>

                <fieldset id="keywords">
                    <span>{% trans "Keywords" %}:</span>

                    {% if keyword_list %}
                        {% for keyword in keyword_list %}
                            {{ keyword.text }}
                        {% endfor %}
                    {% endif %}

                    {{ formset_keyword.management_form }}

                    {% for form in formset_keyword %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if form.DELETE.value %}
                            <input type="hidden" name="{{ formset_keyword.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_keyword.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                        {% else %}
                            {% for field in form.visible_fields %}
                                {% if field.name == 'status' %}
                                    {{ field.as_hidden }}
                                {% elif field.name == 'user_recomendation' %}
                                    {{ field.as_hidden }}
                                {% elif field.name != 'DELETE' %}
                                    {{ field.value }}{% if field.value %},{% else %}{% endif %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {% endif %}
                    {% endfor %}
                    <p class="muted"></p>
                </fieldset>

                <fieldset id="collection">
                    <span>{% trans "Collection" %}:</span>

                    {{ formset_collection.management_form }}

                    {% for form in formset_collection %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if form.DELETE.value %}
                            <input type="hidden" name="{{ formset_collection.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_collection.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                        {% else %}
                            {% for field in form.visible_fields %}
                                {{ field }}
                                {% if field.field|widgetfieldtype == 'Textarea' %}
                                    <span class="textarea">{{ field.value|linebreaks }}</span>
                                {% else %}
                                    {{ field.value }}
                                {% endif %}
                            {% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {% endif %}
                    {% endfor %}
                    <p class="muted"></p>
                </fieldset>
            </div>

            <div id='tab-indexrange' class="tab-pane">
                <fieldset id="indexrange">
                    <span class="table-header">{% trans "Index range" %}</span>
                    <table class="table table-condensed">
                        <thead>
                            <th class="index-code">{% trans "Index source code" %}</th>
                            <th>{% trans "Initial date" %}</th>
                            <th>{% trans "Initial volume" %}</th>
                            <th>{% trans "Initial number" %}</th>
                            <th>{% trans "Final date" %}</th>
                            <th>{% trans "Final volume" %}</th>
                            <th>{% trans "Final number" %}</th>
                            <th class="indexer-cc-code">{% trans "Indexer center code" %}</th>
                            <th>{% trans "Copy" %}</th>
                            <th class="nowrap">{% trans "To distribute" %}</th>
                            <th>{% trans "Selective" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_indexrange.management_form }}

                        {% for form in formset_indexrange %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% if form.cleaned_data|length %}
                                {% if form.DELETE.value %}
                                    <input type="hidden" name="{{ formset_indexrange.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_indexrange.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                                {% else %}
                                    <tr id="indexrange-{{ forloop.counter0 }}" class="indexrange-row{% if form.errors %} error{% endif %} formset-row">
                                        {% for field in form.visible_fields %}
                                            {% if form.DELETE.value == False and field.name != 'DELETE' %}
                                                {% if field.name == 'copy' %}
                                                    <td class="nowrap">
                                                {% else %}
                                                    <td>
                                                {% endif %}
                                                    {{ field }}
                                                    {% if field.field|fieldtype not in 'CharField|BooleanField' %}
                                                        {% get_field_display form.instance field %}
                                                    {% else %}
                                                        {% if field.field|fieldtype == 'BooleanField' %}
                                                            {% if field.value %}
                                                                <div class="centralize">
                                                                    <i class='icon-ok'></i>
                                                                </div>
                                                            {% endif %}
                                                        {% else %}
                                                            {{ field.value }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="muted"></p>
                </fieldset>
            </div>

            <div id='tab-specialty' class="tab-pane">
                <fieldset id="specialty">
                    <span class="table-header">{% trans "BVS Specialties" %}</span>
                    <table class="table table-condensed">
                        <thead>
                            <th>{% trans "VHL" %}</th>
                            <th>{% trans "VHL Thematic area" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_specialty.management_form }}

                        {% for form in formset_specialty %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% if form.cleaned_data|length %}
                                {% if form.DELETE.value %}
                                    <input type="hidden" name="{{ formset_specialty.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_specialty.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                                {% else %}
                                    <tr id="specialty-{{ forloop.counter0 }}" class="specialty-row{% if form.errors %} error{% endif %} formset-row">
                                        {% for field in form.visible_fields %}
                                            {% if form.DELETE.value == False and field.name != 'DELETE' %}
                                                <td>
                                                    {{ field }}
                                                    {% if field.field|fieldtype != 'CharField' %}
                                                        {% get_field_display form.instance field %}
                                                    {% else %}
                                                        {{ field.value }}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="muted"></p>
                </fieldset>
            </div>

            <div id='tab-variance' class="tab-pane">
                <fieldset id="variance">
                    <span class="table-header">{% trans "Title variances" %}</span>
                    <table class="table table-condensed">
                        <thead>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "ISSN" %}</th>
                            <th>{% trans "Initial year" %}</th>
                            <th>{% trans "Initial volume" %}</th>
                            <th>{% trans "Initial number" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_variance.management_form }}

                        {% for form in formset_variance %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% if form.cleaned_data|length %}
                                {% if form.DELETE.value %}
                                    <input type="hidden" name="{{ formset_variance.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_variance.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                                {% else %}
                                    <tr id="variance-{{ forloop.counter0 }}" class="variance-row{% if form.errors %} error{% endif %} formset-row">
                                        {% for field in form.visible_fields %}
                                            {% if form.DELETE.value == False and field.name != 'DELETE' %}
                                                <td>
                                                    {{ field }}
                                                    {% if field.field|fieldtype != 'CharField' %}
                                                        {% get_field_display form.instance field %}
                                                    {% else %}
                                                        {{ field.value }}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="muted"></p>
                </fieldset>
            </div>

            <div id='tab-audit' class="tab-pane">
                <fieldset id="audit">
                    <span class="table-header">{% trans "Audit" %}</span>
                    <table class="table table-condensed">
                        <thead>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "ISSN" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_audit.management_form }}

                        {% for form in formset_audit %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% if form.cleaned_data|length %}
                                {% if form.DELETE.value %}
                                    <input type="hidden" name="{{ formset_audit.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_audit.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                                {% else %}
                                    <tr id="audit-{{ forloop.counter0 }}" class="audit-row{% if form.errors %} error{% endif %} formset-row">
                                        {% for field in form.visible_fields %}
                                            {% if field.name != 'DELETE' %}
                                                <td>
                                                    {{ field }}
                                                    {% if field.field|fieldtype != 'CharField' %}
                                                        {% get_field_display form.instance field %}
                                                    {% else %}
                                                        {{ field.value }}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="muted"></p>
                </fieldset>
            </div>

            <div id='tab-onlineresource' class="tab-pane">
                <fieldset id="onlineresource">
                    <span class="table-header">{% trans "Online resources" %}</span>
                    <p class="muted"></p>

                    {{ formset_links.management_form }}

                    {% for form in formset_links %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if form.cleaned_data|length %}
                            {% if form.DELETE.value %}
                                <input type="hidden" name="{{ formset_links.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_links.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                            {% else %}
                                <div id="onlineresource-{{ forloop.counter0 }}" class="onlineresource onlineresource-row{% if form.errors %} error{% endif %} formset-row well">
                                {% for field in form.visible_fields %}
                                    {% if field.value and field.name != 'DELETE' %}
                                        <label for="{{ field.auto_id }}">
                                            {{ field.label }}:
                                        </label>
                                        {% if field.field|fieldtype not in 'CharField|URLField' %}
                                            {% get_field_display form.instance field ', ' %}
                                        {% else %}
                                            {% if field.field|widgetfieldtype == 'Textarea' %}
                                                <span class="textarea">{{ field.value|linebreaks }}</span>
                                            {% else %}
                                                {{ field.value }}
                                            {% endif %}
                                        {% endif %}
                                        <p class="muted"></p>
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                                {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
            </div>

            <div id='tab-issues' class="tab-pane">
                <fieldset id="issues">
                    <span class="table-header">{% trans "Issues" %}</span>
                    <table class="table table-condensed">
                        <thead>
                            <th>{% trans "Year" %}</th>
                            <th>{% trans "Volume" %}</th>
                            <th>{% trans "Number" %}</th>
                            <th>{% trans "Copies" %}</th>
                            <th>{% trans "Mask" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Publication Type" %}</th>
                            <th>{% trans "Notes" %}</th>
                            <th>{% trans "URLs" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_issues.management_form }}

                        {% for form in formset_issues %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% if form.cleaned_data|length %}
                                {% if form.DELETE.value %}
                                    <input type="hidden" name="{{ formset_issues.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset_issues.prefix }}-{{ forloop.counter0 }}-DELETE" value="on">
                                {% else %}
                                    <tr id="issue-{{ forloop.counter0 }}" class="issue-row {% if form.errors %}error{% endif %} formset-row">
                                        {% for field in form.visible_fields %}
                                            {% if field.name != 'DELETE' %}
                                                <td>
                                                    {{ field }}
                                                    {% if field.field|fieldtype != 'CharField' %}
                                                        {% get_field_display form.instance field %}
                                                    {% else %}
                                                        {{ field.value|linebreaks }}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="muted"></p>
                </fieldset>
            </div>

            <div id='tab-publicinfo' class="tab-pane">
                <fieldset id="publicinfo">
                    <span class="table-header">{% trans "Information" %}</span>
                    <p class="muted"></p>

                    {{ formset_publicinfo.management_form }}

                    {{ form.non_field_errors }}

                    {% for form in formset_publicinfo %}
                        {{ form.non_field_errors }}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in form %}
                            {% if not field.is_hidden or field.field|fieldtype == 'JSONField' %}
                                <label for="{{ field.auto_id }}">
                                    {{ field.label }}:
                                </label>
                                {% if field.field|fieldtype == 'JSONField' %}
                                    {{ field.value|display_json_value|safe }}
                                {% else %}
                                    {% if field.value %}{{ field.value }}{% endif %}
                                {% endif %}
                                <p class="muted"></p>
                                {% if field.field|fieldtype == 'FileField' %}
                                    {% if field.value == "False" %}
                                        <input type="hidden" name="publicinfo_set-0-logo_image_file-clear" id="publicinfo_set-0-logo_image_file-clear_id" value="on">
                                    {% endif %}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </fieldset>
            </div>

        </div>

        <div class="control-panel form-submit" style="margin-top: 10px !important;">
            <button class="btn btn-large edit-page">{% trans "Edit" %}</button>
            <button class="btn btn-primary btn-large save">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% endblock %}

{% block extrajs %}
   <script type="text/javascript">
        $(function() {
            $(document).on("click", "button.edit-page", function(){
                $("input[name=action]").val('edit');
            });
        })
   </script>
{% endblock %}
