{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Edit Title" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'list_title' %}">{% trans "Titles" %}</a> <span class="divider">/</span></li>
    {% if not object %}<li>{% trans "New Title" %}</li>
    {% else %}<li>{% trans "Edit Title" %}</li>{% endif %}
{% endblock %}

{% block content %}

<div class='header'>
    <h2><i class='icon-book'></i>{% if not object %}{% trans "New Title" %}{% else %}{% trans "Edit Title" %}{% endif %}</h2>
</div>

<div class='body'>

    {% if form.errors %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "Please check required fields" %}</li>
        </ul>        
    {% endif %}
    {% if valid_for_publication != None and not valid_for_publication %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "For status admitted you must have at least one descriptor and one thematic area admitted" %}</li>
        </ul>
    {% endif %}

    {{ formset_audit.non_form_errors }}
    {{ formset_indexrange.non_form_errors }}
    {{ formset_specialty.non_form_errors }}
    {{ formset_variance.non_form_errors }}
    {{ formset_descriptor.non_form_errors }}
    {{ formset_keyword.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}</a></li>
        <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Descriptors" %}</a></li>
        <li><a href="#tab-indexrange" data-toggle="tab"><i class="icon-tags"></i> {% trans "Index range" %}</a></li>
        <li><a href="#tab-specialty" data-toggle="tab"><i class="icon-tags"></i> {% trans "BVS Specialties" %}</a></li>
        <li><a href="#tab-variance" data-toggle="tab"><i class="icon-tags"></i> {% trans "Title variances" %}</a></li>
        <li><a href="#tab-audit" data-toggle="tab"><i class="icon-tags"></i> {% trans "Audit" %}</a></li>
        <li><a href="#tab-onlineresource" data-toggle="tab"><i class="icon-link"></i> {% trans "Online resources" %}</a></li>
    </ul>

    <form method="POST" class="title-form">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    {% if role == 'doc' and not user_data.is_owner and title %}
                        <div class="well">
                            <blockquote>
                                <p><strong>{% trans 'Identifier' %}</strong><p>
                                <p>{{ title.id }}</p>
                            </blockquote>

                            {% for field in form %}
                                {{ field.as_hidden }}
                                {{ field.errors }}
                                <blockquote>
                                    <p><strong>{{ field.label }}</strong><p>
                                    {% if field.name = 'status' %}
                                        <p>{{ title.get_status_display }}</p>
                                    {% elif field.name = 'link' %}
                                        {% for link in field.value.splitlines %}
                                            <p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
                                        {% endfor %}
                                    {% elif field.name = 'source_type' %}
                                        {% for st in title.source_type.all %}
                                            <p>{{ st }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p>{{ field.value|linebreaks }}<p>
                                    {% endif %}
                                </blockquote>
                            {% endfor %}
                        </div>

                    {% else %}

                        <fieldset id="metadata">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ form.non_field_errors }}
                            {% for field in form.visible_fields %}
                                <label for="{{ field.auto_id }}">
                                    {% if field.field.required %}
                                        <span class="required">{{ field.label }} <span class="mark">*</span></span>
                                    {% else %}
                                        {{ field.label }}
                                    {% endif %}
                                </label>
                                <p class="muted">{{ field.help_text }}</p>
                                {{ field.errors }}
                                {{ field }}
                            {% endfor %}
                        </fieldset>
                    {% endif %}

                    {% comment %}Display administrative information{% endcomment %}

                    {% if title.id %}
                        <div class="alert alert-info">
                            <p>{% trans "Title created in" %}: <strong>{{ title.created_time }}</strong> {% trans "by user" %}  <strong>{{ title.created_by.username }}</strong></p>
                            <p>{% trans "Cooperative center code" %}: <strong>{{ title.cooperative_center_code }}</strong></p>
                            {% if title.updated_by %}
                                <p>{% trans "Last edit in" %} <strong>{{ title.updated_time }}</strong> {% trans "by user" %}  <strong>{{ title.updated_by.username }}</strong></p>
                            {% endif %}
                        </div>

                    {% endif %}
            </div>

            <div id='tab-descriptors' class="tab-pane">
                <fieldset id="descriptors" class="row">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Descriptors" %}</th>
                            <th></th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>

                        {% if descriptor_list %}
                            {% for descriptor in descriptor_list %}
                                <tr>
                                    <td>{{ descriptor.text }}</td>
                                    <td>
                                        {% if descriptor.status == 0 %}
                                            <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                        {% elif descriptor.status == 1 %}
                                            <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                        {% elif descriptor.status == 2 %}
                                            <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                        {% elif descriptor.status == 3 %}
                                            <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_descriptor.management_form }}

                        {% for form in formset_descriptor %}
                            <tr id="descriptor-{{ forloop.counter0 }}" class="descriptor-row{% if form.errors %} error{% endif %} formset-row">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}                                    
                                    {% if field.name == 'status' %}
                                        {{ field.as_hidden }}
                                        <td></td>
                                    {% elif field.name == 'code' %}
                                        {{ field.as_hidden }}
                                    {% elif field.name == 'text' %}                                        
                                        <td class="span6">
                                            {{ field.as_hidden }}
                                            <div class="input-large uneditable-input {% if field.value == None %}placeholder-style{% endif %}" id="label_{{ field.html_name }}">
                                                {% spaceless %}
                                                {% if field.value == None or field.value == '' %}
                                                    {% trans "Select by search" %}
                                                {% else %} 
                                                    {{ field.value }}
                                                {% endif %}
                                                {% endspaceless %}
                                            </div>
                                            <a href="#" onclick="javascript:decs_search(this)";><i class="icon-search"></i></a>
                                        </td>
                                    {% elif field.name != 'DELETE' and field.name != 'status' %}
                                        <td class="span6">
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="span6">
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="keywords" class="row">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Keywords" %}</th>
                            <th></th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>

                        {% if keyword_list %}
                            {% for keyword in keyword_list %}
                                <tr>
                                    <td>{{ keyword.text }}</td>
                                    <td>
                                        {% if keyword.status == 0 %}
                                            <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                        {% elif keyword.status == 1 %}
                                            <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                        {% elif keyword.status == 2 %}
                                            <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                        {% elif keyword.status == 3 %}
                                            <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center">
                                        {% if keyword.user_recomendation %}
                                            <span title="{% trans 'Suggested' %}"><i class="icon-thumbs-up"></i></span>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_keyword.management_form }}

                        {% for form in formset_keyword %}
                            <tr id="keyword-{{ forloop.counter0 }}" class="keyword-row{% if form.errors %} error{% endif %} formset-row">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {% if field.name == 'status' %}
                                        {{ field.as_hidden }}
                                        <td></td>
                                    {% elif field.name == 'user_recomendation' %}
                                        {{ field.as_hidden }}
                                    {% elif field.name != 'DELETE' and field.name != 'status' %}
                                        <td class="span6">
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="span6">
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div id='tab-indexrange' class="tab-pane">
                <fieldset id="indexrange">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Index source code" %}</th>
                            <th>{% trans "Initial date" %}</th>
                            <th>{% trans "Initial volume" %}</th>
                            <th>{% trans "Initial number" %}</th>
                            <th>{% trans "Final date" %}</th>
                            <th>{% trans "Final volume" %}</th>
                            <th>{% trans "Final number" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_indexrange.management_form }}

                        {% for form in formset_indexrange %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="indexrange-{{ forloop.counter0 }}" class="indexrange-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                    {% if field.name != 'DELETE' %}
                                        <td class="indexrange">
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div id='tab-specialty' class="tab-pane">
                <fieldset id="specialty">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "VHL" %}</th>
                            <th>{% trans "VHL Thematic area" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_specialty.management_form }}

                        {% for form in formset_specialty %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="specialty-{{ forloop.counter0 }}" class="specialty-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                    {% if field.name != 'DELETE' %}
                                        <td>
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div id='tab-variance' class="tab-pane">
                <fieldset id="variance">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "ISSN" %}</th>
                            <th>{% trans "Initial year" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_variance.management_form }}

                        {% for form in formset_variance %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="variance-{{ forloop.counter0 }}" class="variance-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                    {% if field.name != 'DELETE' %}
                                        <td>
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div id='tab-audit' class="tab-pane">
                <fieldset id="audit">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "ISSN" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>

                        {{ formset_audit.management_form }}

                        {% for form in formset_audit %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="audit-{{ forloop.counter0 }}" class="audit-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                    {% if field.name != 'DELETE' %}
                                        <td>
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div id='tab-onlineresource' class="tab-pane">
                <fieldset id="onlineresource">

                    {{ formset_links.management_form }}

                    {% for form in formset_links %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ formset_links.non_form_errors }}
                        <div id="onlineresource-{{ forloop.counter0 }}" class="onlineresource onlineresource-row{% if form.errors %} error{% endif %} formset-row">
                            <table class="table table-condensed table-striped span8">
                                <tr>
                                    <td>
                                        {% for field in form.visible_fields %}
                                            {% if field.name != 'DELETE' %}
                                                {% if field.name in 'tco|ndb|pca' %}
                                                    <div class="check">
                                                        {{ field.errors }}
                                                        {{ field }}
                                                        <label for="{{ field.auto_id }}">
                                                            {{ field.label }}
                                                        </label>
                                                    </div>
                                                {% elif field.name == 'initial_period' %}
                                                    <div class="form-inline period">
                                                        {{ field.errors }}
                                                        <span>{% trans "Period" %}:</span>
                                                        <label for="{{ field.auto_id }}">{% trans "From" %}</label>
                                                        {{ field }}
                                                {% elif field.name == 'final_period' %}
                                                        {{ field.errors }}
                                                        <label for="{{ field.auto_id }}">{% trans "Until" %}</label>
                                                        {{ field }}
                                                    </div>
                                                {% else %}
                                                    <label for="{{ field.auto_id }}">
                                                        {{ field.label }}
                                                    </label>
                                                    <p class="muted">{{ field.help_text }}</p>
                                                    {{ field.errors }}
                                                    {{ field }}
                                                {% endif %}
                                            {% endif %}
                                            {% if forloop.counter0 == 5 %}</td><td>{% endif %}
                                        {% endfor %}
                                        <div>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large save">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>

   <script type="text/javascript">
        var decs_field;

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });
            $('.keyword-row').formset({
                    addText : '{% trans "Add keyword" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'keyword_formset',
                    prefix: '{{ formset_keyword.prefix }}'
            });
            $('.specialty-row').formset({
                    addText : '{% trans "Add specialty" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'specialty_formset',
                    prefix: '{{ formset_specialty.prefix }}'
            });
            $('.variance-row').formset({
                    addText : '{% trans "Add variance" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'variance_formset',
                    prefix: '{{ formset_variance.prefix }}'
            });
            $('.indexrange-row').formset({
                    addText : '{% trans "Add index range" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'indexrange_formset',
                    prefix: '{{ formset_indexrange.prefix }}'
            });
            $('.audit-row').formset({
                    addText : '{% trans "Add audit" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'audit_formset',
                    prefix: '{{ formset_audit.prefix }}'
            });
            $('.onlineresource-row').formset({
                    addText : '{% trans "Add online resource" %}',
                    deleteText: '{% trans "delete" %}<i class="icon-trash"></i>',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'onlineresource_formset',
                    prefix: '{{ formset_onlineresource.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

            // Listen to message from child window
            eventer(messageEvent,function(e) {                
                var decs_data = e.data;
                var pipe_pos = decs_data.lastIndexOf('|');
                var decs_text = decs_data.substring(0, pipe_pos);
                var decs_code = decs_data.substring(pipe_pos+1);

                var decs_row = decs_field.replace( /[A-Za-z_$-]/g, '');
                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);                
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

            $(document).on("click", "a.add_error_report", function(){ 
                $("#error_report_modal").modal("show");                
            });

            $(document).on("click", "button.save", function(){
                // Check if descriptors text field is empty
                var decsformset = $('#tab-descriptors .descriptor-row');
                decsformset.each(function() {
                    var decsemptyformset = $(this).find('.placeholder-style').length;
                    $(this).find("input[id$='status']").val(1);
                    if(decsemptyformset == 1) {
                        $(this).find("input[id$='status']").val(0);
                    }
                });

                // Check if keywords text field is empty
                var keywordsformset = $('#tab-descriptors .keyword-row');
                keywordsformset.each(function() {
                    var keywordsemptyformset = $(this).find("input[type='text']").val();
                    $(this).find("input[id$='status']").val(1);
                    if(!keywordsemptyformset) {
                        $(this).find("input[id$='status']").val(0);
                    }
                });
            });

            // Prevent losing data by navigating away from the page
            /*$(window).bind('beforeunload', function() {
                var checkboxcount = $("input:checkbox:checked").length;
                if(checkboxcount > 0) {
                    return 'Are you sure?';
                }
            });*/
            
        })

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}', 'decslookup', 'scrollbars=1,width=845,height=550');
        }

   </script>
{% endblock %}
