{% load i18n %}

<div id='tab-contact' class="tab-pane">

    {% for error in formset_contact.non_form_errors  %}
        <p class="errorlist alert alert-error">
            {{ error|escape }}
        </p>
    {% endfor %}

    <fieldset id="contact">
        <table class="table table-condensed table-striped span8">
            <thead>
                <th>{% trans "Prefix" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Job title" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Phone" %}</th>
                {% if user_can_edit %}
                    <th>{% trans "Delete?" %}</th>
                {% endif %}
            </thead>
            <tbody>
            {% if user_can_edit %}

                {{ formset_contact.management_form }}

                {% for form in formset_contact %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr id="contact-{{ forloop.counter0 }}" class="contact-row{% if form.errors %} error{% endif %} formset-row">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'DELETE' %}
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for form in formset_contact %}
                    {% for field in form %}
                        {% if field.name == 'email' %}
                            <td>
                                <strong><a href="mailto:{{form.instance.email}}" target="_blank">{{ form.instance.email }}</a></strong>
                            </td>
                        {% else %}
                            <td>
                                {{field.value}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </fieldset>

</div>
