{% load i18n %}

<div id='tab-person' class="tab-pane">

    {% for error in formset_person.non_form_errors  %}
        <p class="errorlist alert alert-error">
            {{ error|escape }}
        </p>
    {% endfor %}

    <fieldset id="person">
        <table class="table table-condensed table-striped span8">
            <thead>
                <th>{% trans "Prefix" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Job title" %}</th>
                {% if user_can_edit %}
                    <th>{% trans "Delete?" %}</th>
                {% endif %}
            </thead>
            <tbody>
            {% if user_can_edit %}

                {{ formset_person.management_form }}

                {% for form in formset_person %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr id="person-{{ forloop.counter0 }}" class="url-row{% if form.errors %} error{% endif %} formset-person">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'DELETE' %}
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for form in formset_person %}
                    {% for field in form %}
                        <td>
                            {{ field.value }}
                        </td>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </fieldset>

</div>
