{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block top %}{% endblock %}

{% block extrahead %}
<style>
    a:hover{
        text-transform: uppercase;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block title %}{% trans "Institution" %} | {{ block.super }}{% endblock %}

{% block breadcrumb_wrap %}{% endblock %}

{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
</form>

<div class="row">
    <div class="span12">
        <form name="search">
            {% trans "Name" %}:
            <input type="text" name="s" class="input-xlarge" value="{{ actions.s }}">
            <input type="hidden" name="page" value="{{ actions.page }}">
            <button class="btn btn-primary" type="submit" style="margin-top: -10px"><i class="icon-search"></i></button>
        </form>
    </div>
</div>

<div>
    {% if object_list|length > 0 %}
        <h4>{% trans "Select the unity" %}</h4>
        <table class='table'>
            <thead>
                <th><a href="javascript:orderby('name');" id="id_title">{% trans "Name" %}</a></th>
            </thead>
            <tbody>
                {% for unit in object_list %}
                    <tr>
                        <td><a href="#" onclick="opener.dismissRelatedLookupPopup('{{ unit.id }}', '{{ unit }}' ); return false;">{{ unit }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "pagination_generic.html" %}
    {% else %}
        <div class="alert alert-info">
            {% trans "No unit was found" %}
        </div>
    {% endif %}

    <a href="#" onclick="$('#create_new').toggle()" class="btn btn-success"><i class="icon-plus"></i> {% trans "Create new unity" %}</a>

    <div class="{% if not form.errors %}hide{% endif %}" id="create_new">
        {% if form.non_field_errors %}
            <div class="alert alert-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="POST" class="new_unit" action="{% url 'add_unit' %}">
            {% csrf_token %}
            <input type="hidden" name="country" value="{{param_country}}" />

            <div class="row-fluid">
                <div class="span7">
                    {% trans "Name" %}:<br/>
                    {{ form.name.errors }}
                    {{ form.name}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    {% trans "Acronym" %}:<br/>
                    {{ form.acronym.errors }}
                    {{ form.acronym}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <button class="btn btn-primary btn-large" type="submit">{% trans 'Add' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
