{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block extrahead %}
<link href="{% static "css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
<link href="{% static "css/multiple-select.min.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Edit Legislation" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'list_legislation' %}">{% trans "Legislation" %}</a> <span class="divider">/</span></li>
    {% if not object %}<li>{% trans "New Legislation" %}</li>
    {% else %}<li>{% trans "Edit Legislation" %}</li>{% endif %}
{% endblock %}

{% block content %}


<div class='header'>
    <h2><i class='icon-file'></i>{% if not object %}{% trans "New Legislation" %}{% else %}{% trans "Edit Legislation" %}{% endif %}</h2>
</div>

<div class='body'>

    {% if form.errors %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "Please check required fields" %}</li>
        </ul>
    {% endif %}
    {{ formset_descriptor.non_form_errors }}
    {{ formset_thematic.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}</a></li>
        <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Indexing" %}</a></li>
        <li><a href="#tab-attachment" data-toggle="tab"><i class="icon-globe"></i>  {% trans "Fulltext" %}{% if formset_attachment.errors and not formset_attachment.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
        <li><a href="#tab-relationship" data-toggle="tab"><i class="icon-retweet"></i>  {% trans "Relationship" %}{% if formset_relation.errors and not formset_relation.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
        <li><a href="#tab-thematic" data-toggle="tab"><i class="icon-tags"></i> {% trans "Thematic areas" %}</a></li>
    </ul>

    <div class="dedup-alert well fixed-alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert">&nbsp;&nbsp;&nbsp;&times;</button>
        <strong><i class="icon icon-warning-sign"></i> {% trans "Possible duplication" %} <a href="#" data-toggle="modal" data-target="#dedup_result">({% trans "check" %})</a></strong>
    </div>

    <form method="POST" enctype="multipart/form-data" class="act-form">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                    {% if role == 'doc' and not user_data.is_owner and act %}
                        <div class="well">
                            <blockquote>
                                <p><strong>{% trans 'Identifier' %}</strong><p>
                                <p>{{ act.id }}</p>
                            </blockquote>

                            {% for field in form %}
                                {{ field.as_hidden }}
                                {{ field.errors }}
                                <blockquote>
                                    <p><strong>{{ field.label }}</strong><p>
                                    {% if field.name = 'status' %}
                                        <p>{{ act.get_status_display }}</p>
                                    {% else %}
                                        <p>{{ field.value|linebreaks }}<p>
                                    {% endif %}
                                </blockquote>
                            {% endfor %}
                        </div>

                    {% else %}

                        <fieldset class="metadata">
                            <ul>
                              {% for hidden in form.hidden_fields %}
                                  {{ hidden }}
                              {% endfor %}
                              {{ form.non_field_errors }}
                              {% for field in form.visible_fields %}
                                    <li id="field_{{ field.name }}">
                                      {% if field.name not in indexing_fields %}
                                          {% if field.field|fieldtype == 'BooleanField' %}
                                                <span>{{ field.label }}</span>
                                          {% else %}
                                                <label for="{{ field.auto_id }}">
                                                    {% if field.name in help_fields %}
                                                        <a href="#" onclick="$('#help_modal_title').html('{{ field.label }}')" data-toggle="modal" data-target="#help_modal" data-remote="/help/view/leisref/{{field.name}}/" class="field_with_help">
                                                    {% endif %}
                                                    {% if field.field.required %}
                                                        <span class="required">{{ field.label }} <span class="mark">*</span></span>
                                                    {% else %}
                                                        {{ field.label }}
                                                    {% endif %}
                                                    {% if field.name in help_fields %}
                                                        </a>
                                                    {% endif %}
                                                </label>
                                          {% endif %}
                                          {% if field.help_text %}
                                              <p class="muted">{{ field.help_text }}</p>
                                          {% endif %}
                                          {{ field.errors }}
                                          {{ field }}
                                      {% endif %}
                                    </li>
                              {% endfor %}
                            </ul>
                        </fieldset>
                    {% endif %}

                    {% comment %}Display administrative information{% endcomment %}

                    {% if act.id %}
                        <div class="alert alert-info">
                            <p>{% trans "Act created in" %}: <strong>{{ act.created_time }}</strong> {% trans "by user" %}  <strong>{{ act.created_by.username }}</strong></p>
                            <p>{% trans "Cooperative center code" %}: <strong>{{ act.cooperative_center_code }}</strong></p>
                            {% if act.updated_by %}
                                <p>{% trans "Last edit in" %} <strong>{{ act.updated_time }}</strong> {% trans "by user" %}  <strong>{{ act.updated_by.username }}</strong></p>
                            {% endif %}
                        </div>
                        <div class="btn-group pull-right">
                            <a href="#" data-toggle="modal" data-target="#log_modal" data-remote="/log/view/{{c_type.id}}/{{object.id}}/" class="btn"><i class="icon icon-time"></i> {% trans "Changes history" %}</a>
                            {% if service_role.TAG %}
                                <a href="#" onclick="javascript:open_classification('{{c_type.id}}', '{{object.id}}')" class="btn"><i class="icon icon-tags"></i> {% trans "Collection" %}</a>
                            {% endif %}
                        </div>
                    {% endif %}
            </div>

            <div id='tab-descriptors' class="tab-pane">

                <fieldset id="descriptors" class="row">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Descriptors" %}</th>
                            <th>{% trans "Primary?" %}</th>
                            <th></th>
                        </thead>
                        <tbody>

                        {% if descriptor_list %}
                            {% for descriptor in descriptor_list %}
                                <tr>
                                    <td>{{ descriptor.text }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_descriptor.management_form }}

                        {% for form in formset_descriptor %}
                            <tr id="descriptor-{{ forloop.counter0 }}" class="descriptor-row{% if form.errors %} error{% endif %} formset-row">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {% if field.name == 'status' %}
                                        <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="1" class="keep-field-value" />
                                    {% elif field.name == 'code' %}
                                        {{ field.as_hidden }}
                                    {% elif field.name == 'text' %}
                                        <td class="span9">
                                            {{ field.as_hidden }}
                                            <div class="input-xxlarge uneditable-input {% if field.value == None %}placeholder-style{% endif %}" id="label_{{ field.html_name }}" onclick="javascript:decs_search(this)">
                                                {% spaceless %}
                                                {% if field.value == None or field.value == '' %}
                                                    {% trans "Select by search" %}
                                                {% else %}
                                                    {{ field.value}}
                                                {% endif %}
                                                {% endspaceless %}
                                            </div>
                                        </td>
                                    {% elif field.name != 'DELETE' %}
                                        <td class="span6">
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="span6">
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="metadata">
                    {% for field in form.visible_fields %}
                        {% if field.name in indexing_fields %}
                            <label for="{{ field.auto_id }}">
                                {% if field.name in help_fields %}
                                    <a href="#" onclick="$('#help_modal_title').html('{{ field.label }}')" data-toggle="modal" data-target="#help_modal" data-remote="/help/view/leisref/{{field.name}}/" class="field_with_help">
                                {% endif %}
                                {% if field.field.required %}
                                    <span class="required">{{ field.label }} <span class="mark">*</span></span>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                                {% if field.name in help_fields %}
                                    </a>
                                {% endif %}
                            </label>
                            <p class="muted">{{ field.help_text }}</p>
                            {{ field.errors }}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </fieldset>
            </div>

            <!-- FULLTEXT FORMSET -->
            {% include "leisref/fieldset_fulltext.html" %}

            <!-- RELATIONSHIP FORMSET -->
            {% include "leisref/fieldset_relationship.html" %}


            <div id='tab-thematic' class="tab-pane">
                <fieldset id="thematic">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Thematic area" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>
                        {% if thematic_list %}
                            {% for thematic in thematic_list %}
                                <tr>
                                    <td colspan="3">{{ thematic }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {{ formset_thematic.management_form }}

                        {% for form in formset_thematic %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="thematic-{{ forloop.counter0 }}" class="thematic-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                    {% if role == 'doc' and field.name == 'status' %}
                                       <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                    {% elif field.name != 'DELETE' %}
                                        <td>
                                            {{ field }}
                                            {{ field.errors }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>

        <div class="control-panel form-submit">
            {% if user_can_edit %}
                <a href="{% url 'list_legislation' %}" class="btn btn-large btn-danger">{% trans "Cancel" %}</a>
                {% if not object or object.status == -1 %}
                    <button class="btn btn-large btn-info">{% trans "Save Draft" %}</button>
                {% else %}
                    <button class="btn btn-info btn-large">{% trans "Save as" %} <span id="save_status">{{object.get_status_display}}</span></button>
                {% endif %}

                {% if object.status == -1 or object.status == -2 %}
                    <button class="btn btn-primary btn-large" id="save-published">{% trans "Publish" %}</button>
                {% endif %}
            {% else %}
                <a href="{% url 'list_leisref' %}" class="btn btn-large">
                    {% trans "Back" %}
                </a>
            {% endif %}
        </div>

    </form>
</div>

{% if help_fields %}
    {% include "modal_help.html" %}
{% endif %}

{% if object.id %}
    {% include "modal_log.html" %}
{% endif %}

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/multiple-select.min.js' %}"></script>
   <script src="{% static 'js/classification.js' %}"></script>
   {% if LANGUAGE_CODE != 'en' %}
       <script src="{% static ''%}js/bootstrap-datepicker.{{LANGUAGE_CODE}}.min.js"></script>
   {% endif %}

   <script type="text/javascript">
        var decs_field;

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });

            $('.url-row').formset({
                    addText : '{% trans "Add URL" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'url_formset',
                    prefix: '{{ formset_url.prefix }}'
            });

            $('.attachment-row').formset({
                    addText : '{% trans "Add File" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'attachment_formset',
                    prefix: '{{ formset_attachment.prefix }}'
            });

            $('.relation-row').formset({
                    addText : '{% trans "Add Relationship" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'relation_formset',
                    prefix: '{{ formset_relation.prefix }}'
            });

            $('.thematic-row').formset({
                    addText : '{% trans "Add thematic area" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'thematic_formset',
                    prefix: '{{ formset_thematic.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";


            // Listen to message from child window
            eventer(messageEvent,function(e) {
                var decs_data = e.data;
                var pipe_pos = decs_data.lastIndexOf('|');
                var decs_text = decs_data.substring(0, pipe_pos);
                var decs_code = decs_data.substring(pipe_pos+1);

                var decs_row = decs_field.replace( /[A-Za-z_$-]/g, '');
                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

            $(document).on("click", "a.add_error_report", function(){
                $("#error_report_modal").modal("show");
            });

            $("#id_scope_region").change(function(){
                region_id = $(this).find("option:selected").val();

                $.ajax({
                  method: "get",
                  url: "/legislation/context-lists/" + region_id,
                  dataType: "json",
                  success: function(result){
                      replace_list_options('id_act_type', result.type_list);
                      replace_list_options('id_scope', result.scope_list);
                      replace_list_options('id_source_name', result.source_list);
                      replace_list_options('id_organ_issuer', result.organ_issuer_list);
                      replace_list_options('id_scope_state', result.state_list);
                      replace_list_options('id_scope_city', result.city_list);
                      replace_list_options('id_act_collection', result.collection_list);
                  }
               });
            });

            // load multiselect plugin (indexed database field)
            $('#id_indexed_database, #id_act_collection').multipleSelect({selectAll: false, minimumCountSelected: 6, filter: true});

        })

        function replace_list_options(list_id, option_list){
            list_selector = '#' + list_id
            $(list_selector + ' option').remove();
            $('<option>').val('').text('----------').appendTo(list_selector);
            for (o = 0; o < option_list.length; o++){
                option = option_list[o];
                // console.log(option.value + ": " + option.name);
                $('<option>').val(option.value).text(option.name).appendTo(list_selector);
            }
        }

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}', 'decslookup', 'scrollbars=1,width=845,height=550');
        }

        function dismissRelatedLookupPopup(chosenId, chosenLabel) {
            // set code, text and label for the new descriptor
            $('#label_related-' + act_related_row_id + '-act_referred').html(chosenLabel);
            $('#label_related-' + act_related_row_id + '-act_referred').removeClass("placeholder-style");

            // set the value of hidden input
            $('#id_related-' + act_related_row_id + '-act_referred').val(chosenId);

            act_win.close();
        }

        function act_related(obj){
            var row = $(obj).parent();
            this_name = row.find('input').attr('name');
            act_related_row_id = this_name.replace( /[A-Za-z_$-]/g, '');

            region_id = $('#id_scope_region').find("option:selected").val();
            act_win = window.open('{% url "act_related" %}?region=' + region_id, 'act_related', 'scrollbars=1,width=785,height=590');
        }

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: '{{LANGUAGE_CODE}}'
        });

        $("#save-published").click(function() {
            // set status to Published (1)
            $('#id_status').val('1');
        });

        $("#id_status").change(function(){
            new_status_label = $(this).find("option:selected").text();
            $('#save_status').text(new_status_label);
        });

        // watch for change at specific fields for duplicated dectection
        $("#id_act_number").bind("change", check_duplication);

        function check_duplication() {
            status = $('#id_status').val();
            act_number_val = $("#id_act_number").val();
            act_type_val = $("#id_act_type").val();

            check_url = '{% url "act_check_duplication" "9999" "act_number" %}';
            check_url = check_url.replace('9999', act_type_val);
            check_url = check_url.replace('act_number', act_number_val);
            console.log(check_url);

            if (status < 1 && act_number_val){
                $.ajax({
                  method: "get",
                  url: check_url,
                  dataType: "json",
                  success: function(dup_list){
                      if (dup_list.length > 0) {
                          $('.dedup-alert').show();
                          $('.dedup-alert').addClass('animated shake');
                          $('#dedup_result .modal-body').empty();
                          for (i = 0; i < dup_list.length; i++){
                              pos = i+1;
                              act = dup_list[i];
                              act_id = act['id'];
                              detail_url = '{% url "list_legislation" %}edit/' + act_id ;
                              $('#dedup_result .modal-body').append($('<div>', {
                                    html: pos + '. <a href="' + detail_url + '" target="_dedup">' + act['title'] + '</a></div>'
                              }));
                          }
                      }else{
                        $('.dedup-alert').hide();
                      }
                  }
               });
           }
        };
   </script>
{% endblock %}
