{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}

{% block title %}{% trans "Legislation" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Legislation" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-file'></i> {% trans "Legislation" %}</h2>
        <div class='pull-right'>
            <a href="{% url 'create_legislation' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Legislation" %}</a>
        </div>
</div>

<div class='body'>
    <ul class="nav nav-tabs" id='tab'>
        <li class="{% if actions.filter_owner == 'user' or not actions.filter_owner %}active{% endif %}">
            <a href="#tab-my" onclick="filter_owner('user')" data-toggle="tab">
            <strong>{% trans "My legislation" %}</strong>
            {% if actions.filter_owner == 'user' or not actions.filter_owner %}
                <span class="badge badge-info">{{ paginator.count }}</span>
            {% endif %}
            </a>
        </li>
        <li class="{% if actions.filter_owner == '*' %}active{% endif %}">
            <a href="#tab-network" onclick="filter_owner('*')" data-toggle="tab">
                <strong>{% trans "All legislation" %}</strong>
               {% if  actions.filter_owner == '*' %}
                   <span class="badge badge-info">{{ paginator.count }}</span>
               {% endif %}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="span-4">
                    <div class="input-append" style="margin-left: 10px">
                        <form name="search">
                            <input type="hidden" name="page" value="">

                            {% if actions.filter_owner == '*' %}
                                <input type="hidden" name="filter_owner" value="*"/>
                            {% elif actions.filter_owner == 'network' %}
                                <input type="hidden" name="filter_owner" value="network"/>
                            {% endif %}
                            <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search by act number. Ex. 1234" %}">&nbsp;

                            {% trans "Status" %}:
                            <select name="filter_status">
                                <option value="">{% trans "All" %}</option>
                                <option value="-2" {% if actions.filter_status == '-2' %}selected="true"{% endif %}>{% trans "Related" %}</option>
                                <option value="-1" {% if actions.filter_status == '-1' %}selected="true"{% endif %}>{% trans "Draft" %}</option>
                                <option value="1" {% if actions.filter_status == '1' %}selected="true"{% endif %}>{% trans "Published" %}</option>
                                <option value="2" {% if actions.filter_status == '2' %}selected="true"{% endif %}>{% trans "Refused" %}</option>
                                <option value="3" {% if actions.filter_status == '3' %}selected="true"{% endif %}>{% trans "Deleted" %}</option>
                            </select>

                            {% trans "Results per page" %}:
                            <select name="results_per_page" class="input-small">
                                <option {% if actions.results_per_page == '20' %}selected="true"{% endif %} value="20">20</option>
                                <option {% if actions.results_per_page == '60' %}selected="true"{% endif %} value="60">60</option>
                                <option {% if actions.results_per_page == '100' %}selected="true"{% endif %} value="100">100</option>
                                <option {% if actions.results_per_page == '200' %}selected="true"{% endif %} value="200">200</option>
                            </select>

                            <button class="btn" type="submit"><i class='icon-search'></i></button>

                            <a href="#" onclick="$('#help_modal_title').html('{% trans 'Search' %}')" data-toggle="modal" data-target="#help_modal" data-remote="/help/view/leisref/search/" class="field_with_help"><i class='icon-info-sign'></i></a>

                            <a href="javascript:void()" id="show_advaced_filters">{% trans "Filters" %}</a>
                            <div class="advanced_filters {% if not show_advaced_filters %}hide{% endif %}">
                                {% trans "Act type" %}:
                                <select name="filter_act_type">
                                    <option value="">{% trans "All" %}</option>
                                    {% for act_type in act_type_list %}
                                        <option value="{{ act_type.id }}" {% if actions.filter_act_type|add:"0" == act_type.id %}selected="true"{% endif %}>{{ act_type }}</option>
                                    {% endfor %}
                                </select>

                                {% trans "Act country/region" %}:
                                <select name="filter_country">
                                    <option value="">{% trans "All" %}</option>
                                    {% for country in scope_region_list %}
                                        <option value="{{ country.id }}" {% if actions.filter_country|add:"0" == country.id %}selected="true"{% endif %}>{{ country }}</option>
                                    {% endfor %}
                                </select>

                                {% trans "Act scope" %}:
                                <select name="filter_scope">
                                    <option value="">{% trans "All" %}</option>
                                    {% for scope in scope_list %}
                                        <option value="{{ scope.id }}" {% if actions.filter_scope|add:"0" == scope.id %}selected="true"{% endif %}>{{ scope }}</option>
                                    {% endfor %}
                                </select>

                                {% trans "Indexed in" %}:
                                <select name="filter_indexed_database">
                                    <option value="">{% trans "All" %}</option>
                                    {% for idb in indexed_database_list %}
                                        <option value="{{ idb.id }}" {% if actions.filter_indexed_database|add:"0" == idb.id %}selected="true"{% endif %}>{{ idb }}</option>
                                    {% endfor %}
                                </select>

                                <button class="btn" type="submit" name="apply_filters" value="true"><i class='icon-refresh'> {% trans "Apply" %}</i></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Legislation" %}</a></th>
                    <th><a href="javascript:orderby('country/region');" id="id_title">{% trans "Country/Region" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for act in act_list %}
                        <tr>
                            <td><a href="{% url 'edit_legislation' act.id %}">{{ act.id }}</a></td>
                            <td><span title="{{ act }}">{{ act|slice:"50" }}{% if act.title|length > 50 %}...{% endif %}</span></td>
                            <td>{{ act.scope_region }}</a></td>
                            <td>{{ act.status_label }}</a></td>
                            <td>
                                <a href="{% url 'edit_legislation' act.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                                {% if act.created_by_id = user.id %}
                                    <a href="{% url 'delete_legislation' act.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination_generic.html" %}

            {% if paginator.num_pages > 1 %}
            <div class="pagination input-append">
                <form>
                    {% if actions.filter_owner == '*' %}
                        <input type="hidden" name="filter_owner" value="*"/>
                    {% elif actions.filter_owner == 'network' %}
                        <input type="hidden" name="filter_owner" value="network"/>
                    {% endif %}
                    <input type="hidden" name="filter_status" value="{{ actions.filter_status }}">
                    <input type="hidden" name="results_per_page" value="{{ actions.results_per_page }}">
                    <input type="hidden" name="s" value="{{ actions.s }}">

                    {% if show_advaced_filters %}
                        <input type="hidden" name="filter_act_type" value="{{ actions.filter_act_type }}">
                        <input type="hidden" name="filter_country" value="{{ actions.filter_country }}">
                        <input type="hidden" name="filter_indexed_database" value="{{ actions.filter_indexed_database }}">
                    {% endif %}

                    {% trans "Go to page" %}:&nbsp;
                    <input type="text" name="page" value="{{ actions.page }}" class="span1">
                    <button class="btn btn-primary" type="submit"><i class='icon-ok'></i></button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% include "modal_help.html" %}

{% endblock %}
