{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Edit Act Organ Issuer" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'list_act_organ' %}">{% trans "Act Organ Issuer" %}</a> <span class="divider">/</span></li>
    {% if not object %}<li>{% trans "New Act Organ Issuer" %}</li>
    {% else %}<li>{% trans "Edit Act Organ Issuer" %}</li>{% endif %}
{% endblock %}

{% block content %}

<div class='header'>
    <h2><i class='icon-briefcase'></i>{% if not object %}{% trans "New Act Organ Issuer" %}{% else %}{% trans "Edit Act Organ Issuer" %}{% endif %}</h2>
</div>

<div class='body'>
    <form method="POST" class="form-inline" id="auxform">
        {% csrf_token %}

        <fieldset>
            <div class="well row" style="margin-left: 5px">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="span3">
                {{ field.label_tag }}
                {% if field.name == 'scope_region' %}
                    <select id="{{ field.auto_id }}" name="{{ field.name }}" size="5" multiple="true">
                        <option value="">--------------------------------------------</option>
                        {% for value, label in form.fields.scope_region.choices %}
                            <option value="{{ value }}"{% if value|add:'0' in field.value %} selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <div>
                        <strong>* {% trans "DO NOT SELECT if you are not sure whether the value can occur in more than one country/region." %}</strong>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
                {{ field.errors }}
                </div>
            {% endfor %}
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "Translations" %}</legend>
            {{ formset.management_form }}
            {% for form in formset %}
                <div  id="translation-{{ forloop.counter0 }}" class="well translation-row{% if form.errors %} error{% endif %}">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <span class="translation-field">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </span>
                    {% endfor %}
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <div class="control-panel form-submit">
            <a href="{% url 'list_act_organ' %}" class="btn btn-large">
                {% trans "Cancel" %}
            </a>
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
        </div>

    </form>
</div>

{% endblock %}


{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>

   <script type="text/javascript">
        $(function() {
            $('.translation-row').formset({
                    addText : '{% trans "Add translation" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign',
                    deleteCssClass : 'icon-minus-sign',
                    prefix: '{{ formset.prefix }}'
            });
        })
        // Avoid send empty value for scope_region field
        $("#auxform").submit(function(e) {
            var scope_region_id = $('#id_scope_region').val();
            if (scope_region_id == ''){
                $('#id_scope_region option').prop("selected", false);
            }
        });
   </script>
{% endblock %}
