{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Act Relation Type" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Act Relation Type" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-retweet'></i> {% trans "Act Relation Type" %}</h2>
        <div class='pull-right'>
            <a href="{% url 'create_act_reltype' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Act Relation Type" %}</a>
        </div>
</div>

<div class='body'>
    {% if actions.s %}
        <div>
            {% trans "Search" %}: <strong>{{ actions.s }}</strong>
            <a href="{% url 'list_act_type' %}">[{% trans "clear" %}]</a>
        </div>
    {% endif %}

    <div class='pull-right'>
        <div class="input-append">
            <form name="search" onSubmit="return search();">
                <input type="hidden" name="page" value="1">
                <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">
                <button class="btn" type="submit"><i class='icon-search'></i></button>
            </form>
        </div>
    </div>

    <table class='table'>
        <thead>
            <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
            <th><a href="javascript:orderby('name');" id="id_title">{% trans "Name" %}</a></th>
            <th><a href="javascript:orderby('region');" id="id_title">{% trans "Country/Region" %}</a></th>
            {% if user.is_superuser %}
                <th>{% trans "Actions" %}</th>
            {% endif %}
        </thead>
        <tbody>
            {% for aux in aux_list %}
                <tr>
                    <td>{{ aux.id }}</td>
                    <td>{{ aux.name }}</td>
                    <td>{% if aux.scope_region != None %}{{ aux.scope_region }}{% endif %}</td>
                    {% if user.is_superuser %}
                        <td>
                            <a href="{% url 'edit_act_reltype' aux.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>                            
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "pagination_generic.html" %}

</div>

{% endblock %}
