{% load i18n %}

<div id='tab-relationship' class="tab-pane">

    {% for error in formset_relation.non_form_errors  %}
        <p class="errorlist alert alert-error">
            {{ error|escape }}
        </p>
    {% endfor %}

    <fieldset id="url">
        <table class="table table-condensed table-striped span10">
            <tbody>

            {% if user_can_edit %}

                {{ formset_relation.management_form }}

                {% for form in formset_relation %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <tr id="relation-{{ forloop.counter0 }}" class="relation-row{% if form.errors %} error{% endif %} formset-row">

                        <td>
                            <div class="row-fluid">
                                <div class="span3">
                                    {% trans "Relation type" %}
                                    {{ form.relation_type }}
                                </div>
                                <div class="span3">
                                    {% trans "Act type" %}
                                    {{ form.act_type }}
                                </div>
                                <div class="span3">
                                    {% trans "Act number" %}
                                    {{ form.act_number }}
                                </div>
                                <div class="span3">
                                    {% trans "Issue date" %}
                                    {{ form.issue_date }}
                                    <a href="#" onclick="javascript:act_list('{{ forloop.counter0 }}')" style="margin-bottom:10px"><i class="icon-search"></i></a>
                                </div>
                            </div>
                            <div class="hidden">
                                <div class="row-fluid">
                                    <div class="span3">
                                        {% trans "Denomination" %}
                                        {{ form.denomination }}
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        {% trans "Apparatus" %}
                                        {{ form.act_apparatus }}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            {% else %}
                {% for form in formset_relation %}
                    {% for field in form %}
                        <td>
                            {{ field }}
                        </td>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </fieldset>

</div>
