{% load i18n %}

<div id='tab-relationship' class="tab-pane">

    {% for error in formset_relation.non_form_errors  %}
        <p class="errorlist alert alert-error">
            {{ error|escape }}
        </p>
    {% endfor %}

    <fieldset id="url">
        <table class="table table-condensed table-striped span8">
            <thead>
                <th>{% trans "Relation type" %}</th>
                <th>{% trans "Act related" %}</th>
                <th>{% trans "Act type" %}</th>
                <th>{% trans "Act number" %}</th>
                <th>{% trans "Publication date" %}</th>
                <th>{% trans "Apparatus" %}</th>
                {% if user_can_edit %}
                    <th>{% trans "Delete?" %}</th>
                {% endif %}
            </thead>
            <tbody>

            {% if user_can_edit %}

                {{ formset_relation.management_form }}

                {% for form in formset_relation %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr id="relation-{{ forloop.counter0 }}" class="relation-row{% if form.errors %} error{% endif %} formset-row">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'DELETE' %}
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for form in formset_relation %}
                    {% for field in form %}
                        <td>
                            {{ field }}
                        </td>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </fieldset>

</div>
