{% load i18n %}

<div id='tab-attachment' class="tab-pane">

    {% for error in formset_attachment.non_form_errors  %}
        <p class="errorlist alert alert-error">
            {{ error|escape }}
        </p>
    {% endfor %}

    <fieldset id="url">
        <table class="table table-condensed table-striped span8">
            <thead>
                <th>{% trans "URL" %}</th>
                <th>{% trans "Language" %}</th>
                {% if user_can_edit %}
                    <th>{% trans "Delete?" %}</th>
                {% endif %}
            </thead>
            <tbody>
            {% if url_list %}
                {% for url in url_list %}
                    <tr>
                        <td colspan="3">{{url}}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if user_can_edit %}

                {{ formset_url.management_form }}

                {% for form in formset_url %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr id="url-{{ forloop.counter0 }}" class="url-row{% if form.errors %} error{% endif %} formset-row">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'DELETE' %}
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for form in formset_url %}
                    {% for field in form %}
                        {% if field.name == 'url' %}
                            <td>
                                <strong><a href="{{form.instance.url}}" target="_blank">{{ form.instance.url }}</a></strong>
                            </td>
                        {% elif field.name == 'language' %}
                            <td>
                                {{form.instance.get_language_display}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </fieldset>


    <fieldset id="attachment">
        <table class="table table-condensed table-striped span8">
            <thead>
                <th>{% trans "File" %}</th>
                <th>{% trans "Language" %}</th>
                {% if user_can_edit %}
                    <th>{% trans "Delete?" %}</th>
                {% endif %}
            </thead>
            <tbody>
            {% if attachment_list %}
                {% for attachment in attachment_list %}
                    <tr>
                        <td colspan="3"><a href="{% url 'attachments.views.view_document' %}{{attachment.short_url}}" target="_blank">{{ attachment }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if user_can_edit %}

                {{ formset_attachment.management_form }}

                {% for form in formset_attachment %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr id="attachment-{{ forloop.counter0 }}" class="attachment-row{% if form.errors %} error{% endif %} formset-row">
                        {% for field in form.visible_fields %}
                            {% if field.name == 'attachment_file' and form.instance.pk %}
                                <td>
                                    <strong><a href="{% url 'attachments.views.view_document' %}{{form.instance.short_url}}" target="_blank">{{ form.instance.filename }}</a></strong>
                                </td>
                            {% elif field.name != 'DELETE' %}
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for form in formset_attachment %}
                    {% for field in form %}
                        {% if field.name == 'attachment_file' %}
                            <td>
                                <strong><a href="{% url 'attachments.views.view_document' %}{{form.instance.short_url}}" target="_blank">{{ form.instance.filename }}</a></strong>
                            </td>
                        {% elif field.name == 'language' %}
                            <td>
                                {{form.instance.get_language_display}}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </fieldset>

</div>
