{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}

{% block title %}{% trans "Educational resources" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Educational resources" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-file'></i> {% trans "Educational resources" %}</h2>
        <div class='pull-right'>
            <a href="{% url 'create_oer' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Resource" %}</a>
        </div>
</div>

<div class='body'>
    <ul class="nav nav-tabs" id='tab'>
        <li class="{% if actions.filter_owner == 'user' or not actions.filter_owner %}active{% endif %}">
            <a href="#tab-my" onclick="filter_owner('user')" data-toggle="tab">
            <strong>{% trans "My resources" %}</strong>
            {% if actions.filter_owner == 'user' or not actions.filter_owner %}
                <span class="badge badge-info">{{ paginator.count }}</span>
            {% endif %}
            </a>
        </li>
        <li class="{% if actions.filter_owner == 'center' %}active{% endif %}">
            <a href="#tab-center" onclick="filter_owner('center')" data-toggle="tab">
                <strong>{% trans "Resources of my institution" %}</strong>
               {% if  actions.filter_owner == 'center' %}
                   <span class="badge badge-info">{{ paginator.count }}</span>
               {% endif %}
            </a>
        </li>
        <li class="{% if actions.filter_owner == '*' %}active{% endif %}">
            <a href="#tab-all" onclick="filter_owner('*')" data-toggle="tab">
                <strong>{% trans "All resources" %}</strong>
               {% if  actions.filter_owner == '*' %}
                   <span class="badge badge-info">{{ paginator.count }}</span>
               {% endif %}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="span-4">
                    <div class="input-append" style="margin-left: 10px">
                        <form name="search">
                            <input type="hidden" name="page" value="">
                            <input type="hidden" name="filter_owner" value="{{ actions.filter_owner }}">
                            <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">&nbsp;

                            {% trans "Status" %}:
                            <select name="filter_status">
                                <option value="">{% trans "All" %}</option>
                                <option value="0" {% if actions.filter_status == '0' %}selected="true"{% endif %}>{% trans "Pending" %}</option>
                                <option value="1" {% if actions.filter_status == '1' %}selected="true"{% endif %}>{% trans "Admitted" %}</option>
                                <option value="2" {% if actions.filter_status == '2' %}selected="true"{% endif %}>{% trans "Refused" %}</option>
                                <option value="3" {% if actions.filter_status == '3' %}selected="true"{% endif %}>{% trans "Deleted" %}</option>
                            </select>
                            <button class="btn" type="submit"><i class='icon-search'></i></button>

                            {% if actions.filter_owner == '*' %}
                                <a href="javascript:void()" id="show_advaced_filters">{% trans "Filters" %}</a>
                            {% endif %}

                            <div class="advanced_filters {% if not show_advaced_filters %}hide{% endif %}">
                                {% trans "CVSP node" %}:
                                <select name="filter_country">
                                    <option value="">{% trans "All" %}</option>
                                    {% for node in cvsp_node_list %}
                                        <option value="{{ node }}" {% if actions.filter_country == node %}selected="true"{% endif %}>{{ node }}</option>
                                    {% endfor %}
                                </select>

                                <button class="btn" type="submit" name="apply_filters" value="true"><i class='icon-refresh'> {% trans "Apply" %}</i></button>
                            </div>

                        </form>
                    </div>
                </div>
                {% if actions.filter_owner == 'network' and user_data.networks %}
                    <div class="span-4">
                        {% trans "Networks" %} : {{ user_data.networks|join:", " }}
                    </div>
                {% endif %}
            </div>

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Resource" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for oer in oer_list %}
                        <tr>
                            <td><a href="{% url 'edit_oer' oer.id %}">{{ oer.id }}</a></td>
                            <td><span title="{{ oer }}">{{ oer|slice:"50" }}{% if oer.title|length > 50 %}...{% endif %}</span></td>
                            <td>{{ oer.status|display_status_label }}</td>
                            <td>
                                <a href="{% url 'edit_oer' oer.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                                {% if oer.created_by_id = user.id and oer.status < 1 %}
                                    <a href="{% url 'delete_oer' oer.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination_generic.html" %}
        </div>
    </div>

</div>

{% endblock %}
