html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f9f6f1;
}

form#setlang {
    margin: 0;
}
.spacer {
    clear:both;
}
/* Wrapper for page content to push down footer */
.wrap {
    padding: 0 0 30px;
    position: relative;
    min-height: 84%;
    border: solid 1px #fff;
}
ul.alert {
    margin: 0 0 10px 0;
    list-style: none;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 90px;
}
#footer {
    background: #414141;
    left:0px;
    bottom:0px;
    width:100%;
    padding: 10px 0 0 0;
}
#footer img {
    float: left;
    margin: 0 10px;
}
#footer small a {
    color: #999;
    text-decoration: underline;
}
#footer small a:hover {
    text-decoration: none;
}
#footer .terms_politic{
    float: right;
    margin: 30px 20px;
    font-size: 12px;
    color: #fff;
}

#footer .terms_politic a{
    color: #ccc;
}
.content.login {
    padding: 0;
    width: 410px;
    margin: 4% auto;
}
.navbar .logged {
    margin: 5px 0 10px 15px;
}
.navbar-inner {
    background: #00ba8b !important;
}

.navbar .nav>li>a {
    color: #fff !important;
}
.navbar .brand {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
}
#logo {
    height: 70px;
    background: url(../image/logo-BIREME.png) no-repeat center;
    margin: 0 0 20px 0;
}
#logo span {
    display: none;
}
#loginForm {
    padding: 30px 0;
    border-top: 1px solid #d6d6d6;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin-heading{
    text-align: center;
    color: #414141;
    margin-bottom: 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.confirm_change textarea {
    width: 98%;
    height: 70px;
}
.block {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block .line {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block select {
    width: 80%;
    font-size: 17pt;
    height: 50px;
}
.block textarea {
    width: 100%;
}
.actions {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.actions .btn {
    margin-left: 5px;
    margin-right: 5px;
}
.input-prepend input, .input-append input {
    margin-left: -5px !important;
    margin-right: -5px !important;
}
.table th, .table td {
    border-top: none;
    border-bottom: 1px solid #DDDDDD;
}

.content {
    margin: 10px 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 30px;
}

.breadcrumb {
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    margin: 70px 20px -10px 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 11pt;
}
.main {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.header {
    padding: 0 0 9px 0;
    border-bottom: 1px solid #eee;
    margin: 10px 0 30px 0;
}
h3.header {
    margin: 10px 0 20px 0;
}
.header .pull-right {
    margin-top: -35px;
}
#menu i {
    margin: 1px 3px 0 0;
}
.mask {
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index:9000;
    background-color:#fff;
    width:100%;
    height:100%;
    opacity: 0.7;
}
.mask img {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}
.box-alerts {
    position: fixed;
    bottom: 10px;
    z-index: 9999;
    right: 20px;
    width: 500px;
}
#help {
    font-size: 14pt;
    margin-left: 40px;
    margin-bottom: 50px;
    border-left: 5px solid #eee;
    padding: 10px 20px 10px 20px;
    line-height: 140%;
}
.form-submit {
    border-top: 1px solid #eee;
    padding: 20px 0 0 0;
    margin-top: 40px !important;
}
#help h3 {
    font-size: 10pt;
    font-weight: bold;
    color: #ddd;
    text-transform: uppercase;
}
/* Tables */
.table td {
    padding-top: 11px;
    padding-bottom: 11px;
}
.header h3 {
    margin-top: 10px;
    font-weight: normal;
}
.header i {
    margin-right: 5px;
}
form i[class^="icon-"] {
    margin-right: 4px;
    margin-left: 4px;
}
form .field {
    margin: 4px 0;
}
form .span12.field input {
    width: 94%;
}
.item {
    margin: 30px 0;
    line-height: 160%;
}
.item h4 {
    font-size: 120%;
    margin: 16px 0 8px 0;
}
.item table {
    margin-bottom: 70px;
}
.pagination {
    text-align: center;
    margin-top: 40px;
}

div[id^=tab] ul li {
    list-style: none;
}
.field .btn {
    margin-top: -8px;
    margin-left: 5px;
}

.resource-form  {
    float:left;
    width: 100%;
}

.formset-row a {
    color: #333;
}

.formset-row a.icon-minus-sign {
    color: #b94a48;
}

fieldset a.icon-plus-sign, fieldset a.add-button {
    float: left;
    margin: 15px 0 0 3px;
    clear: both;
    padding: 8px;
}

#metadata input[type=text], #metadata textarea, #metadata select {
    width: 560px;
}

fieldset.metadata input[type=text], fieldset.metadata textarea, fieldset.metadata select {
    width: 560px;
}

#metadata textarea, fieldset.metadata textarea {
    height: 80px;
}

#onlineresource input[type=text], #onlineresource input[type=url], #onlineresource textarea, #onlineresource select {
    width: 540px;
}

#descriptors input[name$='code']{
    width: 80px;
}

#descriptors select, #keywords select {
    width: 140px;
 }

input[type=file] {
    width: 100%;
}

.placeholder-style{
    color: #999999;
}

span.required {
    color: #000;
    font-weight: bold;
}

span.mark{
    color: #e32;
}

.status-ok{
    color: green;
}

.status-pending{
    color: #e66f00;
}

.status-del{
    color: #e32;
}

.status-draft{
    color: #000;
}

.count{
    width: 80px;
    font-size: 18px;
    text-align: right;
    float: left;
    margin-right: 10px;
}

.hero-unit{
    margin-top: 30px;
    margin-bottom: 70px;

}

ul.jsonfield_display{
    width: 90%;
    min-height: 22px;
    padding: 2px;
    margin-left: 30px;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    cursor: context-menu;
}

ul.jsonfield_display li{
    margin: 3px;
}

.advanced_filters{
    margin: 10px 0 0 -5px;
    border: solid 1px #d7d7d7;
    padding: 15px;
    background-color: #f5f5f5;
}

#indexrange table {
    margin-left: 0;
}

#indexrange th.nowrap {
    white-space: nowrap;
}

td.indexrange.boolean-field {
    text-align: center;
}

td.indexrange select {
    width: 155px;
}

td.indexrange input[type="text"] {
    width: 70px;
}

td.variance input[type="text"] {
    width: 130px;
}

td.variance.title input[type="text"] {
    width: 220px;
}

div.onlineresource {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

div.onlineresource table tr td {
    border-top: 1px solid #ddd;
}

div.onlineresource table {
    margin-top: 20px;
}

div.onlineresource input[type="checkbox"] {
    margin: 2px;
    float: left;
}

div.onlineresource .period {
    margin: 10px 0;
}

div.onlineresource .period input[type="text"] {
    width: 105px !important;
}

div.onlineresource div.check {
    margin: 18px 0;
}

#issues input {
    width: 65px;
}

#issues select {
    width: auto;
}

#issues a.add-button {
    display: none;
}

#issues .table thead th,
#issues .table tbody td {
    text-align: center;
}

#issues .table tbody td:last-child {
    vertical-align: middle;
}

#issues .table tbody tr td p {
    margin: 0;
}

#issues table tbody tr:not(.active):nth-last-child(1) {
   display: none;
}

.preview #tab-issues {
    display: none;
}

.preview #issues .table tbody tr td:nth-last-of-type(-n+2) {
    text-align: left;
}

#collection textarea {
    width: auto;
}

.icon-m {
    font-size: 24px;
}

.icon-blue {
    color: #08c;
}

.icon-red {
    color: #ff0000;
}

.add-btn,
.delete-btn {
    margin-bottom: 5px;
    display: block;
}

.tab-content #indexrange .table thead th,
.tab-content #variance .table thead th,
.tab-content #audit .table thead th {
    text-align: center;
}

.centralize {
    text-align: center;
}

#help_modal{
    width: 750px;
    margin-left: -375px;
}

.fixed-alert{
    position: fixed;
    right: 10px;
    top: 50px;
    border: red solid 1px
}

/* Preview page */
.preview .table-condensed th, .preview .table-condensed td {
    padding-left: 0;
    padding-right: 20px;
}
.preview .table-header {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    display: block;
}
.preview .table { display: inline; }
.preview .table td {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FFF !important;
}
.preview .table td.nowrap {
    white-space: nowrap;
}
.preview .table th.index-code {
    width: 180px;
}
.preview .table th.indexer-cc-code {
    width: 70px;
}
.preview .textarea { display: inline-flex; }
.preview span.textarea { font-weight: normal; }
.preview span.textarea p { margin: 0 }
.preview input, .preview textarea, .preview select { display: none; }
.preview label, .preview span {
    font-weight: bold;
    display: inline;
}
.preview .tab-pane {
    border-top: 1px solid #eee;
    padding: 18px 0;
}
.preview #tab-descriptors { padding-bottom: 10px; }

#field_LILACS_indexed, #field_CVSP_resource, #field_reviewed{
    margin-bottom: 10px;
    font-weight: bold;
}
#field_LILACS_indexed input[type="checkbox"], #field_CVSP_resource input[type="checkbox"],
#field_reviewed input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.field_with_help{
    color: #000;
    border-bottom: dotted 1px;
    cursor:help;
}

#multiselect, #multiselect_to{
    width: 240px !important;
}

#multiselect_to{
    margin-left: -10px !important;
}

.multiselect_buttons{
    width: 20px;
    float: left;
    margin: 0 10px 0 -10px;
}
.multiselect_label{
    font-weight: bold;
    margin-left: -10px;
}

#indexed_database{
    padding: 5px 0 5px 0;
    background-color: #F2F1F0;
}

.system-notice {
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: 9;
    width: 100%;
    padding: 10px 10px 10px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #b2eadc;
    color: #3e4241;
}

tr.relation-row td input, tr.relation-row td select{
    width: 160px;
}

tr.relation-row .row_act_apparatus input{
    width: 300px;
}

tr.relation-row .row_order input{
    width: 40px;
}


/* Horizontal filter */
.stacked{
  display: flex;
  width: 100%;
/*  border: solid 1px red*/
}

.stacked H2{
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #333;
}

/* left column - DIV*/
.selector-available {
    width: 245px;
}

/* lupa */
.selector-filter IMG {
    position:relative;
    top: 40px;
    left: 70px;
}

/* middle column - UL*/
.selector-chooser {
    flex: selector-available;
    width: 65px;
    height: 40px;
    margin-left: 1px;
    margin-top: 60px;
}

/* right column - DIV*/
.selector-chosen {
    flex: selector-chosen;
    width: 260px;
    min-width: 100px;
}

.selector-chosen .filtered{
    height: 125px;
}



.identifierdesc, th td {
    text-align: left;
    padding: 2px;
}


.identifierqualif, th td {
    text-align: left;
    padding: 2px;
}

.abbrev input[type="text"] {
    text-transform: uppercase;
    width: 50px;
}



.descriptiondesc, .conceptlistdesc, .termlistdesc, .descriptionqualif, .conceptlistqualif, .termlistqualif {
    width: 98%;
    /*border: solid 1px #cccccc;*/
}

.descriptiondesc textarea, .conceptlistdesc textarea, .descriptionqualif textarea, .conceptlistqualif textarea, .termlistdesc textarea, .termlistqualif textarea{
    width: 98%;
    height: 50px;
}

.descriptiondesc label, .descriptionqualif label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #333;
}

.descriptiondesc td, .descriptionqualif td {
    text-align:left;
}

.descriptiondesc .td-r, .descriptionqualif .td-r{
    text-align: right;
}

.descriptiondesc .td-r-del, .conceptlistdesc .td-r-del, .termlistdesc .td-r-del, .descriptionqualif .td-r-del, .conceptlistqualif .td-r-del, .termlistqualif .td-r-del{
    text-align: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    background-color: #eeeeee;
}

.descriptiondesc .td-l, .descriptionqualif .td-l, .conceptlistqualif .td-l{
    text-align: left;
}

.descriptiondesc .td-l input[type=text], .conceptlistdesc .concept_name input[type=text], .termlistdesc .term_string input[type=text], .descriptionqualif .td-l input[type=text], .conceptlistqualif .concept_name input[type=text], .termlistqualif .term_string input[type=text]{
    text-align: left;
    width:450px;
}


.term_stringn input[type=text]{
    text-align: left;
    width:670px;
}

.descriptiondesc .term-origin, .conceptlistdesc .term-origin, .termlistdesc .term-origin, .descriptionqualif .term-origin, .conceptlistqualif .term-origin, .termlistqualif .term-origin{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    background-color: #eeeeee;
}

.conceptlistdesc label, .conceptlistqualif label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #333;
    height: 10px;
}


.previousindexinglistdesc th td, .treenumberslistqualif th td{
    text-align: center;
    padding: 2px;
}


.treenumber input[type="text"] {
    text-transform: uppercase;
    width: 600px;
}

/*conceptlistdesc*/
.casn1 textarea {
    width: 98%;
    height: 35px;
}

.category-row .btn, .previous-row .btn{
    margin-top: -10px;
    margin-left: 5px;
}


/*status*/
.color_status{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #08c;
}

.cursor-copy{
    cursor: copy;
}

.decs_suggestion{
    margin: -52px 0 40px 190px;
}
.decs_suggestion a{
    color: #ffff;
    padding: 7px 10px 7px;
}

.searchbox{
    width: 350px;
}
