{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Edit Resource" %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'list_oer' %}">{% trans "Resources" %}</a> <span class="divider">/</span></li>
    {% if not object %}<li>{% trans "New Resource" %}</li>
    {% else %}<li>{% trans "Edit Resource" %}</li>{% endif %}
{% endblock %}

{% block content %}


<div class='header'>
    <h2><i class='icon-file'></i>{% if not object %}{% trans "New Resource" %}{% else %}{% trans "Edit Resource" %}{% endif %}</h2>
</div>


<div class='body'>

    {% if form.errors %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "Please check required fields" %}</li>
        </ul>
    {% endif %}
    {% if valid_for_publication != None and not valid_for_publication %}
        <ul class="errorlist alert alert-error">
            <li>{% trans "For status admitted you must have at least one descriptor and one thematic area admitted" %}</li>
        </ul>
    {% endif %}
    {{ formset_descriptor.non_form_errors }}
    {{ formset_thematic.non_form_errors }}

    <ul class="nav nav-tabs" id='tab'>
        <li class="active"><a href="#tab-data" data-toggle="tab">{% trans "Metadata" %}</a></li>
        <li><a href="#tab-descriptors" data-toggle="tab"><i class="icon-list"></i> {% trans "Indexing" %}</a></li>
        <li><a href="#tab-attachment" data-toggle="tab"><i class="icon-globe"></i>  {% trans "Learning object" %}{% if not formset_attachment.is_valid or not formset_url.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
        <li><a href="#tab-relationship" data-toggle="tab"><i class="icon-retweet"></i>  {% trans "Relationship" %}{% if formset_relation.errors and not formset_relation.is_valid %}<span class="mark"> <i class="icon-warning-sign"></i></span>{% endif %}</a></li>
        <li><a href="#tab-thematic" data-toggle="tab"><i class="icon-tags"></i> {% trans "Thematic areas" %}</a></li>
    </ul>

    <form method="POST" enctype="multipart/form-data" class="media-form">
        {% csrf_token %}

        <div class="tab-content">
            <div id="tab-data" class="tab-pane active">
                <fieldset id="metadata">
                    <ul>
                {% for field in form %}
                    {% if not user_can_edit %}
                        {% if field.value %}
                            <blockquote>
                                <p><strong>{{ field.label }}</strong><p>
                                {% if field.name == 'status'  %}
                                    <p>{{ field.value|display_status_label }}</p>
                                {% else %}
                                    <p>{% display_field field %}<p>
                                {% endif %}
                            </blockquote>
                        {% endif %}
                    {% else %}
                        <li {{ field.row_attrs }} {% if not field.is_hidden %}id="field_{{ field.name }}"{% endif %}>
                            {% if field.name == 'status' and not user_can_change_status %}
                                <p>
                                    {{ field.label }} : {{ field.value|display_status_label }}
                                </p>
                                {{ field.as_hidden }}
                            {% else %}
                                {% if field.label %}
                                    {% if not field.is_hidden or field.field|fieldtype == 'JSONField' %}
                                        {% if field.field|fieldtype == 'BooleanField' %}
                                            <span>{{ field.label }}</span>
                                        {% else %}
                                            <label for="{{ field.auto_id }}">
                                                {% if field.name in help_fields %}
                                                    <a href="#" onclick="$('#help_modal_title').html('{{ field.label }}')" data-toggle="modal" data-target="#help_modal" data-remote="/help/view/oer/{{field.name}}/" class="field_with_help">{{ field.label }}</a>
                                                {% else %}
                                                    {{ field.label }}
                                                {% endif %}
                                                {% if field.field.required or field.name in mandatory_fields %}
                                                    <span class="mark">*</span>
                                                {% endif %}
                                            </label>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {{ field.errors }}

                                {% if field.field|fieldtype == 'JSONField' %}
                                    <div class="row">
                                        <a onclick="javascript:field_assist('{{field.html_name}}', '{{field.html_name}}', 'oer')" href="javascript:void(0);">
                                            <ul id="id_{{field.html_name}}_display" class="jsonfield_display"></ul>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if field.help_text and field.help_text != 'Enter valid JSON' %}
                                    <p class="muted">{{ field.help_text }}</p>
                                {% endif %}

                                {{ field }}

                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
                    </ul>
                </fieldset>

                {% comment %}Display administrative information{% endcomment %}

                {% if oer.id %}
                    <div class="alert alert-info">
                        <p>{% trans "Created in" %}: <strong>{{ oer.created_time }}</strong> {% trans "by user" %}  <strong>{{ oer.created_by.username }}</strong></p>
                        <p>
                            {% trans "Cooperative center code" %}: <strong>{{ oer.cooperative_center_code }}</strong>
                            {% if oer.cvsp_node %} | {% trans "CVSP node" %}: <strong>{{ oer.cvsp_node }}</strong> {% endif %}
                        </p>
                        {% if oer.updated_by %}
                            <p>{% trans "Last edit in" %} <strong>{{ oer.updated_time }}</strong> {% trans "by user" %}  <strong>{{ oer.updated_by.username }}</strong></p>
                        {% endif %}
                    </div>

                {% endif %}
            </div>

            <div id='tab-descriptors' class="tab-pane">

                <fieldset id="descriptors" class="row">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Descriptors" %}</th>
                            <th>{% trans "Primary?" %}</th>
                            <th></th>
                        </thead>
                        <tbody>
                        {% if user_can_edit %}
                            {{ formset_descriptor.management_form }}

                            {% for form in formset_descriptor %}
                                <tr id="descriptor-{{ forloop.counter0 }}" class="descriptor-row{% if form.errors %} error{% endif %} formset-row">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in form.visible_fields %}
                                        {% if field.name == 'status' %}
                                            <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="1" class="keep-field-value" />
                                        {% elif field.name == 'code' %}
                                            {{ field.as_hidden }}
                                        {% elif field.name == 'text' %}
                                            <td class="span9">
                                                {{ field.as_hidden }}
                                                <div class="input-xxlarge uneditable-input {% if field.value == None %}placeholder-style{% endif %}" id="label_{{ field.html_name }}" onclick="javascript:decs_search(this)">
                                                    {% spaceless %}
                                                    {% if field.value == None or field.value == '' %}
                                                        {% trans "Select by search" %}
                                                    {% else %}
                                                        {{ field.value}}
                                                    {% endif %}
                                                    {% endspaceless %}
                                                </div>
                                            </td>
                                        {% elif field.name != 'DELETE' %}
                                            <td class="span6">
                                                {{ field }}
                                                {{ field.errors }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="span6">
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for form in formset_descriptor %}
                                <tr>
                                {% if form.instance.id %}
                                    {% for field in form %}
                                        {% if field.name == 'text' or field.name == 'primary' %}
                                            <td>
                                                {{field.value}}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="metadata">
                    {% for field in form.visible_fields %}
                        {% if field.name in indexing_fields %}
                            <label for="{{ field.auto_id }}">
                                {% if field.field.required %}
                                    <span class="required">{{ field.label }} <span class="mark">*</span></span>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </label>
                            <p class="muted">{{ field.help_text }}</p>
                            {{ field.errors }}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </fieldset>
            </div>

            <!-- FULLTEXT FORMSET -->
            {% include "oer/fieldset_fulltext.html" %}

            <!-- RELATIONSHIP FORMSET -->
            {% include "oer/fieldset_relationship.html" %}


            <div id='tab-thematic' class="tab-pane">
                <fieldset id="thematic">
                    <table class="table table-condensed table-striped span8">
                        <thead>
                            <th>{% trans "Thematic area" %}</th>
                            {% if user_can_edit %}
                                <th>{% trans "Delete?" %}</th>
                            {% endif %}
                        </thead>
                        <tbody>
                        {% if user_can_edit %}
                            {{ formset_thematic.management_form }}

                            {% for form in formset_thematic %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <tr id="thematic-{{ forloop.counter0 }}" class="thematic-row{% if form.errors %} error{% endif %} formset-row">
                                    {% for field in form.visible_fields %}
                                        {% if role == 'doc' and field.name == 'status' %}
                                           <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                        {% elif field.name != 'DELETE' %}
                                            <td>
                                                {{ field }}
                                                {{ field.errors }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for form in formset_thematic %}
                                <tr>
                                {% for field in form %}
                                    {% if field.name == 'thematic_area' %}
                                        <td>
                                            {{ form.instance.thematic_area }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>

        <div class="control-panel form-submit">
            {% if user_can_edit %}
                {% if not object or object.status == -1 %}
                    <button class="btn btn-large btn-info">{% trans "Save Draft" %}</button>
                {% else %}
                    <button class="btn btn-info btn-large">{% trans "Save as" %} <span id="save_status">{{object.get_status_display}}</span></button>
                {% endif %}

                {% if user_can_change_status %}
                    <button class="btn btn-primary btn-large" id="save-published">{% trans "Publish" %}</button>
                {% endif %}
            {% else %}
                <a href="{% url 'list_oer' %}" class="btn btn-large">
                    {% trans "Back" %}
                </a>
            {% endif %}
        </div>

    </form>
</div>

{% if help_fields %}
    {% include "modal_help.html" %}
{% endif %}

{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/field_assist.js' %}"></script>
   <script src="{% static 'js/jsrender.min.js' %}"></script>

   <script id="itensTemplate" type="text/x-jsrender">
        <li>
            [[props tmpl="#keyPropTemplate" /]]
        </li>
   </script>

   <script id="keyPropTemplate" type="text/x-jsrender">
        [[if prop]]
            <strong>[[>~format(key)]]</strong> [[>prop]]
        [[/if]]
   </script>

   <script type="text/javascript">
        var decs_field;

        function format_attrlabel(value) {
            if ( value != 'text'){
                label = value.replace('_','')
                return  label + ':'
            }else{
                return ''
            }
        }

        function format_attrlabel(value) {
            if ( value != 'text'){
                label = value.replace('_','')
                return  label + ':'
            }else{
                return ''
            }
        }

        // change default delimiters of jsrender
        $.views.settings.delimiters("[[","]]");

        // render JSON fields for display
        $(".jsonfield").each(function() {
            var field_value = $(this).val();

            // check if hidden value starts with [ or { (JSON object)
            if ( field_value.match(/^[\[|\{]/) ) {
               display_json_value( $(this) );
            }
        });

        // watch for change of hidden fields (JSON elements)
        $(".jsonfield").bind("change", function() {
            display_json_value( $(this) );

        });

        // function responsible for display JSON elements using jsrender template
        function display_json_value(element){
            var element_id = $(element).attr('id');
            var element_val = $('#' + element_id).val();

            var json_data = jQuery.parseJSON(element_val);

            if ( json_data != null ){
                $('#' + element_id + '_display').html($("#itensTemplate").render(json_data, {format: format_attrlabel}));
            }
        }

        $(function() {
            $('.descriptor-row').formset({
                    addText : '{% trans "Add descriptor" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'descriptor_formset',
                    prefix: '{{ formset_descriptor.prefix }}'
            });

            $('.url-row').formset({
                    addText : '{% trans "Add URL" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'url_formset',
                    prefix: '{{ formset_url.prefix }}'
            });

            $('.attachment-row').formset({
                    addText : '{% trans "Add File" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'attachment_formset',
                    prefix: '{{ formset_attachment.prefix }}'
            });

            $('.relation-row').formset({
                    addText : '{% trans "Add Relationship" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'relation_formset',
                    prefix: '{{ formset_relation.prefix }}'
            });

            $('.thematic-row').formset({
                    addText : '{% trans "Add thematic area" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'thematic_formset',
                    prefix: '{{ formset_thematic.prefix }}'
            });

            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";


            // Listen to message from child window
            eventer(messageEvent,function(e) {
                var decs_data = e.data;
                var pipe_pos = decs_data.lastIndexOf('|');
                var decs_text = decs_data.substring(0, pipe_pos);
                var decs_code = decs_data.substring(pipe_pos+1);

                var decs_row = decs_field.replace( /[A-Za-z_$-]/g, '');
                // set code, text and label for the new descriptor
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-code').val(decs_code);
                $('#id_main-descriptor-content_type-object_id-' + decs_row + '-text').val(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').html(decs_text);
                $('#label_main-descriptor-content_type-object_id-' + decs_row + '-text').removeClass("placeholder-style");

            },false);

        })

        function decs_search(obj){
            var row = $(obj).parent();
            decs_field = row.find('input').attr('name');
            window.open('{{ settings.DECS_LOOKUP_SERVICE }}&lang={{LANGUAGE_CODE|slice:":2"}}', 'decslookup', 'scrollbars=1,width=845,height=550');
        }

        function dismissRelatedLookupPopup(chosenId, chosenLabel) {
            // set code, text and label for the new descriptor
            $('#label_related-' + oer_related_row_id + '-oer_referred').html(chosenLabel);
            $('#label_related-' + oer_related_row_id + '-oer_referred').removeClass("placeholder-style");

            // set the value of hidden input
            $('#id_related-' + oer_related_row_id + '-oer_referred').val(chosenId);

            oer_win.close();
        }

        function oer_related(obj){
            var row = $(obj).parent();
            this_name = row.find('input').attr('name');
            oer_related_row_id = this_name.replace( /[A-Za-z_$-]/g, '');

            oer_win = window.open('{% url "oer_related" %}?current_oer={% if oer.id %}{{ oer.id }}{% endif %}','oer_related', 'scrollbars=1,width=785,height=590');
        }

        $("#save-published").click(function() {
            // set status to Published (1)
            $('#id_status').val('1');
        });

        $("#id_status").change(function(){
            new_status_label = $(this).find("option:selected").text();
            $('#save_status').text(new_status_label);
        });

        // fix problem with jquery modal help
        $('#help_modal').on('hidden', function () {
          $(this).removeData('modal');
        });

   </script>
{% endblock %}
