{% extends "base.html" %}
{% load i18n %}

{% block top %}{% endblock %}

{% block extrahead %}
    <style>
        .cancel_btn {
            width: 45%; margin-left: 5px; float: left; background: rgba(169, 68, 66, 0.78) !important; color: #fff; padding: 10px; text-align: center; margin-right: 5px
        }
        .save_btn{
            width: 45%; float: left; background: rgba(0, 163, 54, 0.64) !important; color: #fff; padding: 10px; text-align: center;
        }
        .term_row{
            margin-left: 10px;
        }
        ul{
            list-style: none;
        }
        label{
            display: initial;
        }
        h3{
            margin: -20px 0 10px 10px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Media collection" %} | {{ block.super }}{% endblock %}

{% block breadcrumb_wrap %}{% endblock %}

{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>
<!--
<div class="row">
    <div class="span8">
        <div class="input-append">
            <form name="search" onSubmit="return search();">
                <input type="hidden" name="page" value="">

                <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">
                <button class="btn" type="submit"><i class='icon-search'></i></button>
            </form>
        </div>
    </div>
</div>
-->

<div class='body'>

    <form id="setUnsetForm" action="{% url 'update_classification' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="c_type" value="{{ c_type }}">
        <input type="hidden" name="object_id" value="{{ object_id }}">

    </form>

    <h3>{% trans "Collection" %}</h3>

    {% for term in term_list %}
    <div class="term_row">
        <input type="checkbox" id="{{term.id}}" class="set_unset" {% if term.id in relation_list %}checked="true"{% endif %} value="{{term.id}}">
        <label for="{{ term.id }}">{{ term.name }}</label>
        <ul>
            {% for subterm in term.get_children %}
                <li>
                    <input type="checkbox" id="{{ subterm.id }}" class="set_unset" {% if subterm.id in relation_list %}checked="true"{% endif %} value="{{subterm.id}}">
                    <label for="{{ subterm.id }}">{{subterm.name}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    {% include "pagination_generic.html" %}
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".set_unset").change(function() {
            op = 'set';  // default operation set
            checked = $(this).is(':checked');
            term_id = $(this).val();
            if (!checked) {
                op = 'unset';
            }
            $('<input>').attr({type: 'hidden', name: op, value:term_id}).appendTo('#setUnsetForm');
        });


        $('#setUnsetForm').submit(function() { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
                    $('#created').html(response); // update the DIV
                }
            });
            return false; // cancel original event to prevent form submitting
        });

     });
</script>
{% endblock %}

{% block footer %}
<div class="row">
    <a href="javascript:window.close()">
        <div class="cancel_btn">
            {% trans 'Cancel' as cancel %}{{ cancel|lower }}
        </div>
    </a>
    <a href="javascript:$('#setUnsetForm').submit(); window.close()">
        <div class="save_btn">
            {% trans 'Save' as save %}{{ save|lower }}
        </div>
    </a>
</div>
{% endblock %}
