{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block "title" %}{% trans "Dashboard" %} | {{ block.super }}{% endblock %}

{% block content %}
    <!-- block alert -->
    {% if request.GET.message and request.GET.type %}
        <div class="alert alert-{{ request.GET.type }}">
            <button class="close" data-dismiss="alert">×</button>
            <strong>{% trans "Success!" %}</strong><br>
            {{ request.GET.message }}
        </div>
    {% endif %}

    <!--  header -->
    <div class='header'>
        <h2><i class='icon-dashboard'></i> {% trans "Dashboard" %} <small>{{ user.username }} ({{ user_cc }}) {% if networks|length > 0 %} - {% trans 'Networks' %}: {{ networks|join:", " }}{% endif %} </small></h2>
    </div>

    <div class="row">
        <div class="span6">
            <div class="well sidebar-nav">
                <h3>{% trans "Recent actions" %}</h3>

                <div id="last_actions"></div>
            </div>

            {% if user_cc = 'BR1.1' %}
            <div class="well sidebar-nav">
                <h3>{% trans "Changed by other users" %}</h3>

                <div id="changed_by_other_user"></div>
            </div>
            {% endif %}
        </div>

        <div class="span6">
            {% for text_block in text_blocks %}
                <div class="well sidebar-nav">
                    <h3>{{ text_block.get_title }}</h3>
                    {{ text_block.get_content|safe }}
                </div>
            {% endfor %}

            {% if user_cc = 'BR1.1' %}
            <div class="well sidebar-nav">
                <h3>{% trans "Changed by other cooperative center" %}</h3>

                <div id="changed_by_other_cc"></div>
            </div>
            {% endif %}

            {% if service_role.LILDBI == 'doc' or service_role.LILDBI == 'edi' %}
                <div class="well sidebar-nav">
                    <h3>{% trans "LILACS-Express records for indexing" %}</h3>

                    <div id="llxp_indexed_by_cc"></div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">

    $(function() {
        load_widget_content('/dashboard/last_actions', '#last_actions')
        {% if user_cc = 'BR1.1' %}
        load_widget_content('/dashboard/changed_by_others/user/', '#changed_by_other_user')
        load_widget_content('/dashboard/changed_by_others/cc/', '#changed_by_other_cc')
        {% endif %}
        {% if service_role.LILDBI == 'doc' or service_role.LILDBI == 'edi' %}
        load_widget_content('/dashboard/llxp_indexed_by_cc/', '#llxp_indexed_by_cc')
        {% endif %}
    })

    function load_widget_content(widget_url, target_div){
        $.ajax({
            type: 'GET',
            url: widget_url,
            beforeSend: function() {
                $(target_div).html('<img src="{% static "image/loading.gif" %}"/>');
            },
            success: function(response) { // on success..
                $(target_div).html(response); // update the DIV
            }
        });
    }
</script>

{% endblock %}
