{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block "title" %}{% trans "Login" %} | {{ block.super }}{% endblock %}

{% block extrajs %}
    <script>
        $(function(){
            document.login.username.focus();
            $('div.content').addClass('login')
            $('.breadcrumb').hide();
        });
    </script>
    {% if request.user.is_authenticated %}
        <script>window.location = "{% url 'dashboard.views.widgets' %}"</script>
    {% endif %}
{% endblock %}

{% block top %}{% endblock %}


{% block breadcrumb %}{% endblock %}
{% block content %}

    <div id="loginForm">
        <h1 class="form-signin-heading">FI-ADMIN</h1>
        <form class="form-signin" action="{% url 'django.contrib.auth.views.login' %}" method="post" name="login">
            {% csrf_token %}<input type="hidden" name="next" value="{% url 'dashboard.views.widgets' %}" />
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors.as_text  }}
                </div>
            {% endif %}

            {{ form.username.errors }}
            <input type="text" class="input-block-level" name="username" id="id_username" placeholder="{% trans "Email" %}">

            {{ form.password.errors }}
            <input type="password" class="input-block-level" placeholder="{% trans "Password" %}" name="password">

            <button class="btn btn-large btn-primary" type="submit">{% trans "Login" %}</button>
            <br/><br/>
            <p><a href="{{ BIREMELOGIN_BASE_URL }}/accounts/password/reset/">{% trans "Forgot your password?" %}</a></p>
        </form>

    </div> <!-- /#loginForm  #C6DAC9  #005bae #4E6251-->

{% endblock %}
