{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block "title" %}{% trans "Login" %} | {{ block.super }}{% endblock %}

{% block extrajs %}
    <script>
        $(function(){
            document.login.username.focus();
            $('div.content').addClass('login')
            $('.breadcrumb').hide();
        });
    </script>
{% endblock %}

{% block top %}{% endblock %}


{% block breadcrumb %}{% endblock %}
{% block content %}

    <div id="loginForm">
        <h1 class="form-signin-heading">FI-ADMIN</h1>
        <h3 class="form-signin-heading">{% trans "Information Sources Management" %}</h3>
        <form class="form-signin" action="{% url 'auth_login' %}" method="post" name="login">
            {% csrf_token %}<input type="hidden" name="next" value="{% url 'dashboard:widgets' %}" />
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors.as_text  }}
                </div>
            {% endif %}

            {{ form.username.errors }}
            <input type="text" class="input-block-level" name="username" id="id_username" placeholder="{% trans "Email" %}">

            {{ form.password.errors }}
            <input type="password" class="input-block-level" placeholder="{% trans "Password" %}" name="password">

            <button class="btn btn-large btn-primary" type="submit">{% trans "Login" %}</button>
            <br/><br/>
            <p><a href="{{ BIREMELOGIN_BASE_URL }}/accounts/password/reset/">{% trans "Forgot your password?" %}</a></p>
        </form>

    </div> <!-- /#loginForm  #C6DAC9  #005bae #4E6251-->
    <div style="text-align: right; margin: 0 10px 10px 0;">
        * {% trans "works best in browsers" %} <img src="{% static 'image/' %}chrome-firefox.jpg" width="60" title="Chrome / Firefox "/>
    </div>
{% endblock %}
