{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap/CSS files -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
        <link href="{% static "fort-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/screen.css" %}" rel="stylesheet">

        <title>{% trans "LIS" %}</title>

        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    </head>

    <body>

    <div class="container">

       <div class="hero-unit">
           <h1>{% trans 'Ops!' %}</h1>
           <p>{% trans 'Please check the following problems and submit your suggest again:' %}</p>

           <ul>
           {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }} : {{ field.value }}        
                        <div class="alert alert-error">
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                        </div>
                    </li>
                {% endif %}
           {% endfor %}

           {% if captcha_error %}
                <li>{% trans 'Captcha' %}
                    <div class="alert alert-error">
                        {% trans 'Invalid captcha code' %}
                    </div>
                </li>
           {% endif %}
           </ul>
           <p><a href="javascript:history.back()" class="btn btn-primary btn-large">&laquo; {% trans 'Back' %}</a></p>
       </div>

        <div class='content' id="footer">
            <p>
                <img src="{% static "image/logo-BIREME.png" %}" title="BIREME/OPAS/OMS" />

                <b class="bireme">{% trans "BIREME - PAHO - WHO" %}</b><br>
                {% trans "Latin-American and Caribbean Center on Health Sciences Information" %}<br>

                <a href="http://www.paho.org/bireme" title="{% trans 'BIREME Institutional Site' %}">http://www.paho.org/bireme</a><br>
                <small>v{% include 'version.txt' %} | <a target="_blank" href="http://github.com/bireme/lis-admin" title="{% trans "project source code" %}">{% trans "project source code" %}</a></small>
            </p>
        </div>

    </div> <!-- /container -->

    </body>
</html>
