{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Suggestions" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Resources" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type="hidden" name="type" value="{{ actions.type }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-thumbs-up'></i> {% trans "Suggestions" %}</h2>
</div>

<div class='body'>
    <ul class="nav nav-tabs" id='tab'>
        {% if service_role.LIS %}
            <li class="{% if actions.type == 'resources' or not actions.type %}active{% endif %}"><a href="#tab-resources" onclick="change_type('resources')" data-toggle="tab"><strong>{% trans "Resources" %}</strong></a></li>
        {% endif %}
        {% if service_role.DirEve %}
            <li class="{% if actions.type == 'events' %}active{% endif %}"><a href="#tab-events" onclick="change_type('events')" data-toggle="tab"><strong>{% trans "Events" %}</strong></a></li>
        {% endif %}
        {% if service_role.LIS == 'edi' %}
            <li class="{% if actions.type == 'keywords'%}active{% endif %}"><a href="#tab-keywords" onclick="change_type('keywords')" data-toggle="tab"><strong>{% trans "Keywords" %}</strong></a></li>
        {% endif %}
    </ul>

    <div class="row">
        <div class="span-4">
            <div class="input-append" style="margin-left: 10px">
                <form name="search">
                    {% if not actions.type %}
                        <input type="hidden" name="type" value="resources"/>
                    {% else %}
                        <input type="hidden" name="type" value="{{actions.type}}"/>
                    {% endif %}
                    <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "Search" %}">&nbsp;

                    {% trans "Status" %}:
                    <select name="filter_status">
                        <option value="*">{% trans "All" %}</option>
                        <option value="0" {% if actions.filter_status == '0' %}selected="true"{% endif %}>{% trans "Pending" %}</option>
                        <option value="1" {% if actions.filter_status == '1' %}selected="true"{% endif %}>{% trans "Admitted" %}</option>
                        <option value="2" {% if actions.filter_status == '2' %}selected="true"{% endif %}>{% trans "Refused" %}</option>
                        <option value="3" {% if actions.filter_status == '3' %}selected="true"{% endif %}>{% trans "Deleted" %}</option>
                    </select>
                    <button class="btn" type="submit"><i class='icon-search'></i></button>
                </form>
            </div>
        </div>
        {% if actions.filter_owner == 'network' and user_data.networks %}
            <div class="span-4">
                {% trans "Networks" %} : {{ user_data.networks|join:", " }}
            </div>
        {% endif %}
    </div>


    {% if actions.type == 'resources' or not actions.type %}
      <div class="tab-content">
        <div class="tab-pane active" id="tab-resources">

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Title" %}</a></th>
                    <th><a href="javascript:orderby('link');" id="id_link">{% trans "URL" %}</a></th>
                    <th><a href="javascript:orderby('date');" id="id_date">{% trans "Date" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for resource in suggestions %}
                        <tr>
                            <td><a href="{% url 'edit_suggested_resource' resource.id %}">{{ resource.id }}</a></td>
                            <td><span title="{{ resource.title }}">{{ resource.title|slice:"50" }}{% if resource.title|length > 50 %}...{% endif %}</span></td>
                            <td><span title="{{ resource.link }}">{{ resource.link|slice:"50" }}{% if resource.link|length > 50 %}...{% endif %}</span></td>
                            <td>
                                {{ resource.created_time|date:"d/m/y@f" }}
                            </td>
                            <td>
                                {% if resource.status == 0 %}
                                    <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                {% elif resource.status == 1 %}
                                    <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                {% elif resource.status == 2 %}
                                    <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                {% elif resource.status == 3 %}
                                    <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'edit_suggested_resource' resource.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination.html" %}
          </div>
        {%endif%}

        {% if actions.type == 'keywords'%}
          <div class="tab-pane active" id="tab-keywords">

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('keyword');" id="id_title">{% trans "Keyword" %}</a></th>
                    <th><a href="javascript:orderby('resource');" id="id_link">{% trans "Resource" %}</a></th>
                    <th><a href="javascript:orderby('date');" id="id_date">{% trans "Date" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for keyword in suggestions %}
                        <tr>
                            <td><a href="{% url 'main:edit_resource' keyword.object_id %}#tab-descriptors">{{ keyword.id }}</a></td>
                            <td><span title="{{ keyword.text }}">{{ keyword.text|slice:"30" }}{% if keyword.text|length > 30 %}...{% endif %}</span></td>
                            <td><span title="{{ keyword.resource }}">{{ keyword.content_object.title|slice:"120" }}{% if keyword.content_object.title|length > 120 %}...{% endif %}</span></td>
                            <td>
                                {{ keyword.created_time|date:"d/m/y@f" }}
                            </td>
                            <td>
                                {% if keyword.status == 0 %}
                                    <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                {% elif keyword.status == 1 %}
                                    <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                {% elif keyword.status == 2 %}
                                    <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                {% elif keyword.status == 3 %}
                                    <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'main:edit_resource' keyword.object_id %}#tab-descriptors" class='btn btn-mini'><i class='icon-pencil'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination.html" %}
          </div>
        {% endif %}


        {% if actions.type == 'events'%}
          <div class="tab-pane active" id="tab-keywords">

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Title" %}</a></th>
                    <th><a href="javascript:orderby('date');" id="id_date">{% trans "Date" %}</a></th>
                    <th><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for event in suggestions %}
                        <tr>
                            <td><a href="{% url 'edit_suggested_event' event.id %}#tab-descriptors">{{ event.id }}</a></td>
                            <td><span title="{{ event.title }}">{{ event.title|slice:"30" }}{% if event.title|length > 30 %}...{% endif %}</span></td>
                            <td>
                                {{ event.created_time|date:"d/m/y@f" }}
                            </td>
                            <td>
                                {% if event.status == 0 %}
                                    <span title="{% trans 'Pending' %}"><i class="icon-minus-sign status-pending"></i></span>
                                {% elif event.status == 1 %}
                                    <span title="{% trans 'Admitted' %}"><i class="icon-ok-sign status-ok"></i></span>
                                {% elif event.status == 2 %}
                                    <span title="{% trans 'Refused' %}"><i class="icon-ban-circle status-del"></i></span>
                                {% elif event.status == 3 %}
                                    <span title="{% trans 'Deleted' %}"><i class="icon-minus-sign status-del"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'edit_suggested_event' event.id %}#tab-descriptors" class='btn btn-mini'><i class='icon-pencil'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination.html" %}
          </div>
        {% endif %}

    </div>

</div>

{% include "delete_confirm.html" %}

{% endblock %}