{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% trans "Suggested resources" %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

        <!-- Bootstrap/CSS files -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
        <link href="{% static "fort-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/screen.css" %}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
           <div class="hero-unit">
               <h1>{% trans 'Thank you' %}</h1>
                {% if type = 'event' %}
                    <p>{% trans 'Your suggestion will be evaluated and if approved will be included in the Events Directory' %}</p>
                {% else %}
                    <p>{% trans 'Your suggestion will be evaluated and if approved will be included in the Health Information Locator' %}</p>
                {% endif %}
                <p><a href="javascript:history.back()" class="btn btn-primary btn-large">&laquo; {% trans 'Back' %}</a></p>
           </div>
           <div id="footer">
               <img src="{% static 'image/' %}logo-bireme-{{ LANGUAGE_CODE|slice:":2" }}.png" title="BIREME/OPAS/OMS" /><br/>
               <div class="terms_politic">
                   <a href="http://politicas.bireme.org/terminos/{{ LANGUAGE_CODE|slice:":2" }}/" target="_blank">{% trans "Terms and conditions of use" %}</a> |
                   <a href="http://politicas.bireme.org/privacidad/{{ LANGUAGE_CODE|slice:":2" }}/" target="_blank">{% trans "Privacy Policy" %}</a>
               </div>
           </div>
        </div> <!-- /container -->
    </body>
</html>
