{% extends "utils/field_assist_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Field assist" %} | {% trans "FI Administration" %}{% endblock %}

{% block extrahead %}
    <style>
        /* deform renders the sequence items through templates/deform/mapping_item.pt,
           which wraps each field in a plain <ul><li> */
        ul{
            list-style: none;
            margin: 0;
            padding-left: 0;
        }
        li.error{
            color: #b94a48;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
        .req{
            color: red;
        }
        /* hide the description of the top level sequence */
        .desc[for="deformField1"]{
            display: none;
        }
        /* drag and drop reorder is not intuitive here, so the handle is hidden.
           !important is required: deform.js toggles this button with jQuery
           .toggle(), which writes an inline display style */
        .deform-order-button{
            display: none !important;
        }
        /* deform >= 3.0 renders the panels of Bootstrap 3 as cards of Bootstrap 5 */
        .card-header{
            display: none !important;
        }
        .card{
            border: 0px;
        }
        .card-footer{
            border: 0;
            padding: 0;
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block content %}

<div class='body'>

    <h3>{% trans "Field assist" %}</h3>

    <!-- Make sure not to escape the HTML output by Deform -->
    {{ form|safe }}


    <script type="text/javascript">
        {% if field_json %}
            $( document ).ready(function() {
                field_json_esc = '{{ field_json|escapejs }}';
                opener.update_field_from_assist('{{ field_name }}', field_json_esc, '{{field_id}}');
            });
        {% endif %}

        <!-- //Fix Deform's default enctype -->
        $('form#deform').attr('enctype', 'application/x-www-form-urlencoded');

        {% if field_id %}
            $('<input>').attr({type: 'hidden', name: 'field_id', value:'{{field_id}}'}).appendTo('form#deform');
            $('<input>').attr({type: 'hidden', name: 'module_name', value:'{{module_name}}'}).appendTo('form#deform');
        {% endif %}

    </script>

</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        var warn_on_unload="";
        $('input:text, input:checkbox, input:radio, textarea, select').one('keypress', function() {
            warn_on_unload = '{%trans "Leaving this page will cause any unsaved data to be lost" %}';

            $('#deformsubmit').click(function(e) {
                warn_on_unload = "";});

                window.onbeforeunload = function() {
                if(warn_on_unload != ''){
                    return warn_on_unload;
                }
            }
        });
    });
</script>
{% endblock %}
