{% extends "base.html" %}
{% load i18n %}

{% block top %}{% endblock %}

{% block extrahead %}
    <style>
        .cancel_btn {
            width: 45%; margin-left: 5px; float: left; background: rgba(169, 68, 66, 0.78) !important; color: #fff; padding: 10px; text-align: center; margin-right: 5px
        }
        .save_btn{
            width: 45%; float: left; background: rgba(0, 163, 54, 0.64) !important; color: #fff; padding: 10px; text-align: center;
        }
        ul{
            list-style: none;
        }
        label{
            display: initial;
        }
        .box{
            margin: 20px;
        }
    </style>
{% endblock %}

{% block title %}{% trans "Descriptors suggestions" %} | {{ block.super }}{% endblock %}

{% block breadcrumb_wrap %}{% endblock %}

{% block content %}
<div class="body box">
    {% if decs_list %}
        <form id="" action="" method="POST">
            {% csrf_token %}

            <div class="page-header">
                <h2>{% trans "Suggested descriptors identified in the title and abstract" %}</h2>

                <div style="text-align: justify; font-size: 12pt">
                    <div class="alert alert-info">
                        <strong>{% trans 'Important' %}:</strong><br/> {% trans 'DeCS Finder AI is a support tool for indexers and does not replace human analysis. Descriptor suggestions should be carefully reviewed and validated based on a thorough reading of the full text to ensure correct and accurate term assignment.' %}
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table table-condensed table-striped span12">
                    {% for decs in decs_list %}
                    <tr>
                        <td>
                            <strong>{{ decs.descriptor|title }}</strong>
                        <td>
                        <td>
                            <div class="btn-group disabled">
                                <button class="btn btn-info" id="btn_{{ decs.decsId }}" data-toggle="dropdown"><i class="icon-plus"></i>{% trans "Add" %}</button>
                                <button class="btn btn-info dropdown-toggle" id="btn_icon_{{ decs.decsId }}" data-toggle="dropdown">
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#"
                                            id="btn_{{ decs.decsId }}_primary"
                                            value="{{ decs.decsId }}"
                                            onclick="postMsg({
                                                text: '{{ decs.descriptor|title }}',
                                                code: '^d{{ decs.decsId|add:0 }}',
                                                action: 'ADD',
                                                type: 'PRIMARY',
                                                ai_suggestion: true,
                                                ai_model: '{{ ai_model }}'
                                            }, '{{ decs.decsId }}'); return false">
                                            {% trans "Primary descriptor" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            id="btn_{{ decs.decsId }}_primary"
                                            value="{{ decs.decsId }}"
                                            onclick="postMsg({
                                                text: '{{ decs.descriptor|title }}',
                                                code: '^d{{ decs.decsId|add:0 }}',
                                                action: 'ADD',
                                                type: 'SECUNDARY',
                                                ai_suggestion: true,
                                                ai_model: '{{ ai_model }}'
                                            }, '{{ decs.decsId }}'); return false">
                                            {% trans "Secundary descriptor" %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <div style="text-align: center;">
                    <a href="javascript:this.close()" class="btn btn-large btn-inverse align-center" role="button">{% trans "Close" %}</a>
                </div>
            </div>
        </form>

    {% else %}
        <div class="jumbotron" style="margin-top: 50px">
            <div class="page-header">
                <h2>{% trans 'No descriptor was identified' %} <br/><small>{% trans 'Check if the title and abstract are filled in' %}</small></h2>
            </div>
        </div>
    {% endif %}

</div>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
     function postMsg(descriptor, decs_id) {
        // add descriptor using function on opener window
        window.opener.postMessage(descriptor, '*');
        $("#btn_" + decs_id).attr("disabled", true);
        $("#btn_" + decs_id).addClass("disabled");
        $("#btn_icon_" + decs_id).attr("disabled", true);
        $("#btn_icon_" + decs_id).addClass("disabled");

        alert("{% trans 'Descriptor was added' %}");
      }
</script>
{% endblock %}

{% block footer %}{% endblock %}
