{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block top %}{% endblock %}

{% block title %}{% trans "Field assist" %} | {{ block.super }}{% endblock %}

{% block extrahead %}
    <!-- include deform dependencies -->
    {% for css in deform_dependencies.css %}
        <link rel="stylesheet" href="{% static css %}" type="text/css"/>
    {% endfor %}
    {% for js in deform_dependencies.js %}
        <script type="text/javascript" src="{% static js %}"></script>
    {% endfor %}
    <style>
        #item-deformField1 > label.desc{
            display: none !important;
        }
        #deformField1-addtext{
            color:#ffffff!important;
            display:inline-block;
            font-size:14px;
            margin:5px 5px 12px 0;
            padding:7px 18px;
            text-decoration:none;
            border-radius:3px;
            vertical-align:top;
            background-color:#4dcba9!important
        }
    </style>
{% endblock %}

{% block breadcrumb_wrap %}{% endblock %}

{% block content %}

<div class='body'>

    <h3>{% trans "Field assist" %}</h3>

    <!-- Make sure not to escape the HTML output by Deform -->
    {{ form|safe }}


    <script type="text/javascript">
        {% if field_json %}
            $( document ).ready(function() {
                field_json_esc = '{{ field_json|escapejs }}';
                opener.update_field_from_assist('{{ field_name }}', field_json_esc, '{{field_id}}');
            });
        {% endif %}

        <!-- //Fix Deform's default enctype -->
        $('form#deform').attr('enctype', 'application/x-www-form-urlencoded');

        {% if field_id %}
            $('<input>').attr({type: 'hidden', name: 'field_id', value:'{{field_id}}'}).appendTo('form#deform');
            $('<input>').attr({type: 'hidden', name: 'module_name', value:'{{module_name}}'}).appendTo('form#deform');
        {% endif %}

    </script>

</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function() {
        var warn_on_unload="";
        $('input:text, input:checkbox, input:radio, textarea, select').one('keypress', function() {
            warn_on_unload = '{%trans "Leaving this page will cause any unsaved data to be lost" %}';

            $('#deformsubmit').click(function(e) {
                warn_on_unload = "";});

                window.onbeforeunload = function() {
                if(warn_on_unload != ''){
                    return warn_on_unload;
                }
            }
        });
    });
</script>
{% endblock %}
