{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block top %}{% endblock %}

{% block title %}{% trans "Field assist" %} | {{ block.super }}{% endblock %}

{% block extrahead %}
    <!-- include deform dependencies -->
    <link rel="stylesheet" href="{% static 'deform/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'deform/css/form.css' %}" type="text/css"/>
    {% for css in deform_dependencies.css %}
        <link rel="stylesheet" href="{% static css %}" type="text/css"/>
    {% endfor %}
    <script type="text/javascript" src="{% static 'deform/scripts/jquery-2.0.3.min.js' %}"></script>
    {% for js in deform_dependencies.js %}
        <script type="text/javascript" src="{% static js %}"></script>
    {% endfor %}

    <style>
        .panel-heading{
            display: none !important;
        }
        ul{
            list-style: none;
            margin: 0;
        }
        input[type="text"]{
            height: initial;
            line-height: initial;
        }
        li.error{
            color: #b94a48;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
        .desc[for="deformField1"]{
            display: none;
        }
        .panel{
            border: 0px;
        }
        .panel-footer{
            border: 0;
            padding: 0;
            background-color: initial;
        }
        .req{
            color: red;
        }
    </style>
{% endblock %}

{% block breadcrumb_wrap %}{% endblock %}

{% block content %}

<div class='body'>

    <h3>{% trans "Field assist" %}</h3>

    <!-- Make sure not to escape the HTML output by Deform -->
    {{ form|safe }}


    <script type="text/javascript">
        {% if field_json %}
            $( document ).ready(function() {
                field_json_esc = '{{ field_json|escapejs }}';
                opener.update_field_from_assist('{{ field_name }}', field_json_esc, '{{field_id}}');
            });
        {% endif %}

        <!-- //Fix Deform's default enctype -->
        $('form#deform').attr('enctype', 'application/x-www-form-urlencoded');

        {% if field_id %}
            $('<input>').attr({type: 'hidden', name: 'field_id', value:'{{field_id}}'}).appendTo('form#deform');
            $('<input>').attr({type: 'hidden', name: 'module_name', value:'{{module_name}}'}).appendTo('form#deform');
        {% endif %}

    </script>

</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block basejs %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        var warn_on_unload="";
        $('input:text, input:checkbox, input:radio, textarea, select').one('keypress', function() {
            warn_on_unload = '{%trans "Leaving this page will cause any unsaved data to be lost" %}';

            $('#deformsubmit').click(function(e) {
                warn_on_unload = "";});

                window.onbeforeunload = function() {
                if(warn_on_unload != ''){
                    return warn_on_unload;
                }
            }
        });
    });
</script>
{% endblock %}
