{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
            {% trans "Thesaurus" %}
            {% if choiced_thesaurus_name %}
                {% for obj in choiced_thesaurus_name %}
                    {{ obj.thesaurus_name }}
                {% endfor %}
            {% endif %}
        </a>
        <span class="divider">/</span>
    </li>
    <li>{% trans "New Record, Concept and Term for Descriptors" %}</li>
{% endblock %}

{% block content %}

    <div class='header'>
        <h3><i class='icon-book'></i>
            {% if not object %}
                {% trans "Creates information for the new Record, Concept and Term for Descriptors" %}
            {% endif %}
        </h3>
    </div>

    <div class='body'>

        {% if msg_erro %}
            <ul class="errorlist alert alert-error"><li>{{ msg_erro }}</li></ul>
        {% endif  %}

        {% if form.errors or formset_descriptor.errors or formset_treenumber.errors or formset_previous.errors %}
            <ul class="errorlist alert alert-error">
                <li>{% trans "Please check required fields" %}</li>
            </ul>
        {% endif %}

        {{ form.non_form_errors }}
        {{ formset_descriptor.non_form_errors }}
        {{ formset_treenumber.non_form_errors }}
        {{ formset_related.non_form_errors }}
        {{ formset_previous.non_form_errors }}

        <ul class="nav nav-tabs" id='tab'>
            <li class="active"><a href="#tab-data1" data-toggle="tab">{% trans "Step 1" %}</a></li>
            <li><a href="#">{% trans "Step 2" %}</a></li>
        </ul>

        <form method="POST" class="reference-form" encrypt="multipart/form-data">{% csrf_token %}
        
            <input type="hidden" id="id_thesaurus" name="thesaurus" value="{{ request.GET.ths }}">

            <div class="tab-data1">

                    <!-- identifierdesc -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#identifierdesc">{% trans "Identifier of Record" %}</a>
                        </div>

                        <ul>
                            <fieldset id="identifierdesc">

                                {% for field in form.visible_fields %}
                                    {% if field.errors %}
                                        <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                                    {% endif %}
                                {% endfor %}

                                <table>
                                    <tr>
                                        <td colspan="1">{% trans "Language used for description" %}:<span class="mark">*</span></td>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">
                                            <select id="id_registry-0" class="registry_language" name="registry_language" required="true">
                                                <option value="">---------</option>
                                                <option value="en">{% trans "English" %}</option>
                                                <option value="es">{% trans "Spanish Latin America" %}</option>
                                                <option value="pt-br">{% trans "Portuguese" %}</option>
                                                <option value="es-es">{% trans "Spanish Spain" %}</option>
                                                <option value="fr">{% trans "French" %}</option>
                                            </select>
                                        </td>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.descriptor_class.label }}:</td>
                                        <td>{{ form.date_created.label }}:
                                            <font color="#999"><i>{{ form.date_created.help_text }}</i></font>
                                        </td>
                                        <td>{{ form.date_revised.label }}:
                                            <font color="#999"><i>{{ form.date_revised.help_text }}</i></font>
                                        </td>
                                        <td>{{ form.date_established.label }}:
                                            <font color="#999"><i>{{ form.date_established.help_text }}</i></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.descriptor_class }}</td>
                                        <td>
                                            <!-- {{ form.date_created }} -->
                                            <input id="id_date_created" name="date_created" type="text" value="{% now "d/m/Y" %}" maxlength="10">
                                        </td>
                                        <td>{{ form.date_revised }}</td>
                                        <td>{{ form.date_established }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.external_code.label }}:</td>
                                        <td>{{ form.nlm_class_number.label }}:</td>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.external_code }}</td>
                                        <td>{{ form.nlm_class_number }}</td>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan=4>{{ form.abbreviation }}</td>
                                    </tr>
                                </table>

                            </fieldset>
                        </ul>
                    </div>

                    <!-- treenumberslistdesc -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#treenumberslistdesc">{% trans "Tree Numbers List" %}</a>
                        </div>

                        <ul>
                            <fieldset id="treenumberslistdesc">

                                <table>
                                    <tr>
                                    {{ formset_treenumber.management_form }}

                                    {% for form in formset_treenumber %}

                                        {{ form.non_field_errors.as_ul }}

                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <tr id="treenumber-{{ forloop.counter0 }}" class="previous-row{% if form.errors %} error{% endif %} formset-row">
                                            {% for field in form.visible_fields %}
                                            <td>
                                                {{ field }}
                                                {{ field.errors }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tr>
                                </table>
                            </fieldset>
                        </ul>
                    </div>

                    <!-- pharmacologicalactionlist -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#pharmaco">{% trans "Pharmacological Action List" %}</a>
                        </div>

                        <ul>
                            <fieldset id="pharmaco">

                                <table>
                                    <tr>
                                        <td>{% trans "String" %}:</td>
                                        <td>{% trans "Transport UI" %}:</td>
                                    </tr>

                                    {{ formset_pharmaco.management_form }}

                                    {% for form in formset_pharmaco %}

                                        {{ form.non_field_errors.as_ul }}

                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <tr id="pharmaco-0" class="previous-row{% if form.errors %} error{% endif %} formset-row">
                                            {% for field in form.visible_fields %}
                                            <td>
                                                {% if field.name == 'term_string' %}
                                                    {{ field }}
                                                {% endif %}

                                                {% if field.name == 'descriptor_ui' %}
                                                    {{ field }}
                                                {% endif %}

                                                {% if field.name == 'language_code' %}
                                                    <input type="hidden" class="id_pharmacologicalactionlist_language_selected" name="pharmacodesc-0-language_code">
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tr>
                                </table>

                            </fieldset>
                        </ul>
                    </div>

                    <!-- seerelatedlistdesc -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#relatedlistdesc">{% trans "Related List" %}</a>
                        </div>

                        <ul>
                            <fieldset id="relatedlistdesc">

                                <table>
                                    <tr>
                                        <td>{% trans "String" %}:</td>
                                        <td>{% trans "Transport UI" %}:</td>
                                    </tr>
                                    <tr>
                                    {{ formset_related.management_form }}

                                    {% for form in formset_related %}

                                        {{ form.non_field_errors.as_ul }}

                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <tr id="relatedlistdesc-{{ forloop.counter0 }}" class="previous-row{% if form.errors %} error{% endif %} formset-row">
                                            {% for field in form.visible_fields %}
                                            <td>
                                                {{ field }}
                                                {{ field.errors }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tr>
                                </table>

                            </fieldset>
                        </ul>
                    </div>


                    <!-- descriptiondesc -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#descriptiondesc">{% trans "Description of Record" %}</a>
                        </div>

                        <ul>
                            <fieldset id="descriptiondesc">

                                {{ formset_descriptor.management_form }}

                                {% for form in formset_descriptor %}

                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    {% for field in form.visible_fields %}
                                        {% if field.errors %}
                                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                                        {% endif %}
                                    {% endfor %}

                                    <table class="descriptiondesc">
                                        <input type="hidden" class="id_descriptors_language_selected" name="descriptiondesc-0-language_code">
                                        <tr>
                                            <td>
                                                {{ form.annotation.label_tag }}
                                                {{ form.annotation }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.history_note.label_tag }}
                                                {{ form.history_note }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.online_note.label_tag }}
                                                {{ form.online_note }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.public_mesh_note.label_tag }}
                                                {{ form.public_mesh_note }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.consider_also.label_tag }}
                                                {{ form.consider_also }}
                                            </td>
                                        </tr>
                                    </table>
                                {% endfor %}
                            </fieldset>
                        </ul>
                    </div>

                    <!-- previousindexinglistdesc -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#previousindexinglistdesc">{% trans "Previous Indexing List" %}</a>
                        </div>

                        <ul>
                            <fieldset id="previousindexinglistdesc">

                                <table>
                                    <tr>
                                        <td>{% trans "Previous Index" %}:</td>
                                    </tr>
                                    <tr>
                                    {{ formset_previous.management_form }}

                                    {% for form in formset_previous %}

                                        {{ form.non_field_errors.as_ul }}

                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <tr id="previous-0" class="previous-row{% if form.errors %} error{% endif %} formset-row">
                                            {% for field in form.visible_fields %}
                                            <td>

                                            {% if field.name == 'previous_indexing' %}
                                                {{ field }}
                                            {% endif %}

                                            {% if field.name == 'language_code' %}
                                                <input type="hidden" class="id_previousindexinglistdesc_language_selected" name="previousdesc-0-language_code">
                                            {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tr>
                                </table>
                            </fieldset>
                        </ul>
                    </div>


                    <!-- entrycombinationlistdesc -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#entrycombination">{% trans "Entry Combination" %}</a>
                        </div>

                        <ul>
                            <fieldset id="entrycombination">

                                {{ formset_entrycombination.management_form }}

                                {% for form in formset_entrycombination %}

                                    {{ form.non_field_errors.as_ul }}

                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    {{ formset_entrycombination.non_field_errors }}

                                    {% for field in form.visible_fields %}
                                        {% if field.errors %}
                                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                                        {% endif %}
                                    {% endfor %}

                                    <table class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-target="#entrycombination_{{ form.instance.pk }}">
                                            <font size="2">
                                                {% if form.instance.pk %}
                                                    <font color="#333">
                                                    <b>
                                                        {{ form.ecin_qualif.value }}&nbsp;:&nbsp;{{ form.ecout_desc.value }}
                                                        {% if form.ecout_qualif.value %}
                                                            /{{ form.ecout_qualif.value }}
                                                        {% endif %}
                                                    </b>
                                                    </font>

                                                    </b>
                                                {% else %}
                                                    <br><i class='icon-file'></i>&nbsp;{% trans 'Add new entry combination' %}
                                                {% endif %}
                                            </font>
                                        </a>
                                    </table>

                                    <div id="entrycombination_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">
                                        <ul>
                                        <table class="entrycombination">
                                            <tr>
                                                <td>
                                                    <b>{% trans 'Qualifier combination prohibited' %}</b>        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ form.ecin_qualif.label_tag }}</td>
                                                <td>{{ form.ecin_id.label_tag }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ form.ecin_qualif }}</td>
                                                <td>{{ form.ecin_id }}</td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <b>{% trans 'Entry combination' %}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ form.ecout_desc.label_tag }}</td>
                                                <td>{{ form.ecout_desc_id.label_tag }}</td>
                                                <td>&nbsp;</td>
                                                <td>{{ form.ecout_qualif.label_tag }}</td>
                                                <td>{{ form.ecout_qualif_id.label_tag }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ form.ecout_desc }}</td>
                                                <td>{{ form.ecout_desc_id }}</td>
                                                <td><b>&nbsp;/&nbsp;</b></td>
                                                <td>{{ form.ecout_qualif }}</td>
                                                <td>{{ form.ecout_qualif_id }}</td>
                                            </tr>
                                        </table>
                                        </ul>

                                    </div>

                                {% endfor %}

                            </fieldset>
                        </ul>

                    </div>

                    <div>
                        <br>

                        <a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}" class="btn btn-large btn-danger"">{% trans "Cancel" %}</a>
                        <button class="btn btn-primary btn-large">{% trans "Next" %}</button>

                    </div>
            </div>

        <form>

    </div>

    <script src="{% static "site/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectBox.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectFilter2.js" %}"></script>
    <script type="text/javascript">
        // PARAMETROS DO SELECT FILTER:
        // ID do seu elemento select
        // NAME do seu elemento select
        // 0 - para filter_horizontal / 1 para filter_vertical
        // Caminho do admin para source de imagens utilizadas

        addEvent(window, "load", function(e) {SelectFilter.init("id_abbreviation", "abbreviation", 1, "/static/admin/"); });
    </script>

{% endblock %}




{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>



   {% if LANGUAGE_CODE != 'en' %}
       <script src="{% static ''%}js/bootstrap-datepicker.{{LANGUAGE_CODE}}.min.js"></script>
   {% endif %}

   <script type="text/javascript">


        // Faz com que o ultimo form salvo fique ativo apos reload
        $(document).ready(function(){

            // Armazena em activeTab informação da aba ativa
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));

                // Armazena URL atual
                var old_currentLocation = window.location.href;
                localStorage.setItem('old_currentLocation', old_currentLocation);

            });

            // Traz variavel activeTab armazenada
            var activeTab = localStorage.getItem('activeTab');
            // Traz variavel old_currentLocation armazenada
            var old_currentLocation = localStorage.getItem('old_currentLocation');
            // Faz colta da URL atual
            var currentLocation = window.location.href;
            if(activeTab){
                // Compara se é a mesma URL, ou seja se ainda está na mesma página
                if (old_currentLocation != currentLocation){ // Se não estiver remove informações
                    localStorage.removeItem('activeTab');
                    localStorage.removeItem('old_currentLocation');
                } else { // Se estiver na mesma página posiciona na Aba visitada anteriormente.
                    $('#myTab a[href="' + activeTab + '"]').tab('show');
                }
            }
        });


        // Apaga localStorage quando eh novo registro
        $('[id="myTabNew"]').on('submit', function() {
            localStorage.removeItem('activeTab');
            localStorage.removeItem('old_currentLocation');
        });


        // Apaga localStorage quando volta a pagina inicial
        function setNoneTab(){
            localStorage.removeItem('activeTab');
            localStorage.removeItem('old_currentLocation');
        }


        $(function() {
            $('[id^="treenumber-"]').formset({
                    addText : '{% trans "Add Tree Number" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'treenumber_formset',
                    prefix: '{{ formset_treenumber.prefix }}'
            });

            $('[id^="pharmaco-"]').formset({
                    addText : '{% trans "Add Pharmacological Action" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'pharmaco_formset',
                    prefix: '{{ formset_pharmaco.prefix }}'
            });

            $('[id^="relatedlistdesc-"]').formset({
                    addText : '{% trans "Add Related" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'related_formset',
                    prefix: '{{ formset_related.prefix }}'
            });

            $('[id^="previous-"]').formset({
                    addText : '{% trans "Add Previous Index" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'previous_formset',
                    prefix: '{{ formset_previous.prefix }}'
            });

            $('[id^="entrycombination-"]').formset({
                    addText : '{% trans "Add Entry Combination" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'entrycombination_formset',
                    prefix: '{{ formset_entrycombination.prefix }}'
            });

            $('[id^="id_treenumberslistdesc_set-"]').on('blur', function() {
                val = $(this).val();
                $(this).val(val.replace(/\s/g, ''));

                tam = val.length;
                // alert(tam);
                if( tam % 2 !== 0 ){
                    // É impar
                    // alert("Impar "+tam);
                    // Verifica quantidade de pontos
                    qtd_pontos = ((tam + 1) / 4) - 1;
                    // alert('Numero de pontos:'+qtd_pontos);
                    if ( !( (parseFloat(qtd_pontos) == parseInt(qtd_pontos)) && !isNaN(qtd_pontos) ) ) {
                        // alert("Não é inteiro"+qtd_pontos)
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    } else {
                        $(this).val;
                    }

                } else {
                    // se eh par está errado
                    if ( tam != 0 ){
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    }
                }
            });

            $('[id$="-DELETE"]').on('click', function() {
                val = $(this).val();
                if (confirm('{% trans "Delete" %}?')) {
                    return true;
                } else {
                    return false;

                }
            });


            // Garante o preenchimento de idioma dos models baseando-se no campo registry_language
            $(document).on("submit", function(e) {
                var registry_language = $(".registry_language").val();
                $(".id_descriptors_language_selected").val(registry_language);
                $(".id_pharmacologicalactionlist_language_selected").val(registry_language);
                $(".id_previousindexinglistdesc_language_selected").val(registry_language);
            });


            // Alerta sobre não preenchimento
            // $('[id^="id_descriptors-"]').on('blur', function() {
            //     val = $(this).val();
            //     if ( val == '' ){
            //         alert('{% trans "Warning" %}');
            //         return false;
            //     }
            // });


            // // Alerta sobre não preenchimento
            // $('[id$="-term_string"]').on('blur', function() {
            //     val = $(this).val();
            //     if ( val == '' ){
            //         // alert('{% trans "Warning: Field is empty!" %}');
            //         alert('{% trans "Warning: Field is empty!" %}: '+$(this).val());
            //         return false;
            //     }
            // });


            if ($("<input />").prop("required") === undefined) {
              $(document).on("submit", function(e) {
                $(this)
                  .find("input, select, textarea")
                  .filter("[required]")
                  .filter(function() { return this.value == ''; })
                  .each(function() {
                    e.preventDefault();
                    $(this).css({ "border": "2px solid red" })
                    alert($(this).prev('label').html() + " é obrigatório.");
                  });
              });
            }

        })

   </script>

{% endblock %}