{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
        <li><a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <!-- <li>{% trans "New Descriptor" %}</li> -->
        <li>{% trans "New Concept and Term" %}</li>
{% endblock %}

{% block content %}

    <div class='header'>
        <h3><i class='icon-book'></i>
            {% if not object %}
                {% trans "Creates information for the new Concept and Term" %}
            {% endif %}
        </h3>
    </div>

    <div class='body'>

        {% if msg_erro %}
            <ul class="errorlist alert alert-error"><li>{{ msg_erro }}</li></ul>
        {% endif  %}

        {% if form.errors or formset_concept.errors or formset_term.errors %}
            <ul class="errorlist alert alert-error">
                <li>{% trans "Please check required fields" %}</li>
            </ul>
        {% endif %}

        {{ form.non_form_errors }}
        {{ formset_concept.non_form_errors }}
        {{ formset_term.non_form_errors }}

        <form method="POST" class="act-form" encrypt="multipart/form-data">{% csrf_token %}

            <input type="hidden" id="id_identifier_id" name="identifier_id" value="{{ request.GET.identifier_id }}">

            <div class="tab-data1">

                <!-- identifierconceptlistdesc -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#identifierconceptlistdesc">{% trans "Identifier of Concept" %}</a>
                    </div>

                    <ul>
                        <fieldset id="identifierconceptlistdesc">                            
                            {% for field in form.visible_fields %}
                                {% if field.errors %}
                                    <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                                {% endif %}
                            {% endfor %}
                            <table class="descriptiondesc">
                                <tr>
                                    <td colspan="1">{{ form.concept_ui.label }}:<br>{{ form.concept_ui }}</td>
                                    <td colspan="2">{% trans "Language used for description" %}:<span class="mark">*</span>
                                        <br>
                                        <select id="id_registry-0" class="registry_language" name="registry_language" required="true">
                                            <option value="">---------</option>
                                            <option value="en">English</option>
                                            <option value="es">Spanish Latin America</option>
                                            <option value="pt-br">Portuguese</option>
                                            <option value="es-es">Spanish Spain</option>
                                            <option value="fr">French</option>
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">{{ form.concept_relation_name.label }}:<br>{{ form.concept_relation_name }}</td>
                                    <td width="20%">{{ form.preferred_concept.label }}:<br>{{ form.preferred_concept }}</td>
                                    <td width="60%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{ form.casn1_name.label }}:{{ form.casn1_name }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{ form.registry_number.label }}:<br>{{ form.registry_number }}</td>
                                </tr>
                            </table>
                        </fieldset>
                    </ul>
                </div>

                <!-- conceptlistdesc -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#conceptlistdesc">{% trans "Description of Concept" %}</a>
                    </div>

                    <ul>
                        <fieldset id="conceptlistdesc">
                            {{ formset_concept.management_form }}

                                {% for form in formset_concept %}

                                    {{ form.non_field_errors.as_ul }}

                                    {% for field in form.visible_fields %}
                                        {% if field.errors %}
                                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                                        {% endif %}
                                    {% endfor %}

                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    <table class="descriptiondesc">
                                        <input type="hidden" class="id_conceptlistdesc_language_selected" name="conceptlistdesc_set-0-language_code">
                                        <tr>
                                            <td>{{ form.scope_note.label }}:{{ form.scope_note }}<td>
                                        </tr>
                                    </table>


                                {% endfor %}
                        </fieldset>
                    </ul>
                </div>

                <!-- termlistdesc -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#termlistdesc">{% trans "Term description" %}</a>
                    </div>

                    <ul>
                        <fieldset id="termlistdesc">
                            <h2>{% trans "Term description" %}</h2>

                            {{ formset_term.management_form }}

                                {% for form in formset_term %}

                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    {% for field in form.visible_fields %}
                                        {% if field.errors %}
                                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                                        {% endif %}
                                    {% endfor %}

                                    <!-- term_thesaurus -->
                                    <input type="hidden" id="id_termdesc-0-term_thesaurus" name="termdesc-0-term_thesaurus" value="{{ request.GET.ths }}">

                                    <table class="termlistdesc" border="0">
                                        <tr>

                                            <td colspan="5" class="td-r-del">
                                                {% trans 'Status' %}:&nbsp;{{ form.status }}
                                                {% if form.instance.pk %}
                                                        {% trans 'Remove' %}? {{ form.DELETE }}
                                                {% endif %}
                                            </td>
                             
                                            <!-- {% if form.instance.pk %}
                                                <td colspan="5" class="td-r-del">
                                                    {% trans 'Remove' %}? {{ form.DELETE }}
                                                </td>
                                            {% else %}
                                                <td colspan="5" class="term-origin">&nbsp;
                                                </td>
                                            {% endif %} -->


                                        <input name="{{termlistdesc}}_DELETE" id="id_{{termlistdesc}}_DELETE" type="hidden">

                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="term_stringn" width="60%">
                                                <label for="term_string">{{ form.term_string.label_tag }}</label>
                                            </td>
                                            <td>{{ form.term_ui.label_tag }}</td>
                                            <td>{{ form.date_created.label_tag }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="term_stringn" width="60%">
                                                <!-- term_string -->
                                                <input id="id_termdesc-0-term_string" name="termdesc-0-term_string" value="" maxlength="250" required="" type="text">
                                            </td>
                                            <!-- language_code -->
                                            <input type="hidden" class="id_termdesc_language_selected" name="termdesc-0-language_code">
                                            <td>{{ form.term_ui }}</td>
                                            <td>
                                                <!-- date_created -->
                                                <input id="id_date_created" name="date_created" value="{% now "d/m/Y" %}" type="text">        
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.concept_preferred_term.label_tag }}</td>
                                            <td>{{ form.is_permuted_term.label_tag }}</td>
                                            <td>{{ form.lexical_tag.label_tag }}</td>
                                            <td>{{ form.record_preferred_term.label_tag }}</td>
                                            <td>{{ form.entry_version.label_tag }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.concept_preferred_term }}</td>
                                            <td>{{ form.is_permuted_term }}</td>
                                            <td>{{ form.lexical_tag }}</td>
                                            <td>{{ form.record_preferred_term }}</td>
                                            <td>{{ form.entry_version }}</td>
                                        </tr>

                                        <tr>
                                            <td colspan="5" width="98%">{{ form.historical_annotation.label_tag }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" width="98%">{{ form.historical_annotation }}</td>
                                        </tr>

                                    </table>

                            {% endfor %}

                        </fieldset>
                    </ul>
                </div>

            </div>

            <div>
                <br>
                <button class="btn btn-large btn-danger" onclick="window.history.go(-1); return false;">{% trans "Cancel" %}</button>
                <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
            </div>

        <form>

    </div>

    <script src="{% static "site/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectBox.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectFilter2.js" %}"></script>
    <script type="text/javascript">
        // PARAMETROS DO SELECT FILTER:
        // ID do seu elemento select
        // NAME do seu elemento select
        // 0 - para filter_horizontal / 1 para filter_vertical
        // Caminho do admin para source de imagens utilizadas

        addEvent(window, "load", function(e) {SelectFilter.init("id_abbreviation", "abbreviation", 1, "/static/admin/"); });
    </script>

{% endblock %}


{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>

   {% if LANGUAGE_CODE != 'en' %}
       <script src="{% static ''%}js/bootstrap-datepicker.{{LANGUAGE_CODE}}.min.js"></script>
   {% endif %}

   <script type="text/javascript">


        // Faz com que o ultimo form salvo fique ativo apos reload
        $(document).ready(function(){

            // Armazena em activeTab informação da aba ativa
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));

                // Armazena URL atual
                var old_currentLocation = window.location.href;
                localStorage.setItem('old_currentLocation', old_currentLocation);

            });

            // Traz variavel activeTab armazenada
            var activeTab = localStorage.getItem('activeTab');
            // Traz variavel old_currentLocation armazenada
            var old_currentLocation = localStorage.getItem('old_currentLocation');
            // Faz colta da URL atual
            var currentLocation = window.location.href;
            if(activeTab){
                // Compara se é a mesma URL, ou seja se ainda está na mesma página
                if (old_currentLocation != currentLocation){ // Se não estiver remove informações
                    localStorage.removeItem('activeTab');
                    localStorage.removeItem('old_currentLocation');
                } else { // Se estiver na mesma página posiciona na Aba visitada anteriormente.
                    $('#myTab a[href="' + activeTab + '"]').tab('show');
                }
            }
        });


        // Apaga localStorage quando eh novo registro
        $('[id="myTabNew"]').on('submit', function() {
            localStorage.removeItem('activeTab');
            localStorage.removeItem('old_currentLocation');
        });


        // Apaga localStorage quando volta a pagina inicial
        function setNoneTab(){
            localStorage.removeItem('activeTab');
            localStorage.removeItem('old_currentLocation');
        }


        $(function() {
            $('.treenumber-row').formset({
                    addText : '{% trans "Add Tree Number" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'treenumber_formset',
                    prefix: '{{ formset_treenumber.prefix }}'
            });

            $('.previous-row').formset({
                    addText : '{% trans "Add Previous Index" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'previous_formset',
                    prefix: '{{ formset_previous.prefix }}'
            });


            $('[id^="id_treenumberslistdesc_set-"]').on('blur', function() {
                val = $(this).val();
                $(this).val(val.replace(/\s/g, ''));

                tam = val.length;
                // alert(tam);
                if( tam % 2 !== 0 ){
                    // É impar
                    // alert("Impar "+tam);
                    // Verifica quantidade de pontos
                    qtd_pontos = ((tam + 1) / 4) - 1;
                    // alert('Numero de pontos:'+qtd_pontos);
                    if ( !( (parseFloat(qtd_pontos) == parseInt(qtd_pontos)) && !isNaN(qtd_pontos) ) ) {
                        // alert("Não é inteiro"+qtd_pontos)
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    } else {
                        $(this).val;
                    }

                } else {
                    // se eh par está errado
                    if ( tam != 0 ){
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    }
                }
            });

            $('[id$="-DELETE"]').on('click', function() {
                val = $(this).val();
                if (confirm('{% trans "Delete" %}?')) {
                    return true;
                } else {
                    return false;

                }
            });


            // Garante o preenchimento de idioma dos models baseando-se no campo registry_language
            $(document).on("submit", function(e) {
                var registry_language = $(".registry_language").val();
                $(".id_conceptlistdesc_language_selected").val(registry_language);
                $(".id_termdesc_language_selected").val(registry_language);
            });



            // Alerta sobre não preenchimento
            // $('[id^="id_descriptors-"]').on('blur', function() {
            //     val = $(this).val();
            //     if ( val == '' ){
            //         alert('{% trans "Warning" %}');
            //         return false;
            //     }
            // });


            // // Alerta sobre não preenchimento
            // $('[id$="-term_string"]').on('blur', function() {
            //     val = $(this).val();
            //     if ( val == '' ){
            //         // alert('{% trans "Warning: Field is empty!" %}');
            //         alert('{% trans "Warning: Field is empty!" %}: '+$(this).val());
            //         return false;
            //     }
            // });


            if ($("<input />").prop("required") === undefined) {
              $(document).on("submit", function(e) {
                $(this)
                  .find("input, select, textarea")
                  .filter("[required]")
                  .filter(function() { return this.value == ''; })
                  .each(function() {
                    e.preventDefault();
                    $(this).css({ "border": "2px solid red" })
                    alert($(this).prev('label').html() + " é obrigatório.");
                  });
              });
            }

        })



        function mascara(o,f){
            v_obj=o
            v_fun=f
            setTimeout("execmascara()",1)
        }
        function execmascara(){
            v_obj.value=v_fun(v_obj.value)
        }
        function mdata(v){
            v=v.replace(/\D/g,"");
            v=v.replace(/(\d{2})(\d)/,"$1/$2");
            v=v.replace(/(\d{2})(\d)/,"$1/$2");

            v=v.replace(/(\d{2})(\d{2})$/,"$1$2");
            return v;
        }

   </script>

{% endblock %}