{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}


{% block breadcrumb %}
	{% if not object %}
		<li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
		<span class="divider">/</span></li>
		<li>{% trans "New Descriptor" %}</li>
	{% else %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
		<li>{% trans "Edit Descriptor" %}</li>
	{% endif %}
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>


<!--  header -->
<div class='header'>
    <h2><i class='icon-book'></i>
    	{% if not object %}
    		{% trans "New Descriptor" %}
    		{% if next_id %}
    			 - ID: {{ next_id }}
    		{% endif %}
    	{% else %}
    		{% trans "Edit Descriptor" %}
    		{% if object.id %}
    			 - ID: {{ object.descriptor_ui }} - {{ object.decs_code }}
    		{% endif %}
    	{% endif %}</h2>
</div>

<div class='body'>    
    <ul class="nav nav-tabs" id='tab'>
            <li class="active">
                <a href="#tab-identifierdesc" data-toggle="tab"><strong>{% trans "Identifier" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-descriptiondesc" data-toggle="tab"><strong>{% trans "Description" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-treenumberslistdesc" data-toggle="tab"><strong>{% trans "Category" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-previousindexinglistdesc" data-toggle="tab"><strong>{% trans "Previous indexing" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-conceptlistdesc" data-toggle="tab"><strong>{% trans "Concept List" %}</strong></a>
            </li>

            <li class="">
                <a href="#tab-termlistdesc" data-toggle="tab"><strong>{% trans "Terms" %}</strong></a>
            </li>


    </ul>


    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}

        <div class="tab-content">

            <div id="tab-identifierdesc" class="tab-pane active">

                {% for field in form.visible_fields %}
                    {% if field.errors %}
                        <font>Error : </font>{{ field.label }}{{ field.errors }}
                    {% endif %}
                {% endfor %}

                <table class="table table-condensed span8">
                    <thead>
                        <th>{{ form.thesaurus.label }}</th>
                        <th>{{ form.active.label }}</th>
                    </thead>
                    <tr>
                        <td>{{ form.thesaurus }}</td>
                        <td>{{ form.active }}</td>
                    </tr>

                    <thead>
                        <th>{{ form.descriptor_ui.label }}</th>
                        <th>{{ form.decs_code.label }}</th>
                        <th>{{ form.external_code.label }}</th>
                        <th>{{ form.nlm_class_number.label }}</th>
                    </thead>
                    <tr>
                        <td>{{ form.descriptor_ui }}</td>
                        <td>{{ form.decs_code }}</td>
                        <td>{{ form.external_code }}</td>
                        <td>{{ form.nlm_class_number }}</td>
                    </tr>

                    <thead>
                        <th>{{ form.descriptor_class.label }}</th>
                        <th>{{ form.date_created.label }}</th>
                        <th>{{ form.date_revised.label }}</th>
                        <th>{{ form.date_established.label }}</th>
                    </thead>
                    <tr>
                        <td>{{ form.descriptor_class }}</td>
                        <td>{{ form.date_created }}</td>
                        <td>{{ form.date_revised }}</td>
                        <td>{{ form.date_established }}</td>
                    </tr>

                    <tr>
                        <td colspan=4>
                            {{ form.abbreviation }}
                    </tr>
 
                </table>

            </div>

            <div id="tab-descriptiondesc" class="tab-pane">
                <div class="well">
                    {{ formset_descriptor.as_p }}
                </div>
            </div>

            <div id="tab-treenumberslistdesc" class="tab-pane">
                <div class="well">
                    {{ formset_category.as_p }}
                </div>
            </div>

            <div id="tab-previousindexinglistdesc" class="tab-pane">
                <div class="well">
                    {{ formset_previous.as_p }}
                </div>
            </div>

            <div id="tab-conceptlistdesc" class="tab-pane">
                <div class="well">
                    {{ formset_concept.as_p }}
                </div>
            </div>

            <div id="tab-termlistdesc" class="tab-pane">
                <div class="well">
                    {{ formset_term.as_p }}
                </div>
            </div>
        </div>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
        </div>


    </form>

<!-- http://djangoweb.blogspot.com.br/2015/08/como-usar-o-filterhorizontalfilterverti.html#gpluscomments -->
 <script src="{% static "site/js/jquery.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectBox.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectFilter2.js" %}"></script>
    <script type="text/javascript">
     // PARAMETROS DO SELECT FILTER:
     // ID do seu elemento select
     // NAME do seu elemento select
     // 0 - para filter_horizontal / 1 para filter_vertical
     // Caminho do admin para source de imagens utilizadas

        addEvent(window, "load", function(e) {SelectFilter.init("id_abbreviation", "abbreviation", 1, "/static/admin/"); });
    </script>


</div>




{% endblock %}

