{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {% if not object %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "New Descriptor" %}</li>
    {% else %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "Edit Descriptor" %}</li>
    {% endif %}
{% endblock %}

{% block content %}

<!--  header -->
<div class='header'>
    <h2><i class='icon-book'></i>
        {% if not object %}
            {% trans "New Descriptor" %}
            {% if next_id %}
                 - ID: {{ next_id }}
            {% endif %}
        {% else %}
            {% trans "Edit Descriptor" %}
            {% for term in formset_term %}
                <input type="hidden" name="language_system" value="{{ language_system }}">
                {% if language_system == term.language_code.value and term.concept_preferred_term.value == 'Y' %}
                    : {{ term.term_string.value }}
                {% endif %}
            {% endfor %}
        {% endif %}</h2>
</div>

<div class='body'>    

{% if form.errors or formset_descriptor.errors or formset_category.errors or formset_previous.errors or formset_concept.errors or formset_term.errors %}
    <ul class="errorlist alert alert-error">
        <li>{% trans "Please check required fields" %}</li>
    </ul>
{% endif %}


    <ul class="nav nav-tabs" id='tab'>
        <li>
            <a href="#tab-identifierdesc" class="{% if form.errors and not form.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Identifier" %}</strong></a>
        </li>

        <li>
            <a href="#tab-termlistdesc" class="{% if formset_term.errors and not formset_term.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Terms" %}</strong></a>
        </li>

        <li>
            <a href="#tab-conceptlistdesc" class="{% if formset_concept.errors and not formset_concept.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Concept List" %}</strong></a>
        </li>

        <li>
            <a href="#tab-descriptiondesc" class="{% if formset_descriptor.errors and not formset_descriptor.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Description" %}</strong></a>
        </li>
        <li>
            <a href="#tab-treenumberslistdesc" class="{% if formset_category.errors and not formset_category.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Category" %}</strong></a>
        </li>
        <li>
            <a href="#tab-previousindexinglistdesc" class="{% if formset_previous.errors and not formset_previous.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Previous indexing" %}</strong></a>
        </li>
    </ul>

    <form method="POST" class="act-form" encrypt="multipart/form-data">

    {% csrf_token %}

        <div class="tab-content">

            <div id="tab-identifierdesc" class="tab-pane active">
                <fieldset id="identifierdesc">

                    {{ form.non_field_errors.as_ul }}

                    {% for field in form.visible_fields %}
                        {% if field.errors %}
                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                        {% endif %}
                    {% endfor %}

                    <table class="identifierdesc">
                        <thead>
                            <th>{{ form.thesaurus.label }}<span class="mark">*</span></th>
                        </thead>
                        <tr>
                            <td>{{ form.thesaurus }}</td>
                        </tr>
                        <thead>
                            <th>{{ form.descriptor_ui.label }}</th>
                            <th>{{ form.decs_code.label }}<span class="mark">*</span></th>
                            <th>{{ form.external_code.label }}</th>
                            <th>{{ form.nlm_class_number.label }}</th>
                        </thead>
                        <tr>
                            <td>{{ form.descriptor_ui }}</td>
                            <td>{{ form.decs_code }}</td>
                            <td>{{ form.external_code }}</td>
                            <td>{{ form.nlm_class_number }}</td>
                        </tr>
                        <thead>
                            <th>{{ form.descriptor_class.label }}</th>
                            <th>{{ form.date_created.label }}
                                <font color="#999"><i>{{ form.date_created.help_text }}</i></font>
                            </th>
                            <th>{{ form.date_revised.label }}
                                <font color="#999"><i>{{ form.date_revised.help_text }}</i></font>
                            </th>
                            <th>{{ form.date_established.label }}
                                <font color="#999"><i>{{ form.date_established.help_text }}</i></font>
                            </th>
                        </thead>
                        <tr>
                            <td>{{ form.descriptor_class }}</td>
                            <td>{{ form.date_created }}</td>
                            <td>{{ form.date_revised }}</td>
                            <td>{{ form.date_established }}</td>
                        </tr>
                        <tr>
                            <td colspan=4>{{ form.abbreviation }}</td>
                        </tr>
                    </table>

                </fieldset>
            </div>


            <div id="tab-descriptiondesc" class="tab-pane">
                <fieldset id="descriptiondesc">

                {{ formset_descriptor.management_form }}

                {% for form in formset_descriptor %}

                    {{ form.non_field_errors.as_ul }}

                    {% for field in form.visible_fields %}
                        {% if field.errors %}
                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                        {% endif %}
                    {% endfor %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <table class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#descriptiondesc_{{ form.instance.pk }}">
                            <font size="2">
                                {% if form.instance.pk %}
                                    <font color="#333">
                                    <b>
                                    {% for info in info_term_string %}
                                        {% if info.termdesc__language_code = form.language_code.value %}
                                            {{ info.termdesc__term_string }}
                                        {% endif %}
                                    {% endfor %}

                                    ({{ form.language_code.value }})

                                    </b>
                                    </font>
                                {% else %}
                                    {% trans 'New Record' %}
                                {% endif %}

                            </font>
                        </a>
                    </table>


                    <div id="descriptiondesc_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">


                        <table class="descriptiondesc">
                            <tr>

                            {% if form.instance.pk %}
                                <td colspan="2" class="td-r-del">
                                    {% trans 'Remove' %}? {{ form.DELETE }}
                                </td>
                            {% else %}
                                <td colspan="2" class="term-origin">&nbsp;
                                </td>
                            {% endif %}

                        <input name="{{descriptors}}_DELETE" id="id_{{descriptors}}_DELETE" type="hidden">

                                </td>
                            </tr>

                            <tr>
                                <td width="20%" class="td-r">{{ form.language_code.label_tag }}</td>
                                <td class="td-l">{{ form.language_code }}</td>
                            </tr>
                            <tr>
                                <td class="td-r">{{ form.annotation.label_tag }}</td>
                                <td>
                                {{ form.annotation }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r">{{ form.history_note.label_tag }}</td>
                                <td>
                                {{ form.history_note }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r">{{ form.online_note.label_tag }}</td>
                                <td>
                                {{ form.online_note }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r">{{ form.public_mesh_note.label_tag }}</td>
                                <td>
                                {{ form.public_mesh_note }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r">{{ form.consider_also.label_tag }}</td>
                                <td>
                                {{ form.consider_also }}
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>

                {% endfor %}

                </fieldset>
            </div>



            <div id="tab-treenumberslistdesc" class="tab-pane">
                <fieldset id="treenumberslistdesc">

                    <table class="treenumberslistdesc">
                        <thead>
                            <th>{% trans "Tree Numbers List" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>
                        {{ formset_category.management_form }}

                        {% for form in formset_category %}

                            {{ form.non_field_errors.as_ul }}

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="category-{{ forloop.counter0 }}" class="category-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                               <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>


            <div id="tab-previousindexinglistdesc" class="tab-pane">
                <fieldset id="previousindexinglistdesc">

                    <table class="previousindexinglistdesc">
                        <thead>
                            <th>{% trans "Previous Index" %}</th>
                            <th>{% trans "Language" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>
                        {{ formset_previous.management_form }}

                        {% for form in formset_previous %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="previous-{{ forloop.counter0 }}" class="previous-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>

            </div>

            <div id="tab-conceptlistdesc" class="tab-pane">

                <fieldset id="conceptlistdesc">

                    {{ formset_concept.management_form }}
                    {% for form in formset_concept %}

                        {{ form.non_field_errors.as_ul }}

                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                            {% endif %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                    <table class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#conceptlistdesc_{{ form.instance.pk }}">
                            <font size="2">
                                {% if form.instance.pk %}
                                    <font color="#333">
                                    <b>{{ form.concept_name.value }} ({{ form.language_code.value }})</b>
                                    </font>
                                {% else %}
                                    {% trans 'New Record' %}
                                {% endif %}
                            </font>
                        </a>
                    </table>

                    <div id="conceptlistdesc_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">

                        <table class="conceptlistdesc" border="0">
                            <tr>

                            {% if form.instance.pk %}
                                <td colspan="4" class="td-r-del">
                                    {% trans 'Remove' %}? {{ form.DELETE }}
                                </td>
                            {% else %}
                                <td colspan="4" class="term-origin">&nbsp;
                                </td>
                            {% endif %}

                            <input name="{{conceptlistdesc}}_DELETE" id="id_{{conceptlistdesc}}_DELETE" type="hidden">

                                </td>
                            </tr>

                            <tr>
                                <td>{{ form.concept_name.label_tag }}</td>
                                <td>{{ form.language_code.label_tag }}</td>
                                <td>{{ form.concept_ui.label_tag }}</td>
                                <td>{{ form.preferred_concept.label_tag }}</td>
                            </tr>
                            <tr>
                                <td class="concept_name">{{ form.concept_name }}</td>
                                <td>{{ form.language_code }}</td>
                                <td>{{ form.concept_ui }}</td>
                                <td>{{ form.preferred_concept }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ form.casn1_name.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="casn1">{{ form.casn1_name }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ form.scope_note.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="casn1">{{ form.scope_note }}</td>
                            </tr>

                            <tr>
                                <td colspan="4">{{ form.registry_number.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ form.registry_number }}</td>
                            </tr>



                        </table>
                        <br>
                    </div>
                    {% endfor %}
                </fieldset>

            </div>

            <div id="tab-termlistdesc" class="tab-pane">

                <fieldset id="termlistdesc">

                    <!-- New register -->
                    {{ formset_term.management_form }}
                    {% for form in formset_term %}
                        {% if not form.instance.pk %}
                            {% include "thesaurus/fieldset_termlistdesc.html" %}
                        {% endif %}
                    {% endfor %}
                    <br>

                    <!-- Published -->
                    {{ formset_term.management_form }}
                    <font class="color_status"><b>{% trans "Published" %}</font><br>
                    {% for form in formset_term %}
                        <!-- Preferred -->
                        {% if form.status.value == 1 and form.concept_preferred_term.value = 'Y' and form.instance.pk %}
                            {% include "thesaurus/fieldset_termlistdesc.html" %}
                        {% endif %}
                    {% endfor %}

                    {% for form in formset_term %}
                        <!-- Narrower -->
                        {% if form.status.value == 1 and form.concept_preferred_term.value = 'N' and form.instance.pk %}
                            {% include "thesaurus/fieldset_termlistdesc.html" %}
                        {% endif %}
                    {% endfor %}
                    <br>

                    <!-- Draft -->
                    {{ formset_term.management_form }}
                    <font class="color_status"><b>{% trans "Draft" %}</font><br>
                    {% for form in formset_term %}
                        {% if form.status.value == -1 and form.instance.pk %}
                            {% include "thesaurus/fieldset_termlistdesc.html" %}
                        {% endif %}
                    {% endfor %}
                    <br>

                    <!-- Historical -->
                    {{ formset_term.management_form }}
                    <font class="color_status"><b>{% trans "Historical" %}</font><br>
                    {% for form in formset_term %}
                        {% if form.status.value == 5 and form.instance.pk %}
                            {% include "thesaurus/fieldset_termlistdesc.html" %}
                        {% endif %}
                    {% endfor %}

                </fieldset>

            </div>


        </div>


        <div class="control-panel form-submit">
            <a href="{% url 'list_descriptor' %}" class="btn btn-large btn-danger">{% trans "Back" %}</a>
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>

            {% if messages %}
                {% for message in messages %}
                    <font color="#333" size="4">
                        <b>{% trans "Registry successfully saved" %}</b>
                    </font>
                {% endfor %}
            {% endif %}

<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->


        </div>

    </form>


 <script src="{% static "site/js/jquery.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectBox.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectFilter2.js" %}"></script>
    <script type="text/javascript">
     // PARAMETROS DO SELECT FILTER:
     // ID do seu elemento select
     // NAME do seu elemento select
     // 0 - para filter_horizontal / 1 para filter_vertical
     // Caminho do admin para source de imagens utilizadas

        addEvent(window, "load", function(e) {SelectFilter.init("id_abbreviation", "abbreviation", 1, "/static/admin/"); });
    </script>


</div>

{% endblock %}


{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>



   {% if LANGUAGE_CODE != 'en' %}
       <script src="{% static ''%}js/bootstrap-datepicker.{{LANGUAGE_CODE}}.min.js"></script>
   {% endif %}

   <script type="text/javascript">


        $(function() {
            $('.category-row').formset({
                    addText : '{% trans "Add Tree Number" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'category_formset',
                    prefix: '{{ formset_category.prefix }}'
            });

            $('.previous-row').formset({
                    addText : '{% trans "Add Previous Index" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'previous_formset',
                    prefix: '{{ formset_previous.prefix }}'
            });


            $('[id^="id_treenumberslistdesc_set-"]').on('blur', function() {
                val = $(this).val();
                $(this).val(val.replace(/\s/g, ''));

                tam = val.length;
                // alert(tam);
                if( tam % 2 !== 0 ){
                    // É impar
                    // alert("Impar "+tam);
                    // Verifica quantidade de pontos
                    qtd_pontos = ((tam + 1) / 4) - 1;
                    // alert('Numero de pontos:'+qtd_pontos);
                    if ( !( (parseFloat(qtd_pontos) == parseInt(qtd_pontos)) && !isNaN(qtd_pontos) ) ) {
                        // alert("Não é inteiro"+qtd_pontos)
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    } else {
                        $(this).val;
                    }

                } else {
                    // se eh par está errado
                    if ( tam != 0 ){
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    }
                }
            });

            $('.act-form').on('submit', function() {
                if (confirm('{% trans "Save" %}?')) {
                    return true;
                } else {
                    return false;
                }
            });

            $('[id$="-DELETE"]').on('click', function() {
                val = $(this).val();
                if (confirm('{% trans "Delete" %}?')) {
                    return true;
                } else {
                    return false;

                }
            });


            // Alerta sobre não preenchimento
            // $('[id^="id_descriptors-"]').on('blur', function() {
            //     val = $(this).val();
            //     if ( val == '' ){
            //         alert('{% trans "Warning" %}');
            //         return false;
            //     }
            // });


            // Alerta sobre não preenchimento
            $('[id^="id_termdesc-"]').on('blur', function() {
                val = $(this).val();
                if ( val == '' ){
                    alert('{% trans "Warning: Field is empty!" %}');
                    return false;
                }
            });




        })

   </script>
{% endblock %}