{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}


{% block breadcrumb %}
    {% if not object %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "New Descriptor" %}</li>
    {% else %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "Edit Descriptor" %}</li>
    {% endif %}
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>


<!--  header -->
<div class='header'>

</div>

<div class='body'>    

    <form method="POST" class="act-form" enctype="multipart/form-data">
    {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary btn-large">{% trans "Save" %}</button>

    </form>



</div>

{% endblock %}