{% load i18n %}


    {{ form.non_field_errors.as_ul }}

    {% for field in form.visible_fields %}
        {% if field.errors %}
            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
        {% endif %}
    {% endfor %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <table class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#termlistqualif_{{ form.instance.pk }}">
            <font size="2">

                {% if form.instance.pk %}
                    {% if form.concept_preferred_term.value = 'Y' %}
                        <font color="#333">&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})</font>
                        <font color="gray"><i>&nbsp;{% trans "Preferred" %}</i></font>
                    {% endif %}
                    {% if form.concept_preferred_term.value = 'N' %}
                        <font color="#333"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})</b></font>
                        <font color="#DCDCDC"><i>&nbsp;{% trans "Narrower" %}</i></font>
                    {% endif %}
                    {% if not form.concept_preferred_term.value = 'Y' and not form.concept_preferred_term.value = 'N' %}
                        <font color="#333"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})</b></font>
                    {% endif %}
                {% endif %}

            </font>
        </a>
    </table>

    <div id="termlistqualif_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">
    <!-- <div id="termlistqualif_{{ form.instance.pk }}" class="panel-collapse collapse"> -->

        <table class="termlistqualif" border="0">
            <tr>

                <td colspan="5" class="td-r-del" readonly>

                    {% trans 'Status' %}:&nbsp;

                    <select id="id_termqualif-{{ forloop.counter0 }}-status" name="termqualif-{{ forloop.counter0 }}-status" disabled="disabled">
                        {% if form.status.value == -1 %}<option value="-1" selected="selected">Rascunho</option>{% endif %}
                        {% if form.status.value == 1 %}<option value="1" selected="selected">Publicado</option>{% endif %}
                        {% if form.status.value == 5 %}<option value="5" selected="selected">Historical</option>{% endif %}
                    </select>

                    <!-- <a href="{% url 'edit_termlistqualif' form.instance.pk %}">{% trans "Edit" %}</a> -->
                    <a href="{% url 'edit_termlistqualif' form.instance.pk %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
<!--                     {% if form.instance.pk %}
                            [ PROVISORIO {% trans 'Remove' %}? {{ form.DELETE }} ]
                    {% endif %} -->
                </td>
 
<!--                 <input name="{{termlistqualif}}_DELETE" id="id_{{termlistqualif}}_DELETE" type="hidden"> -->

                </td>
            </tr>

            <tr>
                <td colspan="2" class="term_string" width="40%">
                    <label for="term_string">{{ form.term_string.label_tag }}</label>
                </td>
                <td>{{ form.language_code.label_tag }}</td>
                <td>{{ form.term_ui.label_tag }}</td>
                <td>{{ form.date_created.label_tag }}</td>
            </tr>
            <tr>
                <td colspan="2" class="term_string" width="40%">
                    <!-- term_string -->                                    
                    {% if form.term_string.value %}
                        <input type="text" id="id_termqualif-{{ forloop.counter0 }}-term_string" name="termqualif-{{ forloop.counter0 }}-term_string" value="{% if form.term_string %}{{ form.term_string.value|default_if_none:"" }}{% endif %}" maxlength="250" readonly>
                    {% else %}
                        <input type="text" id="id_termqualif-{{ forloop.counter0 }}-term_string" name="termqualif-{{ forloop.counter0 }}-term_string" value="{% if form.term_string %}{{ form.term_string.value|default_if_none:"" }}{% endif %}" maxlength="250" readonly>
                    {% endif %}

                </td>
                <td>
                    <!-- language_code -->
                    {% if form.instance.pk %}
                    <select id="id_termqualif-{{ forloop.counter0 }}-language_code" name="termqualif-{{ forloop.counter0 }}-language_code" disabled="disabled">
                        <option value="">{% if not form.language_code.value %}---------{% endif %}</option>
                        <option value="en" {% if form.language_code.value == 'en'%}selected{% endif %}>{% trans "English" %}</option>
                        <option value="es" {% if form.language_code.value == 'es'%}selected{% endif %}>{% trans "Spanish Latin America" %}</option>
                        <option value="pt-br" {% if form.language_code.value == 'pt-br'%}selected{% endif %}>{% trans "Portuguese" %}</option>
                        <option value="es-es" {% if form.language_code.value == 'es-es'%}selected{% endif %}>{% trans "Spanish Spain" %}</option>
                        <option value="fr" {% if form.language_code.value == 'fr'%}selected{% endif %}>{% trans "French" %}</option>
                    </select>
                    {% endif %}
                </td>
                <td>
                    <input id="id_termqualif-{{ forloop.counter0 }}-term_ui" maxlength="250" name="termqualif-{{ forloop.counter0 }}-term_ui" type="text"  value="{% if form.term_ui %}{{ form.term_ui.value|default_if_none:"" }}{% endif %}" readonly>
                </td>
                <td>
                    <!-- date_created -->
                    {% if form.instance.pk %}
                        <input id="id_termqualif-{{ forloop.counter0 }}-date_created" name="termqualif-{{ forloop.counter0 }}-date_created" value="{{ form.date_created.value|date:"d/m/Y"}}" type="text" readonly>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ form.concept_preferred_term.label_tag }}</td>
                <td>{{ form.is_permuted_term.label_tag }}</td>
                <td>{{ form.lexical_tag.label_tag }}</td>
                <td>{{ form.record_preferred_term.label_tag }}</td>
                <td>{{ form.entry_version.label_tag }}</td>
            </tr>
            <tr>
                <td>
                    <select id="id_termqualif-{{ forloop.counter0 }}-concept_preferred_term" name="termqualif-{{ forloop.counter0 }}-concept_preferred_term" disabled="disabled">
                        <option value="">---------</option>
                        <option value="Y" {% if form.concept_preferred_term.value == 'Y' %}selected{% endif %}>{% trans "Yes" %}</option>
                        <option value="N" {% if form.concept_preferred_term.value == 'N' %}selected{% endif %}>{% trans "No" %}</option>
                    </select>
                </td>
                <td>
                    <select id="id_termqualif-{{ forloop.counter0 }}-is_permuted_term" name="termqualif-{{ forloop.counter0 }}-is_permuted_term" disabled="disabled">
                        <option value="">---------</option>
                        <option value="Y" {% if form.is_permuted_term.value == 'Y' %}selected{% endif %}>{% trans "Yes" %}</option>
                        <option value="N" {% if form.is_permuted_term.value == 'N' %}selected{% endif %}>{% trans "No" %}</option>
                    </select>
                </td>
                <td>
                    <select id="id_termqualif-{{ forloop.counter0 }}-lexical_tag" name="termqualif-{{ forloop.counter0 }}-lexical_tag" disabled="disabled">
                        <option value="">---------</option>
                        <option value="ABB" {% if form.lexical_tag.value == 'ABB' %}selected{% endif %}>{% trans "ABB - Abbreviation" %}</option>
                        <option value="ABX" {% if form.lexical_tag.value == 'ABX' %}selected{% endif %}>{% trans "ABX - Embedded abbreviation" %}</option>
                        <option value="ACR" {% if form.lexical_tag.value == 'ACR' %}selected{% endif %}>{% trans "ACR - Acronym" %}</option>
                        <option value="ACX" {% if form.lexical_tag.value == 'ACX' %}selected{% endif %}>{% trans "ACX - Embedded acronym" %}</option>
                        <option value="EPO" {% if form.lexical_tag.value == 'EPO' %}selected{% endif %}>{% trans "EPO - Eponym" %}</option>
                        <option value="LAB" {% if form.lexical_tag.value == 'LAB' %}selected{% endif %}>{% trans "LAB - Lab number" %}</option>
                        <option value="NAM" {% if form.lexical_tag.value == 'NAM' %}selected{% endif %}>{% trans "NAM - Proper name" %}</option>
                        <option value="NON" {% if form.lexical_tag.value == 'NON' %}selected{% endif %}>{% trans "NON - None" %}</option>
                        <option value="TRD" {% if form.lexical_tag.value == 'TRD' %}selected{% endif %}>{% trans "TRD - Trade name" %}</option>
                    </select>
                </td>
                <td>
                    <select id="id_termqualif-{{ forloop.counter0 }}-record_preferred_term" name="termqualif-{{ forloop.counter0 }}-record_preferred_term" disabled="disabled">
                        <option value="">---------</option>
                        <option value="Y" {% if form.record_preferred_term.value == 'Y' %}selected{% endif %}>{% trans "Yes" %}</option>
                        <option value="N" {% if form.record_preferred_term.value == 'N' %}selected{% endif %}>{% trans "No" %}</option>
                    </select>
                </td>
                <td>
                    <input id="id_termqualif-{{ forloop.counter0 }}-entry_version" maxlength="250" name="termqualif-{{ forloop.counter0 }}-entry_version" type="text" value="{% if form.entry_version %}{{ form.entry_version.value|default_if_none:"" }}{% endif %}" readonly>
                </td>
            </tr>

            <tr>
                <td colspan="4" width="100%">{{ form.historical_annotation.label_tag }}</td>
                <td>{{ form.date_altered.label_tag }}</td>
            </tr>
            <tr>
                <td colspan="4" width="100%">
                    <textarea cols="40" id="id_termqualif-{{ forloop.counter0 }}-historical_annotation" maxlength="1500" name="termqualif-{{ forloop.counter0 }}-historical_annotation" rows="10" readonly>{{ form.historical_annotation.value }}</textarea>
                </td>
                <td valign="top">
                    <input id="id_termqualif-{{ forloop.counter0 }}-date_altered" name="termqualif-{{ forloop.counter0 }}-date_altered" value="{{ form.date_altered.value|date:"d/m/Y" }}" type="text" readonly>
                </td>
            </tr>

        </table>

        <br>
    </div>


