                                    <table class="descriptiondesc">
                                        <tr>
                                            <td>
                                                {{ form.language_code.label_tag }}
                                                {{ form.language_code }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.annotation.label_tag }}
                                                {{ form.annotation }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.history_note.label_tag }}
                                                {{ form.history_note }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.online_note.label_tag }}
                                                {{ form.online_note }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.public_mesh_note.label_tag }}
                                                {{ form.public_mesh_note }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.consider_also.label_tag }}
                                                {{ form.consider_also }}
                                            </td>
                                        </tr>
                                    </table>
