{% load i18n %}

    {{ form.non_field_errors.as_ul }}

    {% for field in form.visible_fields %}
        {% if field.errors %}
            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
        {% endif %}
    {% endfor %}


    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}


    <table class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#termlistdesc_{{ form.instance.pk }}">
            <font size="2">

                {% if form.instance.pk %}
                        {% if form.concept_preferred_term.value = 'Y' %}
                            <font color="#333">&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})</font>
                            <font color="gray"><i>&nbsp;{% trans "Preferred" %}</i></font>
                        {% endif %}
                        {% if form.concept_preferred_term.value = 'N' %}
                            <font color="#333"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})</b></font>
                            <font color="#DCDCDC"><i>&nbsp;{% trans "Narrower" %}</i></font>
                        {% endif %}
                        {% if not form.concept_preferred_term.value = 'Y' and not form.concept_preferred_term.value = 'N' %}
                            <font color="#333"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})</b></font>
                        {% endif %}
                {% endif %}

            </font>
        </a>
    </table>

    <div id="termlistdesc_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">

        <table class="termlistdesc" border="0">
            <tr>

                <td colspan="5" class="td-r-del">
                    {% trans 'Status' %}:&nbsp;{{ form.status }}
                    {% if form.instance.pk %}
                            {% trans 'Remove' %}? {{ form.DELETE }}
                    {% endif %}
                </td>
 
                <!-- {% if form.instance.pk %}
                    <td colspan="5" class="td-r-del">
                        {% trans 'Remove' %}? {{ form.DELETE }}
                    </td>
                {% else %}
                    <td colspan="5" class="term-origin">&nbsp;
                    </td>
                {% endif %} -->


            <input name="{{termlistdesc}}_DELETE" id="id_{{termlistdesc}}_DELETE" type="hidden">

                </td>
            </tr>

            <tr>
                <td colspan="2" class="term_string" width="40%">
                    <label for="term_string">{{ form.term_string.label_tag }}</label>
                </td>
                <td>{{ form.language_code.label_tag }}</td>
                <td>{{ form.term_ui.label_tag }}</td>
                <td>{{ form.date_created.label_tag }}</td>
            </tr>
            <tr>
                <td colspan="2" class="term_string" width="40%">
                    <!-- term_string -->                                    
                    {% if form.term_string.value %}
                        <input type="text" id="id_termdesc-{{ forloop.counter0 }}-term_string" name="termdesc-{{ forloop.counter0 }}-term_string" value="{% if form.term_string %}{{ form.term_string.value|default_if_none:"" }}{% endif %}" maxlength="250" required>
                    {% else %}
                        <input type="text" id="id_termdesc-{{ forloop.counter0 }}-term_string" name="termdesc-{{ forloop.counter0 }}-term_string" value="{% if form.term_string %}{{ form.term_string.value|default_if_none:"" }}{% endif %}" maxlength="250">
                    {% endif %}

                </td>
                <td>
                    <!-- language_code -->
                    {% if form.instance.pk %}
                    <select id="id_termdesc-{{ forloop.counter0 }}-language_code" name="termdesc-{{ forloop.counter0 }}-language_code" required>
                        <option value="">{% if not form.language_code.value %}---------{% endif %}</option>
                        <option value="en" {% if form.language_code.value == 'en'%}selected{% endif %}>{% trans "English" %}</option>
                        <option value="es" {% if form.language_code.value == 'es'%}selected{% endif %}>{% trans "Spanish Latin America" %}</option>
                        <option value="pt-br" {% if form.language_code.value == 'pt-br'%}selected{% endif %}>{% trans "Portuguese" %}</option>
                        <option value="es-es" {% if form.language_code.value == 'es-es'%}selected{% endif %}>{% trans "Spanish Spain" %}</option>
                        <option value="fr" {% if form.language_code.value == 'fr'%}selected{% endif %}>{% trans "French" %}</option>
                    </select>
                    {% endif %}
                </td>
                <td>{{ form.term_ui }}</td>
                <td>
                    <!-- date_created -->
                    {% if form.instance.pk %}
                        {% if not form.date_created.value %}
                        <input id="id_termdesc-{{ forloop.counter0 }}-date_created" name="termdesc-{{ forloop.counter0 }}-date_created" type="text" value="{% now "d/m/Y" %}" onkeyup="mascara(this, mdata);" maxlength="10">
                        {% else %}
                        <input id="id_termdesc-{{ forloop.counter0 }}-date_created" name="termdesc-{{ forloop.counter0 }}-date_created" type="text" value="{{ form.date_created.value|date:"d/m/Y"}}" onkeyup="mascara(this, mdata);" maxlength="10" readonly>
                        {% endif %}
                    {% endif %}
                </td>


            </tr>
            <tr>
                <td>{{ form.concept_preferred_term.label_tag }}</td>
                <td>{{ form.is_permuted_term.label_tag }}</td>
                <td>{{ form.lexical_tag.label_tag }}</td>
                <td>{{ form.record_preferred_term.label_tag }}</td>
                <td>{{ form.entry_version.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.concept_preferred_term }}</td>
                <td>{{ form.is_permuted_term }}</td>
                <td>{{ form.lexical_tag }}</td>
                <td>{{ form.record_preferred_term }}</td>
                <td>{{ form.entry_version }}</td>
            </tr>

            <tr>
                <td colspan="4" width="100%">{{ form.historical_annotation.label_tag }}</td>
                <td>{{ form.date_altered.label_tag }}</td>
            </tr>
            <tr>
                <td colspan="4" width="100%">{{ form.historical_annotation }}</td>
                <td valign="top">
                    <!-- {{ form.date_altered }} -->

                    {% if form.instance.pk %}
                        {% if not form.date_altered.value %}
                            <input id="id_termdesc-{{ forloop.counter0 }}-date_altered" name="termdesc-{{ forloop.counter0 }}-date_altered" type="text" value="{% now "d/m/Y" %}" required maxlength="10" onkeyup="mascara(this, mdata);">
                        {% else %}
                            <input id="id_termdesc-{{ forloop.counter0 }}-date_altered campoData" name="termdesc-{{ forloop.counter0 }}-date_altered" type="text" value="{{ form.date_altered.value|date:"d/m/Y" }}" required maxlength="10" onkeyup="mascara(this, mdata);">
                        {% endif %}
                    {% endif %}
                </td>
            </tr>

        </table>

        <br>
    </div>