{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {% if object %}
        <li>
            <a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
                {% trans "Thesaurus" %}
                {% if choiced_thesaurus_name %}
                    {% for obj in choiced_thesaurus_name %}
                        {{ obj.thesaurus_name }}
                    {% endfor %}
                {% endif %}
            </a>
            <span class="divider">/</span>
        </li>
        <li>{% trans "Edit Descriptor" %}</li>
    {% endif %}
{% endblock %}

{% block content %}

    <style rel="stylesheet" type="text/css">
        .float-banner {
            position: absolute;
            left: 95%;
            width: 350px; height: 100px;
            margin-top: 25px; margin-left: -300px;
        }

        .tb_concept_preferred {
            background-color: #FAFAD2;
        }

        .tb_concept {
            background-color: #F5F5F5;
        }

        a[href="#top"]{
            padding:10px;
            position:fixed;
            top: 75%;
            right:40px;
            display:none;
            font-size: 20px;
        }
        a[href="#top"]:hover{
            text-decoration:none;
        }

    </style>

    <div class='header'>
        <table width="98%">
            <tr>
                <td valign="top" width="20%">
                    <h2><i class='icon-file'></i> {% trans "Descriptors" %}</h2>
                </td>
                <td valign="top">
                    <ul>
                        {% for obj in term_string_info_preferred_objects %}
                            {% if obj.termdesc__status == 1 %}
                                {{ obj.termdesc__term_string }} <font color="blue">({{ obj.termdesc__language_code }})</font><br>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>

                <div id="float-banner" class="float-banner">
                    <form name="f1" action="" onSubmit="if(this.t1.value!=null && this.t1.value!='') findString(this.t1.value);return false">
                        <input type="text" id="id_t1" name="t1" value="" size="20" placeholder="{% trans "Search" %}">
                        <input type="hidden" name=ths value="{% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
                        <button class="btn btn-primary" type="submit" style="margin-top: -10px"><i class="icon-search"></i></button>
                        <button class="btn btn-primary" type="reset" style="margin-top: -10px"><i class="icon-refresh"></i></button>
                    </form>
                </div>

            </tr>
        </table>
    </div>

    <div class='body'>

        <ul class="nav nav-tabs" id='myTab'>
            <li class="active">
                <a href="#tab-details" data-toggle="tab"><strong>{% trans "Details" %}</strong></a>
            </li>

            <li>
                <a href="#tab-qualifiers" data-toggle="tab"><strong>{% trans "Qualifiers" %}</strong></a>
            </li>

            <li>
                <a href="#tab-concepts" data-toggle="tab"><strong>{% trans "Concepts" %}</strong></a>
            </li>

            <!-- Legacy information -->
            {% if request.GET.ths == '1' and user_cc == 'BR1.1' %}
            <li>
                <a href="#tab-legacy" data-toggle="tab"><strong>{% trans "Set exclusive to BIREME" %}</strong></a>
            </li>
            {% endif %}

        </ul>

        <div class="tab-content">
            <div id="tab-details" class="tab-pane active">
                <table width="95%">
                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Descriptor record" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in term_string_info_preferred_objects %}
                            {% if obj.termdesc__status == 1 %}
                                {{ obj.termdesc__term_string }} <font color="blue">({{ obj.termdesc__language_code }})</font>
                                <a href="{% url 'edit_register_desc' obj.identifier_id %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}" title="{% trans "Edit record information, descriptions, abbreviations, hierarchical codes, pharmacological actions, related, previous indexes and Precoord" %}"><i class="icon-pencil"></i></a>
                                <br />
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Tree Number(s)" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in tree_numbers_objects %}
                            {% if obj.dtreenumbers__tree_number %}
                                {{ obj.dtreenumbers__tree_number }}<br>
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Unique ID" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.descriptor_ui }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Thesaurus ID" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.decs_code }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Indexing Annotation" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                            <table class="table table-striped">
                            {% for obj in description_objects %}
                                {% ifchanged %}
                                    {% if obj.descriptiondesc__annotation %}
                                    <tr>
                                        <td width="8%">
                                            <font color="blue">{{ obj.descriptiondesc__language_code }}</font>
                                        </td>
                                        <td>
                                            {{ obj.descriptiondesc__annotation }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endifchanged %}
                            {% endfor %}
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Definition" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                            <table class="table table-striped">
                            {% for obj in scope_note_objects %}
                                {% if obj.conceptdesc__scope_note %}
                                    {% ifchanged %}
                                    <tr>
                                        <td width="8%">
                                            <font color="blue">{{ obj.conceptdesc__language_code }}</font>
                                        </td>
                                        <td>
                                            {{ obj.conceptdesc__scope_note }}
                                        </td>
                                    </tr>
                                    {% endifchanged %}
                                {% endif %}
                            {% endfor %}
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Entry Combination" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in entrycombination_objects %}
                            {% if obj.ecin_qualif %}
                                {% ifchanged %}
                                    {{ obj.ecin_qualif }}:{{ obj.ecout_desc }}
                                    {% if obj.ecout_qualif %}
                                        /{{ obj.ecout_qualif }}
                                    {% endif %}
                                    <br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Entry Term(s)" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">

                        {% regroup entry_terms_objects by termdesc__language_code as entry_terms_objects_list %}

                        <table class="table table-striped">

                        {% for termdesc__language_code in entry_terms_objects_list %}
                            <tr>
                                <td width="8%">
                                    <font color="blue">{{ termdesc__language_code.grouper }}</font>
                                </td>
                                <td>
                                    {% for obj in termdesc__language_code.list %}
                                        {% if obj.termdesc__status != -3 %}
                                            {{ obj.termdesc__term_string }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </td>

                            </tr>

                        {% endfor %}

                        </table>

                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Pharmacological Action" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in pharmaco_objects %}
                            {% ifchanged %}
                                {% if obj.pharmacodesc__term_string %}
                                    {{ obj.pharmacodesc__term_string }} <font color="blue">({{ obj.pharmacodesc__language_code }})</font><br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Registry Number" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in identifierconceptlist_objects_preferred %}
                            {% if obj.registry_number %}
                                {% ifchanged %}
                                    {{ obj.registry_number }}<br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <!-- Related Numbers -->

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "CAS Type 1 Name" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in identifierconceptlist_objects_preferred %}
                            {% if obj.casn1_name %}
                                {% ifchanged %}
                                    {{ obj.casn1_name }}<br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Previous Indexing" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in previous_objects %}
                            {% ifchanged %}
                                {% if obj.previousdesc__previous_indexing %}
                                    {{ obj.previousdesc__previous_indexing }} <font color="blue">({{ obj.previousdesc__language_code }})</font><br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Public MeSH Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__public_mesh_note %}
                                    {{ obj.descriptiondesc__public_mesh_note }} <font color="blue">({{ obj.descriptiondesc__language_code }})</font><br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Online Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__online_note %}
                                    {{ obj.descriptiondesc__online_note }} <font color="blue">({{ obj.descriptiondesc__language_code }})</font><br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "History Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__history_note %}
                                    {{ obj.descriptiondesc__history_note }} <font color="blue">({{ obj.descriptiondesc__language_code }})</font><br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "See Also" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in related_objects %}
                            {% ifchanged %}
                                {% if obj.relateddesc__term_string %}
                                    {{ obj.relateddesc__term_string }}

                                    <!-- Utilizado para visualizar termos que foram criados pelo DeCS -->
                                    {% if user_cc == 'BR1.1' %}
                                        {% if not obj.relateddesc__descriptor_ui %}
                                            <font color="blue">DeCS</font>
                                        <!-- Tipo de codigo utilizado para registros DeCS -->
                                        {% elif obj.relateddesc__descriptor_ui|slice:":2" == 'UI' or obj.relateddesc__descriptor_ui|slice:":2" == 'DDCS' %}
                                            <font color="blue">DeCS</font>
                                        {% endif %}
                                    {% endif %}

                                    <br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Consider Also" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__consider_also %}
                                    {{ obj.descriptiondesc__consider_also }} <font color="blue">({{ obj.descriptiondesc__language_code }})</font><br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Date Established" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.date_established|default_if_none:"" }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Date of Entry" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.date_created|default_if_none:"" }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Revision Date" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.date_revised|default_if_none:"" }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                </table>


                <div class="btn-group pull-right">
                    <a href="#" data-toggle="modal" data-target="#log_modal" data-remote="/log/view/{{id_ctype_identifierdesc}}/{{id_identifierdesc}}/" class="btn"><i class="icon icon-time"></i> {% trans "Changes history" %}</a>
                </div>
                {% if object.id %}
                    {% include "modal_log.html" %}
                {% endif %}

                <a href="#top" class="glyphicon glyphicon-chevron-up"><i class="icon-arrow-up"></i></a>

            </div>

            <div id="tab-qualifiers" class="tab-pane">
                <table width="90%">

                    {% if entrycombination_objects %}
                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Entry Combination" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in entrycombination_objects %}
                            {% if obj.ecin_qualif %}
                                {% ifchanged %}
                                    {{ obj.ecin_qualif }}:{{ obj.ecout_desc }}
                                    {% if obj.ecout_qualif %}
                                        /{{ obj.ecout_qualif }}
                                    {% endif %}
                                    <br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        <br>
                        </td>
                    </tr>
                    {% endif %}

                    {% if allowable_qualifiers_objects %}
                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Allowable Qualifiers" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in allowable_qualifiers_objects %}
                            {{ obj|default_if_none:"" }}<br>
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                </table>
            </div>

            <div id="tab-concepts" class="tab-pane">

                <ul>
                    <a href="{% url 'create_concept_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_id={{ id_concept_new.identifier_id }}">
                    <i class='icon-file'></i>&nbsp;{% trans "Add concept" %}</a>
                </ul>

                {% for obj in identifierconceptlist_objects_preferred_for_concepts %}

                    <ul>

                        {% if forloop.counter == 1 %}

                            {% if obj.termdesc__concept_preferred_term == 'Y' %}
                                {% ifchanged obj.termdesc__identifier_concept_id %}

                                    <table width="100%" class="tb_concept_preferred">
                                        <tr>
                                            <td>

                                                <b>{% trans "Concept" %}</b>:
                                                {{ obj.termdesc__term_string }}&nbsp;<font color="blue">({{ obj.termdesc__language_code }})</font>
                                                <b>[ {{ obj.concept_ui }} ]</b>
                                {% endifchanged %}
                            {% endif %}

                            {% if obj.termdesc__concept_preferred_term == 'Y' and obj.preferred_concept == 'Y' and obj.termdesc__language_code %}

                                    <font color="blue"><i>&nbsp;{% trans "Preferred Concept" %}</i></font>
                                    <a href="{% url 'edit_concept_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&id={{ obj.termdesc__id }}&identifier_id={{obj.identifier_id}}" title="{% trans "Edit concept information" %}"><i class="icon-pencil"></i></a>

                                    {% if identifierconceptlist_objects %}
                                        {% if not desc_language_code %}
                                            <a href="{% url 'list_concept' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}" title="{% trans "Move this concept to another record" %}"><i class="icon-share"></i></a>
                                        {% endif %}
                                    {% endif %}

                                            </td>
                                        </tr>
                                    </table>

                            {% endif %}

                        {% endif %}

                        <ul>
                            {% ifchanged %}
                                <a href="{% url 'create_term_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}"><i class='icon-file'></i>&nbsp;{% trans "Add term" %}</a>

                                <br>
                                <b>{% trans "Term" %}</b>:
                            {% endifchanged %}

                            {% ifchanged obj.termdesc__language_code %} <!-- Faz a separação em grupo de UPs por idioma -->
                                {% if obj.termdesc__concept_preferred_term == 'N' %}
                                    <ul><hr></ul>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <font color="blue">{{ obj.termdesc__language_code }}</font>
                                {% endif %}
                            {% endifchanged %}

                            {% ifchanged obj.termdesc__id %}

                                <a class="accordion-toggle" data-toggle="collapse" data-target="#term_{{ obj.termdesc__id }}">
                                    {% if obj.termdesc__concept_preferred_term == 'Y' %}<ul>{% else %}<ul><ul>{% endif %}

                                    {{ obj.termdesc__term_string }}

                                    {% if obj.termdesc__concept_preferred_term == 'Y' %}<font color="blue">({{ obj.termdesc__language_code }})</font>{% endif %}
                                </a>
                                {% if obj.termdesc__concept_preferred_term == 'Y' %}
                                    <font color="blue"><i>&nbsp;{% trans "Preferred Term" %}</i></font>
                                {% endif %}

                                {% if obj.termdesc__status != -3 %}
                                    {% if obj.termdesc__status != 3 %}
                                        {% if desc_language_code == obj.termdesc__language_code or not desc_language_code %}
                                            <a href="{% url 'edit_term_desc' obj.termdesc__id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}" title="{% trans "Edit term information" %}"><i class="icon-pencil"></i></a>
                                        {% endif %}

                                        {% if identifierconceptlist_objects_preferred|length > 1 %}
                                            {% if obj.termdesc__concept_preferred_term == 'N' %}
                                                {% if desc_language_code == obj.termdesc__language_code or not desc_language_code %}
                                                    <a href="{% url 'list_term' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_id={{ obj.termdesc__id }}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}" title="{% trans "Move this term to another concept" %}"><i class="icon-share"></i></a>
                                                {% endif %}

                                                {% if not desc_language_code %}
                                                    <a href="{% url 'create_confirm_termdesc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_ui={{ obj.termdesc__term_ui }}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}&term_id={{ obj.termdesc__id }}" title="{% trans "Create a new record from this term" %}"><i class="icon-plus-sign"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if obj.termdesc__status %}{{ obj.termdesc__status|display_status_label }}{% endif %}

                                <ul id="term_{{ obj.termdesc__id }}" class="collapse">
                                    {% if obj.termdesc__term_ui %}{% trans "Term UI" %}: {{ obj.termdesc__term_ui }}<br>{% endif %}
                                    {% if obj.termdesc__concept_preferred_term %}{% trans "ConceptPreferredTerm" %}: {{ obj.termdesc__concept_preferred_term }}<br>{% endif %}
                                    {% if obj.termdesc__is_permuted_term %}{% trans "Is permuted" %}: {{ obj.termdesc__is_permuted_term }}<br>{% endif %}
                                    {% if obj.termdesc__lexical_tag %}{% trans "LexicalTag" %}: {{ obj.termdesc__lexical_tag }}<br>{% endif %}
                                    {% if obj.termdesc__record_preferred_term %}{% trans "RecordPreferredTerm" %}: {{ obj.termdesc__record_preferred_term }}<br>{% endif %}
                                    {% if obj.termdesc__entry_version %}{% trans "Entry Version" %}: {{ obj.termdesc__entry_version }}<br>{% endif %}
                                    {% if obj.termdesc__date_created %}{% trans "DateCreated" %}: {{ obj.termdesc__date_created }}<br>{% endif %}
                                    {% if obj.termdesc__date_altered %}{% trans "DateAltered" %}: {{ obj.termdesc__date_altered }}<br>{% endif %}
                                    {% if obj.termdesc__historical_annotation %}{% trans "History annotation" %}: {{ obj.termdesc__historical_annotation }}<br>{% endif %}
                                </ul>

                                {% if obj.termdesc__concept_preferred_term == 'Y' %}</ul>{% else %}</ul></ul>{% endif %}

                            {% endifchanged %}
                        </ul>

                    </ul>

                {% endfor %}

                {% for obj in identifierconceptlist_objects_for_concepts %}

                    <ul>

                        {% ifchanged obj.termdesc__identifier_concept_id %}

                            {% if obj.termdesc__concept_preferred_term == 'Y' %}

                                <hr>
                                <table width="100%" class="tb_concept">
                                    <tr>
                                        <td>

                                            <b>{% trans "Concept" %}</b>:
                                            {{ obj.termdesc__term_string }}&nbsp;<font color="blue">({{ obj.termdesc__language_code }})</font>
                                            <b>[ {{ obj.concept_ui }} ]</b>
                                            <font color="gray"><i>&nbsp;
                                                {% if obj.concept_relation_name == 'NRW' %}
                                                    {% trans "Narrower" %}
                                                {% endif %}

                                                {% if obj.concept_relation_name == 'BRD' %}
                                                    {% trans "BRD - Broader" %}
                                                {% endif %}

                                                {% if obj.concept_relation_name == 'REL' %}
                                                    {% trans "REL - Related but not broader or narrower" %}
                                                {% endif %}

                                                {% if obj.termdesc__status == '3' %}
                                                    {{ obj.termdesc__status|display_status_label }}
                                                {% endif %}
                                            </i></font>

                                            {% if identifierconceptlist_objects_preferred|length == 0 %}
                                                <!-- force preferred_concept=N -->
                                                <a href="{% url 'edit_concept_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&id={{ obj.termdesc__id }}&identifier_id={{obj.identifier_id}}" title="{% trans "Edit concept information" %}"><i class="icon-pencil"></i></a>
                                            {% else %}
                                                <a href="{% url 'edit_concept_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&id={{ obj.termdesc__id }}&identifier_id={{obj.identifier_id}}&preferred_concept=N" title="{% trans "Edit concept information" %}"><i class="icon-pencil"></i></a>
                                            {% endif %}

                                            {% if not desc_language_code %}
                                                <a href="{% url 'list_concept' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}" title="{% trans "Move this concept to another record" %}"><i class="icon-share"></i></a>
                                            {% endif %}

                                            {% if not desc_language_code %}
                                                <a href="{% url 'create_confirm_conceptdesc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}&concept_id={{ obj.id }}&term_id={{ obj.termdesc__id }}&created_by={{ user_id }}" title="{% trans "Create a new record from this concept" %}"><i class="icon-plus-sign"></i></a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                </table>

                            {% else %}

                                <hr>
                                <table width="100%" class="tb_concept">
                                    <tr>
                                        <td>
                                            <b>{% trans "Concept" %}</b>:&nbsp;<font color="red"><b>{% trans "Please set the preferred term for this concept" %}</b></font>&nbsp;<b>[ {{ obj.concept_ui }} ]</b>
                                        </td>
                                    </tr>
                                </table>

                            {% endif %}

                        {% endifchanged %}

                        <ul>

                        {% ifchanged %}

                            <!-- force record_preferred_term=N -->
                            <a href="{% url 'create_term_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}&record_preferred_term=N"><i class='icon-file'></i>&nbsp;{% trans "Add term" %}</a>

                            <br>
                            <b>{% trans "Term" %}</b>:
                        {% endifchanged %}

                        {% ifchanged obj.termdesc__language_code %} <!-- Faz a separação em grupo de UPs por idioma -->
                            {% if obj.termdesc__concept_preferred_term == 'N' %}
                                <ul><hr></ul>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <font color="blue">{{ obj.termdesc__language_code }}</font>
                            {% endif %}
                        {% endifchanged %}

                        {% ifchanged obj.termdesc__id %}

                            <a class="accordion-toggle" data-toggle="collapse" data-target="#term_{{ obj.termdesc__id }}">
                                {% if obj.termdesc__concept_preferred_term == 'Y' %}<ul>{% else %}<ul><ul>{% endif %}

                                {{ obj.termdesc__term_string }}

                                {% if obj.termdesc__concept_preferred_term == 'Y' %}<font color="blue">({{ obj.termdesc__language_code }})</font>{% endif %}
                            </a>

                            {% if obj.termdesc__concept_preferred_term == 'Y' %}
                                <font color="blue"><i>&nbsp;{% trans "Preferred Term" %}</i></font>
                            {% endif %}

                            {% if obj.termdesc__status != -3 %}
                                {% if obj.termdesc__status != 3 %}
                                    <!-- force record_preferred_term=N -->
                                    {% if desc_language_code == obj.termdesc__language_code or not desc_language_code %}
                                        <a href="{% url 'edit_term_desc' obj.termdesc__id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}&record_preferred_term=N" title="{% trans "Edit term information" %}"><i class="icon-pencil"></i></a>
                                    {% endif %}

                                    {% if identifierconceptlist_objects|length > 1 %}
                                        {% if obj.termdesc__concept_preferred_term == 'N' %}
                                            {% if desc_language_code == obj.termdesc__language_code or not desc_language_code %}
                                                <a href="{% url 'list_term' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_id={{ obj.termdesc__id }}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}" title="{% trans "Move this term to another concept" %}"><i class="icon-share"></i></a>
                                            {% endif %}

                                            {% if not desc_language_code %}
                                                <a href="{% url 'create_confirm_termdesc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_ui={{ obj.termdesc__term_ui }}&term_string={{ obj.termdesc__term_string }}&language_code={{ obj.termdesc__language_code }}&term_id={{ obj.termdesc__id }}" title="{% trans "Create a new record from this term" %}"><i class="icon-plus-sign"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if obj.termdesc__status %}{{ obj.termdesc__status|display_status_label }}{% endif %}

                            <ul id="term_{{ obj.termdesc__id }}" class="collapse">
                                {% if obj.termdesc__term_ui %}{% trans "Term UI" %}: {{ obj.termdesc__term_ui }}<br>{% endif %}
                                {% if obj.termdesc__concept_preferred_term %}{% trans "ConceptPreferredTerm" %}: {{ obj.termdesc__concept_preferred_term }}<br>{% endif %}
                                {% if obj.termdesc__is_permuted_term %}{% trans "Is permuted" %}: {{ obj.termdesc__is_permuted_term }}<br>{% endif %}
                                {% if obj.termdesc__lexical_tag %}{% trans "LexicalTag" %}: {{ obj.termdesc__lexical_tag }}<br>{% endif %}
                                {% if obj.termdesc__record_preferred_term %}{% trans "RecordPreferredTerm" %}: {{ obj.termdesc__record_preferred_term }}<br>{% endif %}
                                {% if obj.termdesc__entry_version %}{% trans "Entry Version" %}: {{ obj.termdesc__entry_version }}<br>{% endif %}
                                {% if obj.termdesc__date_created %}{% trans "DateCreated" %}: {{ obj.termdesc__date_created }}<br>{% endif %}
                                {% if obj.termdesc__date_altered %}{% trans "DateAltered" %}: {{ obj.termdesc__date_altered }}<br>{% endif %}
                                {% if obj.termdesc__historical_annotation %}{% trans "History annotation" %}: {{ obj.termdesc__historical_annotation }}<br>{% endif %}
                            </ul>

                            {% if obj.termdesc__concept_preferred_term == 'Y' %}</ul>{% else %}</ul></ul>{% endif %}

                        {% endifchanged %}
                        </ul>

                    </ul>

                {% endfor %}

                <a href="#top" class="glyphicon glyphicon-chevron-up"><i class="icon-arrow-up"></i></a>

            </div>

            <div id="tab-legacy" class="tab-pane" {% if user_cc != 'BR1.1' %}style="display: none;"{% endif %}>

                {% if legacy_objects %}
                    {% for obj in legacy_objects %}

                    <ul>
                        <a href="{% url 'edit_legacy_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_id={{obj.identifier_id}}"><i class="icon-pencil"></i>&nbsp;{% trans "Edit this configurations"  %}</a>

                        <table width="90%">
                            <tr>
                                <td>MeSH:<br>
                                {% if obj.mesh %}
                                <input type="checkbox" name="mesh" value="" checked="true" disabled>
                                {% else %}
                                <input type="checkbox" name="mesh" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Saude Publica:<br>
                                {% if obj.saude_publica %}
                                    <input type="checkbox" name="saude_publica" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="saude_publica" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Homeopatia:<br>
                                {% if obj.homeopatia %}
                                    <input type="checkbox" name="homeopatia" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="homeopatia" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Vigilância Sanitária:<br>
                                {% if obj.reforma_saude %}
                                    <input type="checkbox" name="reforma_saude" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="reforma_saude" value="" disabled>
                                {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>Repidisca:<br>
                                {% if obj.repidisca %}
                                    <input type="checkbox" name="repidisca" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="repidisca" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Não indexavel:<br>
                                {% if obj.nao_indexavel %}
                                    <input type="checkbox" name="nao_indexavel" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="nao_indexavel" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Pré-codificado:<br>
                                {% if obj.pre_codificado %}
                                    <input type="checkbox" name="pre_codificado" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="pre_codificado" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Exploded:<br>
                                {% if obj.exploded %}
                                    <input type="checkbox" name="exploded" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="exploded" value="" disabled>
                                {% endif %}
                                </td>

                            </tr>

                            <tr>
                                <td>Geográfico:<br>
                                {% if obj.geografico %}
                                    <input type="checkbox" name="geografico" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="geografico" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Geog DeCS:<br>
                                {% if obj.geog_decs %}
                                    <input type="checkbox" name="geog_decs" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="geog_decs" value="" disabled>
                                {% endif %}
                                </td>

                                <td>PT LILACS:<br>
                                {% if obj.pt_lilacs %}
                                    <input type="checkbox" name="pt_lilacs" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="pt_lilacs" value="" disabled=>
                                {% endif %}
                                </td>

                                <td>Desastre:<br>
                                {% if obj.desastre %}
                                    <input type="checkbox" name="desastre" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="desastre" value="" disabled>
                                {% endif %}
                                </td>

                            </tr>

                        </table>

                        <ul>

                    {% endfor %}
                {% else %}
                    <ul>

                        <a href="{% url 'create_legacy_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_id={{ id_concept_new.identifier_id }}">
                        <i class='icon-file'></i>&nbsp;{% trans "Create this configurations"  %}</a>

                        <table width="90%">
                            <tr>
                                <td>MeSH:<br><input type="checkbox" name="mesh" value="" disabled=></td>
                                <td>Saude Publica:<br><input type="checkbox" name="saude_publica" value="" disabled=""></td>
                                <td>Homeopatia:<br><input type="checkbox" name="homeopatia" value="" disabled=""></td>
                                <td>Vigilância Sanitária:<br><input type="checkbox" name="reforma_saude" value="" disabled=""></td>
                            </tr>

                            <tr>
                                <td>Repidisca:<br><input type="checkbox" name="repidisca" value="" disabled=""></td>
                                <td>Não indexavel:<br><input type="checkbox" name="nao_indexavel" value="" disabled=""></td>
                                <td>Pré-codificado:<br><input type="checkbox" name="pre_codificado" value="" disabled=""></td>
                                <td>Exploded:<br><input type="checkbox" name="exploded" value="" disabled=""></td>
                            </tr>

                            <tr>
                                <td>Geográfico:<br><input type="checkbox" name="geografico" value="" disabled=""></td>
                                <td>Geog DeCS:<br><input type="checkbox" name="geog_decs" value="" disabled=""></td>
                                <td>PT LILACS:<br><input type="checkbox" name="pt_lilacs" value="" disabled=""></td>
                                <td>Desastre:<br><input type="checkbox" name="desastre" value="" disabled=""></td>
                            </tr>

                        </table>
                    </ul>
                {% endif %}


            </div>

        </div>

        <a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}" class="btn btn-large btn-danger">{% trans "Cancel" %}</a>

    </div>


{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>

   {% if LANGUAGE_CODE != 'en' %}
       <script src="{% static ''%}js/bootstrap-datepicker.{{LANGUAGE_CODE}}.min.js"></script>
   {% endif %}


    <script language="JavaScript">
        jQuery(document).ready(function() {
            $(window).scroll(function () {
                set = $(document).scrollTop()+"px";
                jQuery('#float-banner').animate(
                    {top:set},
                    {duration:1000, queue:false}
                );
            });
        });
    </script>


   <!-- Search process -->
    <script language="JavaScript">
    <!--
    var TRange=null

    function findString (str) {
        if (parseInt(navigator.appVersion)<4) return;
        var strFound;

        if (window.find) {
    // CODE FOR BROWSERS THAT SUPPORT window.find

            strFound=self.find(str);
            if (strFound && self.getSelection && !self.getSelection().anchorNode) {
                strFound=self.find(str)
            }
            if (!strFound) {
                strFound=self.find(str,0,1)
                while (self.find(str,0,1)) continue
            }
        }
        else if (navigator.appName.indexOf("Microsoft")!=-1) {
            // EXPLORER-SPECIFIC CODE
            if (TRange!=null) {
                TRange.collapse(false)
                strFound=TRange.findText(str)
                if (strFound)
                    TRange.select()
            }
            if (TRange==null || strFound==0) {
                TRange=self.document.body.createTextRange()
                strFound=TRange.findText(str)
                if (strFound) TRange.select()
                }
            }
            else if (navigator.appName=="Opera") {
                alert ("Opera browsers not supported, sorry...")
                return;
            }
            if (!strFound) alert ('{% trans "No results found" %}')
                return;
            }


        $('#id_t1').keypress(function(e) {
            if(e.which == 13) {
              e.preventDefault();
              console.log('Não vou enviar');
            }
        });


        $(document).ready(function(){
            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('a[href="#top"]').fadeIn();
                } else {
                    $('a[href="#top"]').fadeOut();
                }
            });

            $('a[href="#top"]').click(function(){
                $('html, body').animate({scrollTop : 0},800);
                return false;
            });
        });


        var menuId = location.hash.substring(1);
        $( document ).ready(function() {
        if (menuId) {
            var menu = $('#myTab');
            var current = $("li[id='" + menuId + "']");
            if(!current.hasClass("current")){
            $('.current').removeClass('current');
            current.addClass("current");
            $('.pbox:visible').hide();
            $('#' + menuId + '.pbox').show(600);
            history.pushState(null, null, '#' + menuId);
        }
        }
        });

    //-->
    </script>

    <script>
        // Faz com que apos refresh da pagina retorne para mesma aba
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
           localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        console.log(activeTab);

        if (activeTab) {
           $('a[href="' + activeTab + '"]').tab('show');
        }

    </script>


{% endblock %}
