{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {% if object %}
        <li><a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "Edit Descriptor" %}</li>
    {% endif %}
{% endblock %}

{% block content %}

    <div class='header'>
        <table>
            <tr>
                <td valign="top">
                    <h2><i class='icon-file'></i> {% trans "Descriptors" %}</h2>
                </td>
                <td valign="top">
                    <ul>
                        {% for obj in term_string_info_preferred_objects %}
                            {{ obj.termdesc__term_string }} ({{ obj.termdesc__language_code }})<br>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class='body'>

        <ul class="nav nav-tabs" id='myTab'>
            <li class="active">
                <a href="#tab-details" data-toggle="tab"><strong>{% trans "Details" %}</strong></a>
            </li>

            <li>
                <a href="#tab-qualifiers" data-toggle="tab"><strong>{% trans "Qualifiers" %}</strong></a>
            </li>

            <li>
                <a href="#tab-concepts" data-toggle="tab"><strong>{% trans "Concepts" %}</strong></a>
            </li>

            <!-- Legacy information -->
            {% if request.GET.ths = '1' %}
            <li>
                <a href="#tab-legacy" data-toggle="tab"><strong>{% trans "Set exclusive to BIREME" %}</strong></a>
            </li>
            {% endif %}

        </ul>

        <div class="tab-content">
            <div id="tab-details" class="tab-pane active">
                <table width="90%">
                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Descriptor record" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in term_string_info_preferred_objects %}
                            {{ obj.termdesc__term_string }} ({{ obj.termdesc__language_code }})
                            <a href="{% url 'edit_register_desc' obj.identifier_id %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}"><i class="icon-pencil"></i></a>
                            <br>
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Tree Number(s)" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in tree_numbers_objects %}
                            {% if obj.dtreenumbers__tree_number %}
                                {{ obj.dtreenumbers__tree_number }}<br>
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Unique ID" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.descriptor_ui }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Thesaurus ID" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.decs_code }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Annotation" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__annotation %}
                                    {{ obj.descriptiondesc__annotation }} ({{ obj.descriptiondesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Scope Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in scope_note_objects %}
                            {% if obj.conceptdesc__scope_note %}
                                {% ifchanged %}
                                    {{ obj.conceptdesc__scope_note }} ({{ obj.conceptdesc__language_code }})<br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Entry Combination" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in entrycombination_objects %}
                            {% if obj.ecin_qualif %}
                                {% ifchanged %}
                                    {{ obj.ecin_qualif }}:{{ obj.ecout_desc }}
                                    {% if obj.ecout_qualif %}
                                        /{{ obj.ecout_qualif }}
                                    {% endif %}
                                    <br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Entry Term(s)" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in entry_terms_objects %}
                            {% if obj.termdesc__status != -3 %}
                                {{ obj.termdesc__term_string }}
                                {% if obj.termdesc__language_code %}({{ obj.termdesc__language_code }}){% endif %}
                            {% endif %}
                            <br>
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Pharm Action" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in pharmaco_objects %}
                            {% ifchanged %}
                                {% if obj.pharmacodesc__term_string %}
                                    {{ obj.pharmacodesc__term_string }} ({{ obj.pharmacodesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Registry Number" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in identifierconceptlist_objects %}
                            {% if obj.registry_number %}
                                {% ifchanged %}
                                    {{ obj.registry_number }}<br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <!-- Related Numbers -->

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "CAS Type 1 Name" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in identifierconceptlist_objects %}
                            {% if obj.casn1_name %}
                                {% ifchanged %}
                                    {{ obj.casn1_name }}<br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Previous Indexing" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in previous_objects %}
                            {% ifchanged %}
                                {% if obj.previousdesc__previous_indexing %}
                                    {{ obj.previousdesc__previous_indexing }} ({{ obj.previousdesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Public MeSH Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__public_mesh_note %}
                                    {{ obj.descriptiondesc__public_mesh_note }} ({{ obj.descriptiondesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Online Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__online_note %}
                                    {{ obj.descriptiondesc__online_note }} ({{ obj.descriptiondesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "History Note" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__history_note %}
                                    {{ obj.descriptiondesc__history_note }} ({{ obj.descriptiondesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "See Also" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in related_objects %}
                            {% ifchanged %}
                                {% if obj.relateddesc__term_string %}
                                    {{ obj.relateddesc__term_string }}<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Consider Also" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in description_objects %}
                            {% ifchanged %}
                                {% if obj.descriptiondesc__consider_also %}
                                    {{ obj.descriptiondesc__consider_also }} ({{ obj.descriptiondesc__language_code }})<br>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Date Established" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.date_established|default_if_none:"" }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Date of Entry" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.date_created|default_if_none:"" }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Revision Date" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in id_register_objects %}
                            {% ifchanged %}
                                {{ obj.date_revised|default_if_none:"" }}
                            {% endifchanged %}
                        {% endfor %}
                        </td>
                    </tr>

                </table>


                <div class="btn-group pull-right">
                    <a href="#" data-toggle="modal" data-target="#log_modal" data-remote="/log/view/{{id_ctype_identifierdesc}}/{{id_identifierdesc}}/" class="btn"><i class="icon icon-time"></i> {% trans "Changes history" %}</a>
                </div>
                {% if object.id %}
                    {% include "modal_log.html" %}
                {% endif %}


            </div>

            <div id="tab-qualifiers" class="tab-pane">
                <table width="90%">

                    {% if entrycombination_objects %}
                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Entry Combination" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in entrycombination_objects %}
                            {% if obj.ecin_qualif %}
                                {% ifchanged %}
                                    {{ obj.ecin_qualif }}:{{ obj.ecout_desc }}
                                    {% if obj.ecout_qualif %}
                                        /{{ obj.ecout_qualif }}
                                    {% endif %}
                                    <br>
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        <br>
                        </td>
                    </tr>
                    {% endif %}

                    {% if allowable_qualifiers_objects %}
                    <tr>
                        <td valign="top" align="right" width="15%"><b>{% trans "Allowable Qualifiers" %}</b></td>
                        <td>&nbsp;&nbsp;</td>
                        <td valign="top">
                        {% for obj in allowable_qualifiers_objects %}
                            {{ obj|default_if_none:"" }}<br>
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                </table>                
            </div>

            <div id="tab-concepts" class="tab-pane">

                <ul>
                    <a href="{% url 'create_concept_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_id={{ id_concept_new.identifier_id }}">
                    <i class='icon-file'></i>&nbsp;{% trans "Add concept" %}</a>
                </ul>


                {% for obj in identifierconceptlist_objects_preferred %}

                    <ul>

                    {% if obj.termdesc__concept_preferred_term == 'Y' %}
                        {% ifchanged obj.termdesc__identifier_concept_id %}
                            <b>{% trans "Concept" %}</b>:
                            <!-- <a class="accordion-toggle" data-toggle="collapse" data-target="#concept_{{ obj.termdesc__id }}"> -->
                            {{ obj.termdesc__term_string }}
                            <b>[ {{ obj.concept_ui }} ]</b>
                            <!-- </a> -->
                        {% endifchanged %}
                    {% endif %}

                    {% if obj.termdesc__concept_preferred_term == 'Y' and obj.preferred_concept == 'Y' and obj.termdesc__language_code = 'en' %}
                        {% ifchanged %}
                            <font color="blue"><i>&nbsp;{% trans "Preferred Concept" %}</i></font>
                            <a href="{% url 'edit_concept_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&id={{ obj.termdesc__id }}&identifier_id={{obj.identifier_id}}"><i class="icon-pencil"></i></a>

                            {% if identifierconceptlist_objects %}
                                <a href="{% url 'list_concept' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}"><i class="icon-share"></i>
                                </a>
                            {% endif %}

                        {% endifchanged %}
                    {% endif %}


                    <!-- <div id="concept_{{ obj.id }}" class="collapse"> -->
                        <ul>
                            {% ifchanged %}
                                <a href="{% url 'create_term_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}"><i class='icon-file'></i>&nbsp;{% trans "Add term" %}</a>
                             
                                <br>
                                <b>{% trans "Term" %}</b>:
                            {% endifchanged %}
                            
                            {% ifchanged obj.termdesc__id %}
                            <ul>
                                <a class="accordion-toggle" data-toggle="collapse" data-target="#term_{{ obj.termdesc__id }}">
                                    {{ obj.termdesc__term_string }}
                                </a>
                                {% if obj.termdesc__language_code %}({{ obj.termdesc__language_code }}){% endif %}
                                {% if obj.termdesc__concept_preferred_term == 'Y' %}
                                    <font color="blue"><i>&nbsp;{% trans "Preferred Term" %}</i></font>
                                {% endif %}

                                {% if obj.termdesc__status != -3 %}
                                    <a href="{% url 'edit_term_desc' obj.termdesc__id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}">
                                    <i class="icon-pencil"></i></a>

                                    <a href="{% url 'list_term' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_id={{ obj.termdesc__id }}">
                                    <i class="icon-share"></i></a>
                                {% endif %}

                                {{ obj.termdesc__status|display_status_label }}

                                <ul id="term_{{ obj.termdesc__id }}" class="collapse">
                                    {% if obj.termdesc__term_ui %}{% trans "Term UI" %}: {{ obj.termdesc__term_ui }}<br>{% endif %}
                                    {% if obj.termdesc__concept_preferred_term %}{% trans "ConceptPreferredTerm" %}: {{ obj.termdesc__concept_preferred_term }}<br>{% endif %}
                                    {% if obj.termdesc__is_permuted_term %}{% trans "Is permuted" %}: {{ obj.termdesc__is_permuted_term }}<br>{% endif %}
                                    {% if obj.termdesc__lexical_tag %}{% trans "LexicalTag" %}: {{ obj.termdesc__lexical_tag }}<br>{% endif %}
                                    {% if obj.termdesc__record_preferred_term %}{% trans "RecordPreferredTerm" %}: {{ obj.termdesc__record_preferred_term }}<br>{% endif %}
                                    {% if obj.termdesc__entry_version %}{% trans "Entry Version" %}: {{ obj.termdesc__entry_version }}<br>{% endif %}
                                    {% if obj.termdesc__date_created %}{% trans "DateCreated" %}: {{ obj.termdesc__date_created }}<br>{% endif %}
                                    {% if obj.termdesc__date_altered %}{% trans "DateAltered" %}: {{ obj.termdesc__date_altered }}<br>{% endif %}
                                    {% if obj.termdesc__historical_annotation %}{% trans "History annotation" %}: {{ obj.termdesc__historical_annotation }}<br>{% endif %}
                                </ul>

                            </ul>
                            {% endifchanged %}
                        </ul>

                    <!-- </div> -->

                    </ul>

                {% endfor %}


                {% for obj in identifierconceptlist_objects %}

                    <ul>

                        {% if obj.termdesc__concept_preferred_term == 'Y' %}
                            {% ifchanged obj.termdesc__identifier_concept_id %}
                                <b>{% trans "Concept" %}</b>:
                                <!-- <a class="accordion-toggle" data-toggle="collapse" data-target="#concept_{{ obj.termdesc__id }}"> -->
                                {{ obj.termdesc__term_string }}
                                <b>[ {{ obj.concept_ui }} ]</b>
                                <font color="gray"><i>&nbsp;{% trans "Narrower" %}
                                    {% if obj.termdesc__status == '3' %}
                                        {{ obj.termdesc__status|display_status_label }}
                                    {% endif %}
                                </i></font>
                                
                                <a href="{% url 'edit_concept_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&id={{ obj.termdesc__id }}&identifier_id={{obj.identifier_id}}"><i class="icon-pencil"></i></a>

                                <a href="{% url 'list_concept' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}"><i class="icon-share"></i></a>
                                <!-- </a> -->
                            {% endifchanged %}
                        {% endif %}

                    <!-- <div id="concept_{{ obj.id }}" class="collapse"> -->
                        <ul>
                            {% ifchanged %}
                                <a href="{% url 'create_term_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}"><i class='icon-file'></i>&nbsp;{% trans "Add term" %}</a>
                             
                                <br>
                                <b>{% trans "Term" %}</b>:
                            {% endifchanged %}
                            
                            {% ifchanged obj.termdesc__id %}
                            <ul>
                                <a class="accordion-toggle" data-toggle="collapse" data-target="#term_{{ obj.termdesc__id }}">
                                    {{ obj.termdesc__term_string }}
                                </a>
                                {% if obj.termdesc__language_code %}({{ obj.termdesc__language_code }}){% endif %}
                                {% if obj.termdesc__concept_preferred_term == 'Y' %}
                                    <font color="blue"><i>&nbsp;{% trans "Preferred Term" %}</i></font>
                                {% endif %}

                                {% if obj.termdesc__status != -3 %}
                                    <a href="{% url 'edit_term_desc' obj.termdesc__id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&string={{ obj.termdesc__term_string }}&lang={{obj.termdesc__language_code}}&identifier_concept_id={{ obj.termdesc__identifier_concept_id }}"><i class="icon-pencil"></i></a>

                                    <a href="{% url 'list_term' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&term_id={{ obj.termdesc__id }}">
                                    <i class="icon-share"></i></a>
                                {% endif %}

                                {{ obj.termdesc__status|display_status_label }}

                                <ul id="term_{{ obj.termdesc__id }}" class="collapse">
                                    {% if obj.termdesc__term_ui %}{% trans "Term UI" %}: {{ obj.termdesc__term_ui }}<br>{% endif %}
                                    {% if obj.termdesc__concept_preferred_term %}{% trans "ConceptPreferredTerm" %}: {{ obj.termdesc__concept_preferred_term }}<br>{% endif %}
                                    {% if obj.termdesc__is_permuted_term %}{% trans "Is permuted" %}: {{ obj.termdesc__is_permuted_term }}<br>{% endif %}
                                    {% if obj.termdesc__lexical_tag %}{% trans "LexicalTag" %}: {{ obj.termdesc__lexical_tag }}<br>{% endif %}
                                    {% if obj.termdesc__record_preferred_term %}{% trans "RecordPreferredTerm" %}: {{ obj.termdesc__record_preferred_term }}<br>{% endif %}
                                    {% if obj.termdesc__entry_version %}{% trans "Entry Version" %}: {{ obj.termdesc__entry_version }}<br>{% endif %}
                                    {% if obj.termdesc__date_created %}{% trans "DateCreated" %}: {{ obj.termdesc__date_created }}<br>{% endif %}
                                    {% if obj.termdesc__date_altered %}{% trans "DateAltered" %}: {{ obj.termdesc__date_altered }}<br>{% endif %}
                                    {% if obj.termdesc__historical_annotation %}{% trans "History annotation" %}: {{ obj.termdesc__historical_annotation }}<br>{% endif %}
                                </ul>

                            </ul>
                            {% endifchanged %}
                        </ul>

                    <!-- </div> -->

                    </ul>

                {% endfor %}
            </div>

            <div id="tab-legacy" class="tab-pane">


                {% if legacy_objects %}
                    {% for obj in legacy_objects %}

                    <ul>
                        <a href="{% url 'edit_legacy_desc' obj.id %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_id={{obj.identifier_id}}"><i class="icon-pencil"></i>&nbsp;{% trans "Edit this configurations"  %}</a>

                        <table width="90%">
                            <tr>
                                <td>MeSH:<br>
                                {% if obj.mesh %}
                                <input type="checkbox" name="mesh" value="" checked="true" disabled>
                                {% else %}
                                <input type="checkbox" name="mesh" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Saude Publica:<br>
                                {% if obj.saude_publica %}
                                    <input type="checkbox" name="saude_publica" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="saude_publica" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Homeopatia:<br>
                                {% if obj.homeopatia %}
                                    <input type="checkbox" name="homeopatia" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="homeopatia" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Reforma Saude:<br>
                                {% if obj.reforma_saude %}
                                    <input type="checkbox" name="reforma_saude" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="reforma_saude" value="" disabled>
                                {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>Repidisca:<br>
                                {% if obj.repidisca %}
                                    <input type="checkbox" name="repidisca" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="repidisca" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Não indexavel:<br>
                                {% if obj.nao_indexavel %}
                                    <input type="checkbox" name="nao_indexavel" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="nao_indexavel" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Pré-codificado:<br>
                                {% if obj.pre_codificado %}
                                    <input type="checkbox" name="pre_codificado" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="pre_codificado" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Exploded:<br>
                                {% if obj.exploded %}
                                    <input type="checkbox" name="exploded" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="exploded" value="" disabled>
                                {% endif %}
                                </td>

                            </tr>

                            <tr>
                                <td>Geográfico:<br>
                                {% if obj.geografico %}
                                    <input type="checkbox" name="geografico" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="geografico" value="" disabled>
                                {% endif %}
                                </td>

                                <td>Geog DeCS:<br>
                                {% if obj.geog_decs %}
                                    <input type="checkbox" name="geog_decs" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="geog_decs" value="" disabled>
                                {% endif %}
                                </td>

                                <td>PT LILACS:<br>
                                {% if obj.pt_lilacs %}
                                    <input type="checkbox" name="pt_lilacs" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="pt_lilacs" value="" disabled=>
                                {% endif %}
                                </td>

                                <td>Desastre:<br>
                                {% if obj.desastre %}
                                    <input type="checkbox" name="desastre" value="" checked="true" disabled>
                                {% else %}
                                    <input type="checkbox" name="desastre" value="" disabled>
                                {% endif %}
                                </td>

                            </tr>

                        </table>

                        <ul>

                    {% endfor %}
                {% else %}
                    <ul>

                        <a href="{% url 'create_legacy_desc' %}/?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&identifier_id={{ id_concept_new.identifier_id }}">
                        <i class='icon-file'></i>&nbsp;{% trans "Create this configurations"  %}</a>

                        <table width="90%">
                            <tr>
                                <td>MeSH:<br><input type="checkbox" name="mesh" value="" disabled=></td>
                                <td>Saude Publica:<br><input type="checkbox" name="saude_publica" value="" disabled=""></td>
                                <td>Homeopatia:<br><input type="checkbox" name="homeopatia" value="" disabled=""></td>
                                <td>Reforma Saude:<br><input type="checkbox" name="reforma_saude" value="" disabled=""></td>
                            </tr>

                            <tr>
                                <td>Repidisca:<br><input type="checkbox" name="repidisca" value="" disabled=""></td>
                                <td>Não indexavel:<br><input type="checkbox" name="nao_indexavel" value="" disabled=""></td>
                                <td>Pré-codificado:<br><input type="checkbox" name="pre_codificado" value="" disabled=""></td>
                                <td>Exploded:<br><input type="checkbox" name="exploded" value="" disabled=""></td>
                            </tr>

                            <tr>
                                <td>Geográfico:<br><input type="checkbox" name="geografico" value="" disabled=""></td>
                                <td>Geog DeCS:<br><input type="checkbox" name="geog_decs" value="" disabled=""></td>
                                <td>PT LILACS:<br><input type="checkbox" name="pt_lilacs" value="" disabled=""></td>
                                <td>Desastre:<br><input type="checkbox" name="desastre" value="" disabled=""></td>
                            </tr>

                        </table>
                    </ul>
                {% endif %}


            </div>

        </div>

        <a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}" class="btn btn-large btn-danger">{% trans "Cancel" %}</a>

    </div>


{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>

   {% if LANGUAGE_CODE != 'en' %}
       <script src="{% static ''%}js/bootstrap-datepicker.{{LANGUAGE_CODE}}.min.js"></script>
   {% endif %}

{% endblock %}