{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {% if not object %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "New Descriptor" %}</li>
    {% else %}
        <li><a href="{% url 'list_descriptor' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
        <li>{% trans "Edit Descriptor" %}</li>
    {% endif %}
{% endblock %}


{% block content %}

    <!-- header -->
    <div class='header'>
        <h2><i class='icon-book'></i>
            {% if object %}
                {% trans "Edit Descriptor" %}&nbsp;:&nbsp;{{ form.term_string.value }} ({{ form.language_code.value }})
            {% endif %}</h2>
    </div>
    <!-- header -->

    <div class='body'>


        <form method="post">{% csrf_token %}

            <input type="hidden" name="language_system" value="{{ language_system }}">

            {{ form.non_field_errors.as_ul }}

            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                {% endif %}
            {% endfor %}


            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <table class="termlistdescn" border="0">

                <td colspan="5">
                    {{ form.status.label_tag }}
                    {{ form.status }}
                    <a href="{% url 'delete_termlistqualif' form.instance.pk %}/?identifier_id={{form.instance.identifier_id}}&term_string={{form.term_string.value}}&language_code={{form.language_code.value}}" class='btn btn-primary'><i class='icon-file'></i>{% trans "delete" %}</a>
                </td>

                <tr>
                    <td colspan="2" class="term_string" width="40%">
                        <label for="term_string">{{ form.term_string.label_tag }}</label>
                    </td>
                    <td>{{ form.language_code.label_tag }}</td>
                    <td>{{ form.term_ui.label_tag }}</td>
                    <td>{{ form.date_created.label_tag }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="term_string" width="40%">
                        {{ form.term_string }}
                    </td>
                    <td>
                        {{ form.language_code }}
                    </td>
                    <td>{{ form.term_ui }}</td>
                    <td>
                        <!-- {{ form.date_created }} -->
                        <input id="id_date_created" name="date_created" value="{{ form.date_created.value|date:"d/m/Y" }}" type="text" readonly>
<!--     <input id="id_termdesc-{{ forloop.counter0 }}-date_created" name="termdesc-{{ forloop.counter0 }}-date_created" type="text" value="{{ form.date_created.value|date:"d/m/Y"}}" onkeyup="mascara(this, mdata);" maxlength="10">
 -->
                    </td>


                </tr>
                <tr>
                    <td>{{ form.concept_preferred_term.label_tag }}</td>
                    <td>{{ form.is_permuted_term.label_tag }}</td>
                    <td>{{ form.lexical_tag.label_tag }}</td>
                    <td>{{ form.record_preferred_term.label_tag }}</td>
                    <td>{{ form.entry_version.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.concept_preferred_term }}</td>
                    <td>{{ form.is_permuted_term }}</td>
                    <td>{{ form.lexical_tag }}</td>
                    <td>{{ form.record_preferred_term }}</td>
                    <td>{{ form.entry_version }}</td>
                </tr>

                <tr>
                    <td colspan="4" width="100%">{{ form.historical_annotation.label_tag }}</td>
                    <td>{{ form.date_altered.label_tag }}</td>
                </tr>
                <tr>
                    <td colspan="4" width="100%">{{ form.historical_annotation }}</td>
                    <td valign="top">
                        {{ form.date_altered }}
                    </td>
                </tr>

            </table>

            <div class="control-panel form-submit">
               
                <a href="{% url 'edit_qualifier' form.instance.identifier_id %}" class="btn btn-large btn-danger">{% trans "Back" %}</a>
                <button class="btn btn-primary btn-large">{% trans "Save" %}</button>

            </div>

        </form>
    </div>

{% endblock %}
