{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="">
        {% trans "Thesaurus" %}

        {% if choiced_thesaurus_name %}
            {% for obj in choiced_thesaurus_name %}
                {{ obj.thesaurus_name }}
            {% endfor %}
        {% else %}
            {% if actions.choiced_thesaurus_name %}
                {{ actions.choiced_thesaurus_name }}
            {% endif %}
        {% endif %}
        </a>
    </li>
{% endblock %}

{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type="hidden" name="filter_language" value="{{ actions.filter_language }}">
    <input type="hidden" name="filter_fields" value="{{ actions.filter_fields }}">
    <input type="hidden" name="filter_status" value="{{ actions.filter_status }}">
    <input type="hidden" name="visited" value="{{ actions.visited }}">
    <input type='hidden' name="s" value="{{ actions.s }}">
    <input type='hidden' name="exact" value="{{ actions.exact }}">
    <input type='hidden' name="choiced_thesaurus" value="{{ actions.choiced_thesaurus }}">
    <input type='hidden' name="choiced_thesaurus_name" value="{{ actions.choiced_thesaurus_name }}">
</form>

<!--  header -->
<div class='header'>
    <h2>
        <i class='icon-file'></i> {% trans "Qualifiers" %}
        {% if paginator.count %}
        <span class="badge badge-info" style="vertical-align: middle;">{{ paginator.count }}</span>
        {% endif %}
    </h2>

    <div class='pull-right'>
        <a href="{% url 'chk_termqualif' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}&thesaurus_name={% if choiced_thesaurus_name %}{% for obj in choiced_thesaurus_name %}{{ obj.thesaurus_name }}{% endfor %}{% endif %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "Add new record for Qualifier" %}</a>
    </div>

</div>

<div class='body'>    
    
    <ul class="nav nav-tabs" id='tab'>
        <li class="">
            <a href="{% url 'list_descriptor' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}"><strong>{% trans "Descriptors" %}</strong></a>
        </li>
        <li class="active">
            <a href="{% url 'list_qualifier' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}"><strong>{% trans "Qualifiers" %}</strong></a>
        </li>
    </ul>

    <div class="row">
        <div class="span12">
            <form name="search" method="GET">

                <input type='hidden' name="choiced_thesaurus" value="{% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
                <input type='hidden' name="choiced_thesaurus_name" value="{% if request.GET.choiced_thesaurus_name %}{{ request.GET.choiced_thesaurus_name }}{% else %}{% if choiced_thesaurus_name %}{% for obj in choiced_thesaurus_name %}{{ obj.thesaurus_name }}{% endfor %}{% endif %}{% endif %}">

                <input type="hidden" name="page" value="">
                <input type="hidden" name="visited" value="ok">

                <input type='text' name="s" value="{{ actions.s }}" placeholder="{% trans "Search" %}">&nbsp;

                {% trans "Fields" %}:
                <select name="filter_fields">
                    <option value="">---</option>
                    <option value="term_string" {% if actions.filter_fields == 'term_string' %}selected="true"{% endif %}>{% trans "All qualifiers concepts" %}</option>
                    <option value="concept" {% if actions.filter_fields == 'concept' %}selected="true"{% endif %}>{% trans "Preferred concepts only" %}</option>
                    <option value="abbreviation" {% if actions.filter_fields == 'abbreviation' %}selected="true"{% endif %}>{% trans "Abbreviation" %}</option>
                    <option value="qualifier_ui" {% if actions.filter_fields == 'qualifier_ui' %}selected="true"{% endif %}> {% trans "MESH Qualifier UI" %}</option>
                    <option value="decs_code" {% if actions.filter_fields == 'decs_code' %}selected="true"{% endif %}>{% trans "DeCS Qualifier UI" %}</option>
                    <option value="tree_number" {% if actions.filter_fields == 'tree_number' %}selected="true"{% endif %}>{% trans "Tree Number" %}</option>
                </select>

                {% trans "Status" %}:
                <select name="filter_status">
                    <option value="">{% trans "All" %}</option>
                    <option value="-1" {% if actions.filter_status == '-1' %}selected="true"{% endif %}>{% trans "Draft" %}</option>
                    <option value="1" {% if actions.filter_status == '1' %}selected="true"{% endif %}>{% trans "Published" %}</option>
                    <option value="3" {% if actions.filter_status == '3' %}selected="true"{% endif %}>{% trans "Deleted" %}</option>
                    <option value="5" {% if actions.filter_status == '5' %}selected="true"{% endif %}>{% trans "Historical" %}</option>
                </select>

                {% trans "Language" %}:
                <select name="filter_language">
                    <option value="">{% trans "All" %}</option>
                    <option value="en" {% if actions.filter_language == 'en' %}selected="true"{% endif %}>{% trans "English" %}</option>
                    <option value="es" {% if actions.filter_language == 'es' %}selected="true"{% endif %}>{% trans "Spanish Latin America" %}</option>
                    <option value="pt-br" {% if actions.filter_language == 'pt-br' %}selected="true"{% endif %}>{% trans "Portuguese" %}</option>
                    <option value="es-es" {% if actions.filter_language == 'es-es' %}selected="true"{% endif %}>{% trans "Spanish Spain" %}</option>
                    <option value="fr" {% if actions.filter_language == 'fr' %}selected="true"{% endif %}>{% trans "French" %}</option>
                </select>

                <button class="btn btn-primary" type="submit" style="margin-top: -10px"><i class="icon-search"></i></button>
                <br>
                {% trans "Exact Match" %}
                <input type="checkbox" name="exact" value="exact" {% if actions.exact %} checked="true"{% endif %}>

            </form>
        </div>
    </div>


    <div class="tab-pane active" id="tab-qualifier">

        <div>
            <table class='table'>

                {% if actions.visited %}

                    <thead>
                        <th width="90%">
                            <a href="javascript:orderby('term_string');" id="id_term_string">
                            {% if not actions.filter_fields == 'term_string' %}
                                {% trans "Qualifier Name" %}
                            {% else %}
                                {% trans "Term Name" %}
                            {% endif %}
                            </a>
                        </th>

                        <!-- <th><a href="javascript:orderby('abbreviation');" id="id_abbreviation">{% trans "Abbreviation" %}</a></th> -->
                        <!-- <th><a href="javascript:orderby('qualifier_ui');" id="id_qualifier_ui">{% trans "MESH Qualifier UI" %}</a></th> -->
                        <!-- <th><a href="javascript:orderby('decs_code');" id="id_decs_code">{% trans "DeCS Qualifer UI" %}</a></th> -->
                        <th width="10%"><a href="javascript:orderby('status');" id="id_status">{% trans "Status" %}</a></th>
                    </thead>
                    <tbody>
                        {% for obj in registers %}
                            <tr>
                                <td>
                                    {% if obj.term_string %}
                                        {% if obj.term_string %}
                                            {{ obj.term_string }} ({{ obj.language_code }})
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ obj.status|display_status_label }}
                                    <a href="{% url 'detail_qualifier' obj.id %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}" class='btn btn-mini'><i class='icon-search'></i></a>
                                </td>
                            </tr>

                            {% empty %}
                                {% if actions.visited %}
                                    <tr>
                                        <td colspan="5">{% trans "No results found" %}</td>
                                    </tr>
                                {% endif %}

                        {% endfor %}
                    </tbody>

                {% else %}

                    {% if last_created_objects_list %}
                        <h3>{% trans "Last additions" %}</h3>

                        <ul>
                            {% for obj in last_created_objects_list %}
                                <a href="{% url 'detail_qualifier' obj.id %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
                                {{ obj.term_string }}  ({{ obj.language_code }})</a>
                                {% if obj.date_created %} - {{ obj.date_created}}{% endif %}
                                {{ obj.status|display_status_label }}
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <br>

                    {% if last_altered_objects_list %}
                        <h3>{% trans "Last modified" %}</h3>
                        <ul>
                            {% for obj in last_altered_objects_list %}
                                <a href="{% url 'detail_qualifier' obj.id %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
                                {{ obj.term_string }}  ({{ obj.language_code }})</a>
                                {% if obj.date_created %} - {{ obj.date_created}}{% endif %}
                                {{ obj.status|display_status_label }}
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}

                {% endif %}

            </table>

            {% include "pagination_generic.html" %}

        </div>

    </div>

</div>

{% endblock %}
