{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'list_qualifier' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}">
        {% trans "Thesaurus" %}
        {% if choiced_thesaurus_name %}
            {% for obj in choiced_thesaurus_name %}
                {{ obj.thesaurus_name }}
            {% endfor %}
        {% endif %}
        </a>
        <span class="divider">/</span>
    </li>
    <li>{% trans "New Term" %}</li>
{% endblock %}

{% block content %}

    <!-- header -->
    <div class='header'>
        <h3><i class='icon-book'></i>
            {% if not object %}
                {% trans "Creates information for the new Term" %}
            {% endif %}
        </h3>
    </div>
    <!-- header -->

    <div class='body'>

        {% if msg_erro %}
            <ul class="errorlist alert alert-error"><li>{{ msg_erro }}</li></ul>
        {% endif  %}

        <form method="post">{% csrf_token %}

            <input type="hidden" id="id_identifier_concept_id" name="identifier_concept_id" value="{{ request.GET.identifier_concept_id }}">

            <!-- term_thesaurus -->
            <input type="hidden" id="id_term_thesaurus" name="term_thesaurus" value="{{ request.GET.ths }}">

            {{ form.non_field_errors.as_ul }}

            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                {% endif %}
            {% endfor %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <!-- termlistqualif -->
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#termlistqualif">{% trans "Term information" %}</a>
                </div>
                <ul>
                    <table class="termlistqualif">

                        <td colspan="5">
                            {{ form.status.label_tag }}
                            <!-- {{ form.status }} -->
                            <select id="id_status" name="status">
                                <option value="-1" selected="selected">{% trans "Draft" %}</option>
                                <option value="1">{% trans "Published" %}</option>
                            </select>
                        </td>


                        <tr>
                            <td colspan="2" class="term_string" width="40%">
                                <label for="term_string">{{ form.term_string.label_tag }}</label>
                            </td>
                            <td>{{ form.language_code.label_tag }}</td>
                            <td>{{ form.date_created.label_tag }}</td>
                            <td colspan="1">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="term_string" width="40%">
                                {{ form.term_string }}
                            </td>
                            <td>
                                {{ form.language_code }}
                            </td>
                            <td>
                                <input id="id_termqualif-0-date_created" name="termqualif-0-date_created" type="text" value="{% now "d/m/Y" %}" maxlength="10">
                            </td>
                            <td colspan="1">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>{{ form.concept_preferred_term.label_tag }}</td>
                            <td>{{ form.is_permuted_term.label_tag }}</td>
                            <td>{{ form.lexical_tag.label_tag }}</td>
                            <td>{{ form.record_preferred_term.label_tag }}</td>
                            <td>{{ form.entry_version.label_tag }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.concept_preferred_term }}</td>
                            <td>{{ form.is_permuted_term }}</td>
                            <td>{{ form.lexical_tag }}</td>
                            <td>{{ form.record_preferred_term }}</td>
                            <td>{{ form.entry_version }}</td>
                        </tr>

                        <tr>
                            <td colspan="4" width="100%">{{ form.historical_annotation.label_tag }}</td>
                            <td colspan="1">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="4" width="100%">{{ form.historical_annotation }}</td>
                            <td colspan="1">&nbsp;</td>
                        </tr>

                    </table>
                </ul>
            </div>

            <div class="control-panel form-submit">
                <a href="{% url 'list_qualifier' %}?ths={% if request.GET.ths %}{{ request.GET.ths }}{% else %}{{ actions.choiced_thesaurus }}{% endif %}" class="btn btn-large btn-danger">{% trans "Cancel" %}</a>
                <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
            </div>

        </form>
    </div>

{% endblock %}
