{% extends "base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{% if not object %}
		<li><a href="{% url 'list_qualifier' %}">{% trans "Thesaurus" %}</a>
		<span class="divider">/</span></li>
		<li>{% trans "New Qualifier" %}</li>
	{% else %}
        <li><a href="{% url 'list_qualifier' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
		<li>{% trans "Edit Qualifier" %}</li>
	{% endif %}
{% endblock %}

{% block content %}

<!--  header -->
<div class='header'>
    <h2><i class='icon-book'></i>
    	{% if not object %}
    		{% trans "New Qualifier" %}
    		{% if next_id %}
    			 - ID: {{ next_id }}
    		{% endif %}
        {% else %}
            {% trans "Edit Qualifier" %}
            {% for qualif in formset_descriptor %}
                <input type="hidden" name="qualifier_info" value="{{ qualifier_info }}">
                {% if qualifier_info == qualif.language_code.value %}
                    : {{ qualif.qualifier_name.value }}
                {% endif %}
            {% endfor %}
        {% endif %}</h2>
</div>


<div class='body'>


{% if form.errors or formset_descriptor.errors or formset_category.errors or formset_concept.errors or formset_term.errors %}
    <ul class="errorlist alert alert-error">
        <li>{% trans "Please check required fields" %}</li>
    </ul>
{% endif %}

    <ul class="nav nav-tabs" id='tab'>
            <li>
                <a href="#tab-identifierqualif" class="{% if form.errors and not form.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Identifier" %}</strong></a>
            </li>
            <li>
                <a href="#tab-descriptionqualif" class="{% if formset_descriptor.errors and not formset_descriptor.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Description" %}</strong></a>
            </li>
            <li>
                <a href="#tab-treenumberslistqualif" class="{% if formset_category.errors and not formset_category.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Category" %}</strong></a>
            </li>
            <li>
                <a href="#tab-conceptlistqualif" class="{% if formset_concept.errors and not formset_concept.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Concept List" %}</strong></a>
            </li>
            <li>
                <a href="#tab-termlistqualif" class="{% if formset_term.errors and not formset_term.is_valid %}alert-error{% endif %}" data-toggle="tab"><strong>{% trans "Terms" %}</strong></a>
            </li>


    </ul>


    <form method="POST" enctype="multipart/form-data" class="act-form">
    {% csrf_token %}

        <div class="tab-content">

            <div id="tab-identifierqualif" class="tab-pane active">
                <fieldset id="identifierqualif">

                    {{ form.non_field_errors.as_ul }}

                    {% for field in form.visible_fields %}
                        {% if field.errors %}
                            <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                        {% endif %}
                    {% endfor %}


                    <table class="identifierqualif">
                        <thead>
                            <th>{{ form.thesaurus.label }}</th>
                            <th>{{ form.abbreviation.label }}</th>
                            <th>{{ form.status.label }}</th>
                        </thead>
                        <tr>
                            <td>{{ form.thesaurus }}</td>
                            <td><center>{{ form.abbreviation }}</center></td>
                            <td><center>{{ form.status }}</center></td>
                        </tr>
                        <thead>
                            <th>{{ form.qualifier_ui.label }}</th>
                            <th>{{ form.decs_code.label }}</th>
                            <th>{{ form.external_code.label }}</th>
                        </thead>
                        <tr>
                            <td>{{ form.qualifier_ui }}</td>
                            <td>{{ form.decs_code }}</td>
                            <td>{{ form.external_code }}</td>
                        </tr>
                        <thead>
                            <th>{{ form.date_created.label }}
                                <font color="#999"><i>{{ form.date_created.help_text }}</i></font>
                            </th>
                            <th>{{ form.date_revised.label }}
                                <font color="#999"><i>{{ form.date_revised.help_text }}</i></font>
                            </th>
                            <th>{{ form.date_established.label }}
                                <font color="#999"><i>{{ form.date_established.help_text }}</i></font>
                            </th>
                        </thead>
                        <tr>
                            <td>{{ form.date_created }}</td>
                            <td>{{ form.date_revised }}</td>
                            <td>{{ form.date_established }}</td>
                        </tr>
                    </table>
                </fieldset>
            </div>


            <div id="tab-descriptionqualif" class="tab-pane">
                <fieldset id="descriptionqualif">

                    {{ formset_descriptor.management_form }}

                    {% for form in formset_descriptor %}

                        {{ form.non_field_errors.as_ul }}

                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                            {% endif %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                    <table class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#descriptionqualif_{{ form.instance.pk }}">
                            <font size="2">
                                {% if form.instance.pk %}
                                    <font color="#333">
                                    <b>{{ form.qualifier_name.value }} ({{ form.language_code.value }})</b>
                                    </font>
                                {% else %}
                                    {% trans 'New Record' %}
                                {% endif %}
                            </font>
                        </a>
                    </table>

                    <div id="descriptionqualif_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">

                        <table class="descriptionqualif">
                            <tr>

                            {% if form.instance.pk %}
                                <td colspan="4" class="td-r-del">
                                    {% trans 'Remove' %}? {{ form.DELETE }}
                                </td>
                            {% else %}
                                <td colspan="4" class="term-origin">&nbsp;
                                </td>
                            {% endif %}

                        <input name="{{descriptionqualif}}_DELETE" id="id_{{descriptionqualif}}_DELETE" type="hidden">

                                </td>
                            </tr>
                            <tr>
                                <td class="td-r">{{ form.qualifier_name.label_tag }}</td>
                                <td class="td-l">
                                {{ form.qualifier_name }}
                                </td>
                                <td class="td-r">{{ form.language_code.label_tag }}</td>
                                <td class="td-l">
                                {{ form.language_code }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r" colspan="1">{{ form.annotation.label_tag }}</td>
                                <td colspan="3">
                                {{ form.annotation }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r" colspan="1">{{ form.history_note.label_tag }}</td>
                                <td colspan="3">
                                {{ form.history_note }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r" colspan="1">{{ form.online_note.label_tag }}</td>
                                <td colspan="3">
                                {{ form.online_note }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-r" colspan="1">{{ form.scope_note.label_tag }}</td>
                                <td colspan="3">
                                {{ form.scope_note }}
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                    {% endfor %}
                </fieldset>
            </div>


            <div id="tab-treenumberslistqualif" class="tab-pane">
                <fieldset id="treenumberslistqualif">

                    <table class="treenumberslistqualif">
                        <thead>
                            <th>{% trans "Tree Numbers List" %}</th>
                            <th>{% trans "Delete?" %}</th>
                        </thead>
                        <tbody>
                        {{ formset_category.management_form }}

                        {% for form in formset_category %}

                            {{ form.non_field_errors.as_ul }}

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr id="category-{{ forloop.counter0 }}" class="category-row{% if form.errors %} error{% endif %} formset-row">
                                {% for field in form.visible_fields %}
                               <input type="hidden" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="0" class="keep-field-value" />
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>


            <div id="tab-conceptlistqualif" class="tab-pane">

                <fieldset id="conceptlistqualif">

                    {{ formset_concept.management_form }}
                    {% for form in formset_concept %}

                        {{ form.non_field_errors.as_ul }}

                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                            {% endif %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                    <table class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#conceptlistqualif_{{ form.instance.pk }}">
                            <font size="2">
                                {% if form.instance.pk %}
                                    <font color="#333">
                                    <b>{{ form.concept_name.value }} ({{ form.language_code.value }})</b>
                                    </font>
                                {% else %}
                                    {% trans 'New Record' %}
                                {% endif %}
                            </font>
                        </a>
                    </table>

                    <div id="conceptlistqualif_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">

                        <table class="conceptlistqualif" border="0">
                            <tr>

                            {% if form.instance.pk %}
                                <td colspan="4" class="td-r-del">
                                    {% trans 'Remove' %}? {{ form.DELETE }}
                                </td>
                            {% else %}
                                <td colspan="4" class="term-origin">&nbsp;
                                </td>
                            {% endif %}

                            <input name="{{conceptlistqualif}}_DELETE" id="id_{{conceptlistqualif}}_DELETE" type="hidden">

                                </td>
                            </tr>

                            <tr>
                                <td>{{ form.concept_name.label_tag }}</td>
                                <td>{{ form.language_code.label_tag }}</td>
                                <td>{{ form.concept_ui.label_tag }}</td>
                                <td>{{ form.preferred_concept.label_tag }}</td>
                            </tr>
                            <tr>
                                <td class="concept_name">{{ form.concept_name }}</td>
                                <td>{{ form.language_code }}</td>
                                <td>{{ form.concept_ui }}</td>
                                <td>{{ form.preferred_concept }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ form.casn1_name.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="casn1">{{ form.casn1_name }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ form.scope_note.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="casn1">{{ form.scope_note }}</td>
                            </tr>

                            <tr>
                                <td colspan="4">{{ form.registry_number.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ form.registry_number }}</td>
                            </tr>


                        </table>
                        <br>
                    </div>
                    {% endfor %}
                </fieldset>

            </div>


            <div id="tab-termlistqualif" class="tab-pane">
                <fieldset id="termlistqualif">

                    {{ formset_term.management_form }}
                    {% for form in formset_term %}

                        {{ form.non_field_errors.as_ul }}

                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <font color="red"><b>{{ field.label }}</b></font>{{ field.errors }}
                            {% endif %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                    <table class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#termlistqualif_{{ form.instance.pk }}">
                            <font size="2">
                                {% if form.instance.pk %}
                                    <font color="#333">
                                    <b>{{ form.term_string.value }} ({{ form.language_code.value }})</b>
                                    </font>
                                {% else %}
                                    {% trans 'New Record' %}
                                {% endif %}
                            </font>
                        </a>
                    </table>

                    <div id="termlistqualif_{{ form.instance.pk }}" class="{% if not form.errors %} panel-collapse collapse {% else %} error {% endif %}">

                        <table class="termlistqualif" border="0">
                            <tr>

                            {% if form.instance.pk %}
                                <td colspan="5" class="td-r-del">
                                    {% trans 'Remove' %}? {{ form.DELETE }}
                                </td>
                            {% else %}
                                <td colspan="5" class="term-origin">&nbsp;
                                </td>
                            {% endif %}

                            <input name="{{termlistqualif}}_DELETE" id="id_{{termlistqualif}}_DELETE" type="hidden">

                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" class="term_string" width="40%">{{ form.term_string.label_tag }}</td>
                                <td>{{ form.language_code.label_tag }}</td>
                                <td>{{ form.term_ui.label_tag }}</td>
                                <td>{{ form.date_created.label_tag }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="term_string" width="40%">{{ form.term_string }}</td>
                                <td>{{ form.language_code }}</td>
                                <td>{{ form.term_ui }}</td>
                                <td>{{ form.date_created }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.concept_preferred_term.label_tag }}</td>
                                <td>{{ form.is_permuted_term.label_tag }}</td>
                                <td>{{ form.lexical_tag.label_tag }}</td>
                                <td>{{ form.record_preferred_term.label_tag }}</td>
                                <td>{{ form.entry_version.label_tag }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.concept_preferred_term }}</td>
                                <td>{{ form.is_permuted_term }}</td>
                                <td>{{ form.lexical_tag }}</td>
                                <td>{{ form.record_preferred_term }}</td>
                                <td>{{ form.entry_version }}</td>
                            </tr>
                        </table>
                        <br>
                    </div>
                    {% endfor %}

                </fieldset>

        </div>

        <div class="control-panel form-submit">
            <a href="{% url 'list_qualifier' %}" class="btn btn-large btn-danger">{% trans "Back" %}</a>
            <button class="btn btn-primary btn-large">{% trans "Save" %}</button>

            {% if messages %}
                {% for message in messages %}
                    <font color="#333" size="4">
                        <b>{% trans "Registry successfully saved" %}</b>
                    </font>
                {% endfor %}
            {% endif %}

        </div>

    </form>
</div>

{% endblock %}


{% block extrajs %}
   <script src="{% static 'js/jquery.formset.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-collapse.js' %}"></script>

    <script type="text/javascript">

        $(function() {

            $('.category-row').formset({
                    addText : '{% trans "Add Tree Number" %}',
                    deleteText: '{% trans "delete" %}',
                    addCssClass : 'icon-plus-sign btn',
                    deleteCssClass : 'btn',
                    keepFieldValues: '.keep-field-value',
                    formCssClass: 'category_formset',
                    prefix: '{{ formset_category.prefix }}'
            });


            $('[id^="id_treenumberslistqualif_set-"]').on('blur', function() {
                val = $(this).val();
                $(this).val(val.replace(/\s/g, ''));

                tam = val.length;
                // alert(tam);
                if( tam % 2 !== 0 ){
                    // É impar
                    // alert("Impar "+tam);
                    // Verifica quantidade de pontos
                    qtd_pontos = ((tam + 1) / 4) - 1;
                    // alert('Numero de pontos:'+qtd_pontos);
                    if ( !( (parseFloat(qtd_pontos) == parseInt(qtd_pontos)) && !isNaN(qtd_pontos) ) ) {
                        // alert("Não é inteiro"+qtd_pontos)
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    } else {
                        $(this).val;
                    }

                } else {
                    // se eh par está errado
                    if ( tam != 0 ){
                        alert('{% trans "Warning" %}: '+$(this).val());
                        return false
                    }
                }
            });


            $('.act-form').on('submit', function() {
                if (confirm('{% trans "Save" %}?')) {
                    return true;
                } else {
                    return false;
                }
            });


            $('[id$="-DELETE"]').on('click', function() {
                val = $(this).val();
                if (confirm('{% trans "Delete" %}?')) {
                    return true;
                } else {
                    return false;

                }
            });

            
            // // Alerta sobre não preenchimento
            // $('[id^="qualifiers-"]').on('blur', function() {
            //     val = $(this).val();
            //     if ( val == '' ){
            //         alert('{% trans "Warning" %}');
            //         return false;
            //     }
            // });


        })
   </script>

{% endblock %}