{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}


{% block breadcrumb %}
	{% if not object %}
		<li><a href="{% url 'list_qualifier' %}">{% trans "Thesaurus" %}</a>
		<span class="divider">/</span></li>
		<li>{% trans "New Qualifier" %}</li>
	{% else %}
        <li><a href="{% url 'list_qualifier' %}">{% trans "Thesaurus" %}</a>
        <span class="divider">/</span></li>
		<li>{% trans "Edit Qualifier" %}</li>
	{% endif %}
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>


<!--  header -->
<div class='header'>
    <h2><i class='icon-book'></i>
    	{% if not object %}
    		{% trans "New Qualifier" %}
    		{% if next_id %}
    			 - ID: {{ next_id }}
    		{% endif %}

        {% else %}

            {% trans "Edit Qualifier" %}

            {% for qualif in formset_descriptor %}
                {% if qualifier_info == qualif.language_code.value %}
                    : {{ qualif.qualifier_name.value }}
                {% endif %}
            {% endfor %}
        {% endif %}</h2>

</div>

<div class='body'>    
    <ul class="nav nav-tabs" id='tab'>
            <li class="active">
                <a href="#tab-identifierqualif" data-toggle="tab"><strong>{% trans "Identifier" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-descriptionqualif" data-toggle="tab"><strong>{% trans "Description" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-treenumberslistqualif" data-toggle="tab"><strong>{% trans "Category" %}</strong></a>
            </li>
            <li class="">
                <a href="#tab-conceptlistqualif" data-toggle="tab"><strong>{% trans "Concept List" %}</strong></a>
            </li>

            <li class="">
                <a href="#tab-termlistqualif" data-toggle="tab"><strong>{% trans "Terms" %}</strong></a>
            </li>


    </ul>


    <form method="POST" enctype="multipart/form-data" class="act-form">
    {% csrf_token %}

        <div class="tab-content">
            <div id="tab-identifierqualif" class="tab-pane active">
                <div class="well">
                    {{ form.as_p }}
                </div>
            </div>

            <div id="tab-descriptionqualif" class="tab-pane">
                <div class="well">
                    {{ formset_descriptor.as_p }}
                </div>
            </div>

            <div id="tab-treenumberslistqualif" class="tab-pane">
                <div class="well">
                    {{ formset_category.as_p }}
                </div>
            </div>

            <div id="tab-conceptlistqualif" class="tab-pane">
                <div class="well">
                    {{ formset_concept.as_p }}
                </div>
            </div>


            <div id="tab-termlistqualif" class="tab-pane">
                <div class="well">
                    {{ formset_term.as_p }}
                </div>
            </div>

            <div class="control-panel form-submit">
                <button class="btn btn-primary btn-large">{% trans "Save" %}</button>
            </div>

        </div>

    </form>
</div>

{% endblock %}
