{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Thesaurus" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
</form>


<!--  header -->
<div class='header'>
    <h2>
        <i class='icon-file'></i> {% trans "Descriptors" %}
        <span class="badge badge-info" style="vertical-align: middle;">{{ paginator.count }}</span>
    </h2>
    <div class='pull-right'>
        <a href="{% url 'create_descriptor' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Descriptor" %}</a>
    </div>
</div>


<div class='body'>    
    <ul class="nav nav-tabs" id='tab'>
            <li class="active">
                <a href="{% url 'list_descriptor' %}"><strong>{% trans "Descriptors" %}</strong></a>
            </li>
            <li class="">
                <a href="{% url 'list_qualifier' %}"><strong>{% trans "Qualifiers" %}</strong></a>
            </li>
    </ul>

<!--
{% if registers %}
  Cheio
  {% for obj in object_list %}
    {{ obj.descriptor_ui }}
    {{ obj.id }}
    {{ obj.descriptors__descriptor_name }}
  <br>
  {% endfor %}
{% else %}
  Vazio
{% endif %}
-->

{{ param_descriptor_name }}


<div class="row">
    <div class="span12">
        <form name="search">
            <input type="hidden" name="page" value="{{ actions.page }}">
            {% trans "Descriptor" %}:
            <input type="text" name="descriptor_name" class="input-big" value="{{ param_descriptor_name }}">&nbsp;
            {% trans "MESH Descriptor UI" %}:
            <input type="text" name="descriptor_ui" class="input-small" value="{{ param_descriptor_ui }}">&nbsp;
            {% trans "DeCS Descriptor UI" %}:
            <input type="text" name="decs_code" class="input-small" value="{{ param_decs_code }}">
            <button class="btn btn-primary" type="submit" style="margin-top: -10px"><i class="icon-search"></i></button>
        </form>
    </div>
</div>

    
      <div class="tab-content">
        <div class="tab-pane active" id="tab-descriptor">

            <table class='table'>
                <thead>
                    <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
                    <th><a href="javascript:orderby('title');" id="id_title">{% trans "Description Name" %}</a></th>
                    <th><a href="javascript:orderby('link');" id="id_link">{% trans "MESH Descriptor UI" %}</a></th>
                    <th><a href="javascript:orderby('date');" id="id_date">{% trans "DeCS Descriptor UI" %}</a></th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                    {% for obj in registers %}
                        <tr>
                            <td><a href="{% url 'edit_descriptor' obj.id %}">{{ obj.id }}</a></td>
                            <td><span title="{{ obj_name }}">
                              <!-- vem resultado da busca -->
                              {% if obj.descriptors__descriptor_name %}

                                {{ obj.descriptors__descriptor_name }}

                              {% else %}
                                <!-- vem no todo -->
                                {% if obj.descriptor_name %}

                                  {% for desc in obj.descriptor_name %}

                                        {{ desc }}<br>

                                  {% endfor %}

                                {% endif %}

                              {% endif  %}

                            </span></td>
                            <td><span title="{{ obj.descriptor_ui }}">{{ obj.descriptor_ui }}</span></td>
                            <td><span title="{{ obj.decs_code }}">{{ obj.decs_code }}</span></td>
                            <td>
                                <a href="{% url 'edit_descriptor' obj.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                                <a href="{% url 'delete_descriptor' obj.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "pagination_generic.html" %}

          </div>
        
    </div>

</div>

{% endblock %}
