{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Thesaurus" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Thesaurus" %}</li>
{% endblock %}


{% block content %}
<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">

    <input type="hidden" name="descriptor_name" value="{{ actions.descriptor_name }}">
    <input type="hidden" name="filter_language" value="{{ actions.filter_language }}">
    <input type="hidden" name="descriptor_ui" value="{{ actions.descriptor_ui }}">
    <input type="hidden" name="decs_code" value="{{ actions.decs_code }}">
    <input type="hidden" name="tree_number" value="{{ actions.tree_number }}">

    <input type="hidden" name="visited" value="{{ actions.visited }}">


</form>

<!--  header -->
<div class='header'>
    <h2>
        <i class='icon-file'></i> {% trans "Descriptors" %}
        {% if paginator.count %}
        <span class="badge badge-info" style="vertical-align: middle;">{{ paginator.count }}</span>
        {% endif %}
    </h2>
    <div class='pull-right'>
        <a href="{% url 'create_descriptor' %}" class='btn btn-primary'><i class='icon-file'></i> {% trans "New Descriptor" %}</a>
    </div>
</div>

<div class='body'>    
    <ul class="nav nav-tabs" id='tab'>
            <li class="active">
                <a href="{% url 'list_descriptor' %}"><strong>{% trans "Descriptors" %}</strong></a>
            </li>
            <li class="">
                <a href="{% url 'list_qualifier' %}"><strong>{% trans "Qualifiers" %}</strong></a>
            </li>
    </ul>


    <div class="row">
        <div class="span12">
            <form name="search">
                <input type="hidden" name="page" value="">
                <input type="hidden" name="visited" value="ok">

                {% trans "Descriptor" %}:
                <input type="text" name="descriptor_name" class="input-big" value="{{ actions.descriptor_name }}">&nbsp;


                {% trans "Language" %}:
                <select name="filter_language">
                    <option value="">{% trans "All" %}</option>
                    <option value="en" {% if actions.filter_language == 'en' %}selected="true"{% endif %}>{% trans "English" %}</option>
                    <option value="es" {% if actions.filter_language == 'es' %}selected="true"{% endif %}>{% trans "Spanish Latin America" %}</option>
                    <option value="pt-br" {% if actions.filter_language == 'pt-br' %}selected="true"{% endif %}>{% trans "Portuguese" %}</option>
                    <option value="es-es" {% if actions.filter_language == 'es-es' %}selected="true"{% endif %}>{% trans "Spanish Spain" %}</option>
                    <option value="fr" {% if actions.filter_language == 'fr' %}selected="true"{% endif %}>{% trans "French" %}</option>
                </select>

                <br>

                {% trans "MESH Descriptor UI" %}:
                <input type="text" name="descriptor_ui" class="input-small" value="{{ actions.descriptor_ui }}">&nbsp;

                {% trans "DeCS Descriptor UI" %}:
                <input type="text" name="decs_code" class="input-small" value="{{ actions.decs_code }}">

                {% trans "Tree Number" %}:
                <input type="text" name="tree_number" class="input-medium" value="{{ actions.tree_number }}">

                <button class="btn btn-primary" type="submit" style="margin-top: -10px"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>

    
    <div class="tab-content">
        <div class="tab-pane active" id="tab-descriptor">

        <table class='table'>
            <thead>
<!--                 <th><a href="javascript:orderby('id');" id="id_id">#</a></th> -->
                <th><a href="javascript:orderby('descriptors__descriptor_name');" id="id_descriptor_name">{% trans "Description Name" %}</a></th>
                <th><a href="javascript:orderby('descriptor_ui');" id="id_descriptor_ui">{% trans "MESH Descriptor UI" %}</a></th>
                <th><a href="javascript:orderby('decs_code');" id="id_decs_code">{% trans "DeCS Descriptor UI" %}</a></th>
                <th>{% trans "Actions" %}</th>
            </thead>
            <tbody>

            {% for obj in registers %}
                <tr>
<!--                     <td><a href="{% url 'edit_descriptor' obj.id %}">{{ obj.id }}</a></td> -->
                    <td>{{ obj.descriptors__descriptor_name }} ({{ obj.descriptors__language_code }})</td>
                    <td>{{ obj.descriptor_ui }}</td>
                    <td>{{ obj.decs_code }}</td>
                    <td>
                        <a href="{% url 'edit_descriptor' obj.id %}" class='btn btn-mini'><i class='icon-pencil'></i></a>
                        <a href="{% url 'delete_descriptor' obj.id  %}" class='btn btn-mini' title="{% trans 'Remove' %}"><i class='icon-remove'></i></a>
                    </td>
                </tr>
            {% empty %}
                {% if actions.visited %}
                    <tr>
                        <td colspan="4">{% trans "No results found" %}</td>
                    </tr>
                {% endif %}

            {% endfor %}

            </tbody>
        </table>

        {% include "pagination_generic.html" %}

        </div>

    </div>

</div>

{% endblock %}
